<!DOCTYPE html>
<html ng-app="pronwe">
<head>
		<meta charset="utf-8">
		<title>Настройки - организация</title>

    <!-- =============== VENDOR STYLES ===============-->
    	<link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/vendor/angular-material/css/angular-material.min.css">
		<link rel="stylesheet" href="../assets/css/app1.css">
		<link rel="stylesheet" href="../assets/css/org.css">
		<link rel="stylesheet" href="../assets/vendor/cropper/dist/cropper.css">
		<link rel="stylesheet" href="../assets/css/upload.css">

    <!-- =============== VENDOR SCRIPTS ===============-->
    	<script src="../assets/vendor/jquery/dist/jquery.js"></script>
		<script src="../assets/vendor/bootstrap/dist/js/bootstrap-tooltip.js"></script>
		
		<script src="../assets/vendor/angular/angular.min.js"></script>
		<script src="../assets/vendor/angular/i18n/angular-locale_ru-ru.js"></script>
		<script src="../assets/vendor/angular/angular-aria.min.js"></script>
		<script src="../assets/vendor/angular/angular-animate.min.js"></script>
		<script src="../assets/vendor/angular/angular-ngmask.min.js"></script>
		<script src="../assets/vendor/angular-socialshare/angular-socialshare.js"></script>
		<script src="../assets/vendor/angular-material/js/angular-material.min.js"></script>
		<script src="../assets/vendor/cropper/dist/cropper.js"></script>
		<script src="../assets/js/upload.js"></script>
		<script src="../assets/js/org.js"></script>
		

</head>
<body ng-controller="appCtrl">
	<div class="wrapper">
		<header></header>

		<div class="content-wrapper">
			<!-- ORGANIZATION INFO -->
			<div class="org-block" ng-controller="orgInfoCtrl as org">
				<div class="org-background" style="background-image: url(../../assets/img/temp/{{org.background}});">
					<div class="org-avatar">
						<img src="../../assets/img/temp/{{org.avatar}}">
					</div>
					<div class="org-name-background"></div>
					<div class="org-name">
						<h2 class="inline">{{org.name}}</h2>
						<md-button ng-href="{{org.link}}" class="md-icon-button inline" aria-label="OrgLink" data-toggle="tooltip" data-placement="top" title="Официальный сайт" md-ink-ripple="#64b5f6">
							<md-icon md-svg-icon="../../assets/img/icons/internet.svg"></md-icon>
						</md-button>
					</div>
				</div>
				<div class="org-nav-block">
					<div class="org-nav">
						<md-button ng-href="orgpage-events.html" class="md-btn" aria-label="tabEvents" md-ink-ripple="#64b5f6">
							Мероприятия
							<div class="active-tab"></div>
						</md-button>
						<md-button ng-href="orgpage-settings-main.html" class="md-btn active" aria-label="tabSettings" md-ink-ripple="#64b5f6">
							Настройки
							<div class="active-tab"></div>
						</md-button>
					</div>
				</div>
			</div>
			<div class="columns-area">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-tabs">
							<md-button class="md-btn active" ng-href="orgpage-settings-main.html" aria-label="tabSettingsMain" md-ink-ripple="#64b5f6">
								Организация
								<div class="active-link"></div>
							</md-button>
							<md-button class="md-btn" ng-href="orgpage-settings-team.html" aria-label="tabSettingsTeam" md-ink-ripple="#64b5f6">
								Команда
								<div class="active-link"></div>
							</md-button>
							<md-button class="md-btn" ng-href="orgpage-settings-logs.html" aria-label="tabSettingsLogs" md-ink-ripple="#64b5f6">
								Активности
								<div class="active-link"></div>
							</md-button>
							<md-button class="md-btn" ng-href="orgpage-settings-balance.html" aria-label="tabSettingsBalance" md-ink-ripple="#64b5f6">
								Оплата услуг
								<div class="active-link"></div>
							</md-button>
						</div>
					</div>
					<div class="panel-body">
						<form>
							<div class="settings-main-c1 inline">
								<h4>Основная информация</h4>
								<div class="form-group">
									<label class="control-label">Название организации</label>
									<input type="text" name="orgname" class="form-control input-sm" value="Университет ИТМО" required>
								</div>
								<div class="form-group">
									<label class="control-label">Ссылка на страницу</label>
									<input type="text" name="orgsite" class="form-control input-sm" value="http://ifmo.votepad.ru" disabled>
									<span class="help-block">Хотите изменить ссылку на Вашу организацию? Напишите нам <a href="">support@votepad.ru</a></span>
								</div>
								<div class="form-group">
									<label class="control-label">Ссылка на официальный сайт</label>
									<input type="text" name="orgofficialsite" class="form-control input-sm" value="http://ifmo.ru" required>
								</div>
								<md-button id="logo_upload" class="md-btn md-btn-md md-btn-default upload" md-ink-ripple="#64b5f6">Обновить фото логотипа</md-button>
								<md-button id="back_upload" class="md-btn md-btn-md md-btn-default upload" md-ink-ripple="#64b5f6" style="float: right;">Обновить фото обложки</md-button>
							</div>
							<div class="settings-main-c2 inline">
								<h4>Контактная информация</h4>
								<div class="form-group">
									<label class="control-label">Доверенное лицо</label>
									<input type="text" name="person" class="form-control input-sm" value="Туров Николай Дмитриевич" required>
									<span class="help-block">Фамилия Имя Отчество</span>
								</div>
								<div class="form-group">
									<label class="control-label">Электронная почта</label>
									<input type="email" name="email" class="form-control input-sm" value="ifmo@ya.ru" required>
								</div>
								<div class="form-group">
									<label class="control-label">Контактный телефон</label>
									<input type="text" name="phone" ng-model="phone" class="form-control" mask="+9 (999) 999-9999" clean="true" ng-value="79999876543" required>
								</div>	
								<md-button type="submit" class="md-btn md-btn-md md-btn-labeled md-btn-success ">
									<span class="md-btn-icon"><i class="fa fa-check"></i></span> Сохранить
								</md-button>
								<md-button class="md-btn md-btn-md md-btn-labeled md-btn-danger" style="float: right;">
									<span class="md-btn-icon"><i class="fa fa-times"></i></span> Удалить организацию
								</md-button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</div>
</body>
</html>