@font-face {
	font-family: pronwe;
	src: url(../../../assets/fonts/Exo2-Medium.ttf);
}

body {
	height: 100%;
	width: 100%;
	overflow: visible !important;
    font-family: pronwe;
}
html, body{
	color: #656565;
    background-color: #f5f7fa;
}
a, a:hover, a:focus, button, button:hover, button:focus{
	outline: none;
	text-decoration: none;
	color: #656565;
}
ul{
	padding: 0;
	margin: 0;
}
.tooltip-inner{
	background-color: rgba(0,0,0,0.54);
	color: #fff;
	font-size: 10px;
}
.content-body{
	padding: 20px;
}
.event-group{
	position: relative;
	border-radius: 3px;
	margin: 0 15px 50px 15px;
	background-color: #fff;
	display: inline-block;
	list-style: none;
	padding: 0;
	width: 220px;
	height: 190px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}
.event-wrapper{
	position: relative;
	height: 170px;
	padding: 10px;
}
.event-image{
	position: relative;
	border-radius: 3px;
	width: 200px;
	height: 150px;
	background-size: cover !important;
}
.event-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
}
.event-preview{
	opacity: 0;
	position: relative;
	margin: 10px;
	height: 150px;
	border: 1px;
}
.event-link:hover > .event-preview, .event-link:focus > .event-preview{
	transition: 0.4s;
	opacity: 0.95;
	background-color: #fff;
}
.event-preview h2{
	margin-top: 3px;
	margin-left: 3px;
	width: 80%;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.event-preview p{
	margin: 3px;
	font-size: 11px;
}
.event-preview h3{
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 20px;
	text-align: center;
	font-size: 10px;
}
.event-result{
	position: absolute;
	top: 13px;
	right: 13px;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #fff;
	opacity: 0.75;
	border-radius: 20%;
	-webkit-box-sizing: content-box;
}
	.event-result .md-button{
		border-radius: 20%;
		position: relative;
		width: 20px;
		min-width: 18px;
		height: 20px;
		min-height: 18px;
		margin: 0;
		padding: 0;		
		line-height: 0;
	}
	.event-result .md-button:hover, .event-result .md-button:focus{
		background-color: #fff;
		box-shadow: 0 1px 1px 1px rgba(0,0,0,.08), 0 0 2px 2px rgba(0,0,0,0.1);
	}
	.event-result .md-button md-icon{
		position: relative;
		width: 20px;
		height: 20px;
		padding: 2px;
		min-width: 15px;
		min-height: 15px;
		opacity: 0.45;
	}
	.event-result:hover, .event-result:focus{
		opacity: 1;
	}

.event-footer{
	position: relative;
	padding: 0;
}
.event-footer-left{
	position: relative;
	list-style: none;
	margin-top: 6px;
	width: 40%;
	height: 18px;
	float: left;
	padding: 0;
}
	.event-footer-left md-menu-bar{
		padding: 0;
	}
	.event-footer-left li{
		display: table-cell;
		height: 18px !important;
		border-radius: 20%;
		padding-right: 10px;
	}
	.event-footer-left .md-button{
		position: relative;
		width: 18px;
		min-width: 18px;
		height: 18px;
		min-height: 18px;
		margin: 0;
		padding: 3px;
		line-height: 0;
	}
	.event-footer-left .md-button md-icon{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 15px;
		height: 15px;
		min-width: 15px;
		min-height: 15px;
		opacity: 0.45;
	}

.event-footer-right{
	position: relative;
	list-style: none;
	margin-top: 6px;
	width: 60%;
	height: 18px;
	float: right;
	padding: 0;
}
	.event-footer-right li{
		display: table-cell;
		float: right;
		height: 18px !important;
		border-radius: 20%;
		padding-left: 10px;
	}
	.event-footer-right .md-button, .event-footer-right .div-views{
		position: relative;
		width: auto;
		min-width: 18px;
		height: 18px;
		min-height: 18px;
		margin: 0;
		padding: 0;
		line-height: 0;
	}
	.event-footer-right .md-button md-icon, .event-footer-right .div-views img{
		position: relative;
		top: 4px;
		left: 2px;
		width: 12px;
		height: 12px;
		min-width: 12px;
		min-height: 12px;
		opacity: 0.45;
	}
	.event-footer-right .md-button span, .event-footer-right .div-views span{
		position: relative;
		vertical-align: -webkit-baseline-middle;
		font-size: 12px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.event-footer-right li:hover, .event-footer-right .md-button:hover{
		font-weight: 600;
	}

.event-footer-left .md-button:hover, .event-footer-right .md-button:hover{
	box-shadow: 0 1px 1px 1px rgba(0,0,0,.08), 0 0 2px 2px rgba(0,0,0,0.1);
	transition: .4s;
	background-color: #fff;
}

.fav .active{
	color: #ec2121;
}

.md-menu-sm{
	padding: 0 !important;
}
.md-menu-sm md-menu-item{
	min-height: 24px;
	height: 24px;
	width: auto;
}
.md-menu-sm md-menu-divider{
	margin: 0;
}
.md-menu-sm md-menu-item .md-button{
	min-height: 24px;
	height: 24px;
	font-size: 12px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-sm md-menu-item .md-button md-icon{
	margin: 3px 5px 3px 0;
	height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
}
.md-menu-md{
	padding: 0 !important;
}
.md-menu-md md-menu-item{
	min-height: 36px;
	height: 36px;
	width: auto;
}
.md-menu-md md-menu-divider{
	margin: 0;
}
.md-menu-md md-menu-item .md-button{
	min-height: 36px;
	height: 36px;
	font-size: 14px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-md md-menu-item .md-button md-icon{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
}
.md-menu-lg{
	padding: 0 !important;
}
.md-menu-lg md-menu-divider{
	margin: 0;
}

.md-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    text-transform: none;
    padding: 6px 16px;
    margin: 0;
    font-size: 14px;
    line-height: 1.52857143;
    min-height: 10px;
	min-width: 10px;
	border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	.md-btn:hover, .md-btn.md-button.md-focused{
		-webkit-transform: translate3d(0,-1px,0);
     	transform: translate3d(0,-1px,0); 
		box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
	}
	.md-btn.disabled, .md-btn[disabled]{
		cursor: not-allowed;
		opacity: .65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.md-btn-xs{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
.md-btn-sm{
	padding: 5px 10px;
	font-size: 13px;
	line-height: 1.5;
}
.md-btn-md{
	padding: 6px 18px;
	font-size: 14px;
	line-height: 1.4;
}
.md-btn-lg{
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.33;
}

.md-btn-default{
	color: #333;
	background-color: #fff;
	border: 1px solid #eaeaea;
	transform: border-color .4s;
}
	.md-btn-default:focus, .md-btn-default:hover{
		color: #333;
		background-color: #f5f5f5 !important;
	}
	.md-btn.md-btn-default.md-button:hover{
		border-color: rgb(192,192,192) !important;
	}
	.md-btn-default.disabled, .md-btn-default.disabled:focus, .md-btn-default.disabled:hover, .md-btn-default[disabled],.md-btn-default[disabled]:focus, .md-btn-default[disabled]:hover{
		color: #333;
		background-color: #fff !important;
	}
.md-btn-primary{
	color: #fff;
	background-color: #5d9cec !important;
	border-color: #5899eb !important;
}
	.md-btn-primary:focus, .md-btn-primary:hover{
		color: #fff;
		background-color: #4b91ea !important;
		border-color: #3483e7 !important;
	}
	.md-btn-primary.disabled, .md-btn-primary.disabled:focus, .md-btn-primary.disabled:hover, .md-btn-primary[disabled],.md-btn-primary[disabled]:focus, .md-btn-primary[disabled]:hover{
		color: #fff;
		background-color: #5d9cec !important;
	}
.md-btn-success{
	color: #fff;
	background-color: #27c24c !important;
	border-color: #26be4a !important;
}
	.md-btn-success:focus, .md-btn-success:hover{
		color: #fff;
		background-color: #24b145 !important;
		border-color: #1f9c3d !important;
	}
	.md-btn-success.disabled, .md-btn-success.disabled:focus, .md-btn-success.disabled:hover, .md-btn-success[disabled],.md-btn-success[disabled]:focus, .md-btn-success[disabled]:hover{
		color: #fff;
		background-color: #27c24c !important;
	}
.md-btn-info{
	color: #fff;
	background-color: #23b7e5 !important;
	border-color: #1eb6e4 !important;
}
	.md-btn-info:focus, .md-btn-info:hover{
		color: #fff;
		background-color: #1aacda !important;
		border-color: #179ac3 !important;
	}
	.md-btn-info.disabled, .md-btn-info.disabled:focus, .md-btn-info.disabled:hover, .md-btn-info[disabled],.md-btn-info[disabled]:focus, .md-btn-info[disabled]:hover{
		color: #fff;
		background-color: #23b7e5 !important;
	}
.md-btn-warming{
	color: #fff;
	background-color: #ff902b !important;
	border-color: #ff8d26 !important;
}
	.md-btn-warming:focus, .md-btn-warming:hover{
		color: #fff;
		background-color: #ff8517 !important;
		border-color: #fc7800 !important;
	}
	.md-btn-warming.disabled, .md-btn-warming.disabled:focus, .md-btn-warming.disabled:hover, .md-btn-warming[disabled],.md-btn-warming[disabled]:focus, .md-btn-warming[disabled]:hover{
		color: #fff;
		background-color: #ff902b !important;
	}
.md-btn-danger{
	color: #fff;
	background-color: #f05050 !important;
	border-color: #f04b4b !important;
}
	.md-btn-danger:focus, .md-btn-danger:hover{
		color: #fff;
		background-color: #ee3d3d !important;
		border-color: #ec2626 !important;
	}
	.md-btn-danger.disabled, .md-btn-danger.disabled:focus, .md-btn-danger.disabled:hover, .md-btn-danger[disabled],.md-btn-danger[disabled]:focus, .md-btn-danger[disabled]:hover{
		color: #fff;
		background-color: #f05050 !important;
	}
