<div layout="row" layout-align="center center">
  <!-- PRONWE ICON -->
  <md-button aria-label="ProWNE" class="md-icon-button" ng-href="//pronwe.ru">
      <md-icon md-svg-src="../assets/img/ProNWE_logo.svg"></md-icon>
  </md-button>
  <!-- CURENT ORGANIZATION -->
    <md-button class="curent-organization" ng-href="{{Orgslist.curOrg.pronwelink}}">{{Orgslist.curOrg.name}}</md-button>
  <!-- ORGANIZATIONS LIST -->
  <md-menu ng-hide="Orgslist.hidden">
    <md-button aria-label="Organizations" class="md-icon-button" ng-click="user.openMenu($mdOpenMenu)">
      <md-icon md-svg-icon="../assets/img/icons/more_vert.svg"></md-icon>
    </md-button>
    <md-menu-content class="organizations">
      <md-menu-item ng-repeat="org in Orgslist.orgs">
        <md-button ng-href="{{org.link}}" md-ink-ripple="#64b5f6"> {{org.name}} </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-href="#/org/add" md-ink-ripple="#64b5f6">
          <md-icon md-svg-icon="../assets/img/icons/plus.svg"></md-icon>
          Добавить организацию
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
