button {
    overflow: visible;
    text-transform: none;
    padding: 0;
    border: 0;
    line-height: inherit;
    background-color: inherit;
}
.btn{
    display: inline-block;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: .9em;
    font-weight: normal;
    padding: 5px 13px;
    outline: 0;
    border-radius: 3px;
    margin: 0 10px 10px 0;
}
.btn--lg{
    font-size: 1em;
    padding: 10px 18px;
}
.btn--sm{
    padding: 3px 8px;
}
.btn--round{
    border-radius: 30px;
}
.btn--scaled:hover,
.btn--scaled:focus{
    transform: scale(1.07);
}
.btn--white{
    color: #413a41;
    background: #FCFCFC;
}
.btn--hollow{
    color: #FCFCFC;
    border-color: #FCFCFC;
    background: transparent;
}
.btn--hollow:hover,
.btn--hollow:focus{
    color: #FCFCFC;
}
.btn--brand{
    color: #FCFCFC;
    background: #008DA7;
    border-color: #1F6E7D;
}
.btn--brand:hover,
.btn--brand:focus{
    color: #FCFCFC;
    background: #1F6E7D;
    border-color: #1F6E7D;
}
.btn--default{
    color: #413a41;
    background: #FFF;
    border-color: #cfcfcf;
}
.btn--default:hover,
.btn--default:focus{
    color: #413a41;
    background: #f5f5f5;
    border-color: #cfcfcf;
}
.btn--success{
    color: #FCFCFC;
    background: #27c24c;
    border-color: #1f9c3d;
}