
.collapse {
    display: none;
}
.collapse--opened{
    display: block;
}
.collapsing {
    height:0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height,visibility;
}

.collapse-btn[data-opened="true"]:before {
    content: attr(data-textopened);
}
.collapse-btn[data-opened="false"]:before {
    content: attr(data-textclosed);
}