/*
xs =>   < 680
sm =>   > 680 && < 1024
md =>   > 1024 && < 1240
ld =>   > 1240
*/

.row {
    margin: 0 -15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    padding: 0 15px;
    float: left;
}

.width-0, .width-50, .width-75, .width-100, .width-180, .width-200, .width-260, .width-290, .width-300, .width-360, .width-460, .width-585, .width-640, .width-780, .width-840, .width-980, .width-1180, .width-full, .width-auto,
.width-sm-0, .width-sm-50, .width-sm-75, .width-sm-100, .width-sm-180, .width-sm-200, .width-sm-260, .width-sm-290, .width-sm-300, .width-sm-360, .width-sm-460, .width-sm-585, .width-sm-640, .width-sm-780, .width-sm-840, .width-sm-980, .width-sm-1180, .width-sm-full, .width-sm-auto,
.width-md-0, .width-md-50, .width-md-75, .width-md-100, .width-md-180, .width-md-200, .width-md-260, .width-md-290, .width-md-300, .width-md-360, .width-md-460, .width-md-585, .width-md-640, .width-md-780, .width-md-840, .width-md-980, .width-md-1180, .width-md-full, .width-md-auto,
.width-lg-0, .width-lg-50, .width-lg-75, .width-lg-100, .width-lg-180, .width-lg-200, .width-lg-260, .width-lg-290, .width-lg-300, .width-lg-360, .width-lg-460, .width-lg-585, .width-lg-640, .width-lg-780, .width-lg-840, .width-lg-980, .width-lg-1180, .width-lg-full, .width-lg-auto{
    float: left;
}

.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; }
.col-xs-auto { width: auto; }

.col-xs-offset-auto{ margin-left: auto; }
.col-xs-offset-12 { margin-left: 100%; }
.col-xs-offset-11 { margin-left: 91.66666667%; }
.col-xs-offset-10 { margin-left: 83.33333333%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-8 { margin-left: 66.66666667%; }
.col-xs-offset-7 { margin-left: 58.33333333%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-5 { margin-left: 41.66666667%; }
.col-xs-offset-4 { margin-left: 33.33333333%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-2 { margin-left: 16.66666667%; }
.col-xs-offset-1 { margin-left: 8.33333333%; }
.col-xs-offset-0 { margin-left: 0; }

.width-0{width:0}
.width-50{width:50px}
.width-75{width:75px}
.width-100{width:100px}
.width-180{width:180px}
.width-200{width:200px}
.width-260{width:260px}
.width-290{width:290px;}
.width-300{width:300px;}
.width-360{width:360px;}
.width-460{width:460px;}
.width-585{width:585px;}
.width-640{width:640px;}
.width-780{width:780px;}
.width-840{width:840px;}
.width-980{width:980px;}
.width-1180{width:1180px;}
.width-full{width:100%}
.width-auto{width:auto}

@media (min-width: 680px) {
    .col-sm-12 { width: 100%;}
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9 { width: 75%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-6 { width: 50%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-4 { width: 33.33333333%; }
    .col-sm-3 { width: 25%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-1 { width: 8.33333333%; }
    .col-sm-auto { width: auto; }

    .col-sm-offset-auto{ margin-left: auto; }
    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9 { margin-left: 75%; }
    .col-sm-offset-8 { margin-left: 66.66666667%; }
    .col-sm-offset-7 { margin-left: 58.33333333%; }
    .col-sm-offset-6 { margin-left: 50%; }
    .col-sm-offset-5 { margin-left: 41.66666667%; }
    .col-sm-offset-4 { margin-left: 33.33333333%; }
    .col-sm-offset-3 { margin-left: 25%; }
    .col-sm-offset-2 { margin-left: 16.66666667%; }
    .col-sm-offset-1 { margin-left: 8.33333333%; }
    .col-sm-offset-0 { margin-left: 0; }

    .width-sm-0{width:0}
    .width-sm-50{width:50px}
    .width-sm-75{width:75px}
    .width-sm-100{width:100px}
    .width-sm-180{width:180px}
    .width-sm-200{width:200px}
    .width-sm-260{width:260px}
    .width-sm-290{width:290px;}
    .width-sm-300{width:300px;}
    .width-sm-360{width:360px;}
    .width-sm-460{width:460px;}
    .width-sm-585{width:585px;}
    .width-sm-640{width:640px;}
    .width-sm-780{width:780px;}
    .width-sm-840{width:840px;}
    .width-sm-980{width:980px;}
    .width-sm-1180{width:1180px;}
    .width-sm-full{width:100%}
    .width-sm-auto{width:auto}

}

@media (min-width: 1024px) {
    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }
    .col-md-auto  { width: auto; }

    .col-md-offset-auto  { margin-left: auto; }
    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }

    .width-md-0{width:0}
    .width-md-50{width:50px}
    .width-md-75{width:75px}
    .width-md-100{width:100px}
    .width-md-180{width:180px}
    .width-md-200{width:200px}
    .width-md-260{width:260px}
    .width-md-290{width:290px;}
    .width-md-300{width:300px;}
    .width-md-360{width:360px;}
    .width-md-460{width:460px;}
    .width-md-585{width:585px;}
    .width-md-640{width:640px;}
    .width-md-780{width:780px;}
    .width-md-840{width:840px;}
    .width-md-980{width:980px;}
    .width-md-1180{width:1180px;}
    .width-md-full{width:100%}
    .width-md-auto{width:auto}
}

@media (min-width: 1240px) {
    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }
    .col-lg-auto  { width: auto; }

    .col-lg-offset-auto{ margin-left: auto; }
    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }

    .width-lg-0{width:0}
    .width-lg-50{width:50px}
    .width-lg-75{width:75px}
    .width-lg-100{width:100px}
    .width-lg-180{width:180px}
    .width-lg-200{width:200px}
    .width-lg-260{width:260px}
    .width-lg-290{width:290px;}
    .width-lg-300{width:300px;}
    .width-lg-360{width:360px;}
    .width-lg-460{width:460px;}
    .width-lg-585{width:585px;}
    .width-lg-640{width:640px;}
    .width-lg-780{width:780px;}
    .width-lg-840{width:840px;}
    .width-lg-980{width:980px;}
    .width-lg-1180{width:1180px;}
    .width-lg-full{width:100%}
    .width-lg-auto{width:auto}
}

