.footer {
    position: relative;
    width: 100%;
    background-color: #008DA7;
}
.footer--fixed{
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer__container{
    margin: auto;
}

.footer__text,
.footer__text:hover,
.footer__text:focus {
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.footer__brand-icon {
    font-size: 2em !important;
    margin-bottom: 10px;
}
.footer__brand {
    font-size: 2em;
    margin-left: 15px;
    margin-bottom: 5px;
    vertical-align: top;
}

.footer__social{
    text-align: center;
}
.footer__social-link {
    display: inline-block;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 10px;
    font-size: .9em;
    color: #fcfcfc !important;
}

.footer__social-link.tw {
    background: #55ACEE;
}
.footer__social-link.vk {
    background: #5378A3;
}

.footer__social-link:hover,
.footer__social-link:focus {
    opacity: .85;
}

@media (max-width: 680px) {
    .footer__block{
        text-align: center;
        margin: 10px 0;
        width: 100%;
    }
}



