.form-wrapper,
.block-wrapper{
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}
.form-wrapper--flex-end,
.block-wrapper--flex-end{
    align-items: flex-end;
}

.form,
.block{
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    border: 0;
}

.form__heading,
.block__heading{
    display: block;
    font-weight: 700;
    line-height: 1.4;
    border-bottom: 1px solid #e7e8ec;
}

.form__heading{
    padding: 15px 30px;
}

.block__heading{
    padding: 10px 15px;
}

.form__body,
.block__body{
    display: block;
    position: relative;
}

.form__body{
    padding: 20px 15px 5px;
}
.block__body{
    padding: 15px;
}

.form__submit,
.block__footer{
    display: block;
    background-color: #fafbfc;
    border-top: 1px solid #e7e8ec;
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

.form--sm{
    max-width: 360px;
}


.form-group{
    position: relative;
    float: left;
    width: 100%;
}
.form-group:not(:last-child){
    margin-bottom: 15px;
}

.form-group__label{
    display: inline-block;
    max-width: 100%;
    font-size: .9em;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 6px;
    color: #413a41;
}
@media (min-width: 768px) {
    .form-group__label{
        padding-top: 6px;
    }
}
.form-group--has-success .form-group__label{
    color: #27c24c;
}
.form-group--has-error .form-group__label{
    color: #f05050;
}

.form-group__control{
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: .9em;
    line-height: 1.3em;
    color: #413a41;
    background: #FFFFFF;
    border: 1px solid #d7d8db;
    border-radius: 3px;
}
.form-group__control-static{
    padding: 6px 0;
    line-height: 1.1em;
    margin: 0;
}
@media (min-width: 992px) {
    .form-group__control-static {
        padding: 6px 10px;
    }
}

.form-group__control:focus{
    border-color: #35BAD3;
}
.form-group__control[disabled]{
    background-color: #F5F5F5;
    cursor: not-allowed;
    user-select: none;
}

.form-group--has-success .form-group__control{
    border-color: #27c24c;
}
.form-group--has-success .form-group__control:focus{
    border-color: #24b145;
}

.form-group--has-error .form-group__control{
    border-color: #f05050;
}
.form-group--has-error .form-group__control:focus{
    border-color: #ee3d3d;
}

.form-group__help-block{
    display: block;
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .03em;
    margin-bottom: 10px;
    color: #BDBDBD;
}

/** control-group */
.form-group__control-group{
    position: relative;
    display: flex;
}

.form-group__control-group-input{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-group__control-group-addon{
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    font-size: .9em;
    min-width: 1%;
    text-align: center;
    background-color: #edf1f2;
    border: 1px solid #d7d8db;
    border-radius: 0;
    white-space: nowrap;
}

.form-group__control-group-addon:first-child {
    border-right: 0;
}
.form-group__control-group-addon:last-child {
    border-left: 0;
}

.form-group__control-group-input:first-child,
.form-group__control-group-addon:first-child {
    border-radius: 3px 0 0 3px;
}
.form-group__control-group-input:last-child,
.form-group__control-group-addon:last-child{
    border-radius: 0 3px 3px 0;
}

.form-group__control-group-addon > .fa {
    width: 15px;
}

fieldset {
    border: 0;
    min-width: 0;
    padding: 0 0 20px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 0 20px;
}

fieldset:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

fieldset .form-group {
    margin-bottom: 0;
}

/** checkbox */
/** radio */
.checkbox:not(:checked),
.checkbox:checked,
.radio:not(:checked),
.radio:checked{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox:checked + .checkbox-label:before{
    top: 1px;
    left: 0;
    width: 9px;
    height: 16px;
    border-radius: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 2px solid #008DA7;
    border-bottom: 2px solid #008DA7;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}
.checkbox + .checkbox-label:after,
.radio + .radio-label:after{
    transform: scale(0);
}
.radio:checked + .radio-label:after{
    transform: scale(.4);
    background-color: #008DA7;
    border: 2px solid #008DA7;
}
.checkbox + .checkbox-label:before,
.checkbox + .checkbox-label:after,
.radio + .radio-label:before,
.radio + .radio-label:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 14px;
    height: 14px;
    z-index: 0;
    transition: .2s;
    border: 2px solid #757575;
    margin-top: 2px;
}
.checkbox + .checkbox-label:before,
.checkbox + .checkbox-label:after{
    border-radius: 3px;
}
.radio + .radio-label:before,
.radio + .radio-label:after{
    border-radius: 50%;
}
.checkbox:not(:checked) + .checkbox-label,
.checkbox:checked + .checkbox-label,
.radio:not(:checked) + .radio-label,
.radio:checked + .radio-label{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: .9em;
    user-select: none;
}


/** placeholder color */
input::-webkit-input-placeholder{ color:#BDBDBD; }
input::-moz-placeholder { color:#BDBDBD; }
input:-moz-placeholder { color:#BDBDBD; }
input:-ms-input-placeholder { color:#BDBDBD; }

textarea::-webkit-input-placeholder { color:#BDBDBD; }
textarea::-moz-placeholder { color:#BDBDBD; }
textarea:-moz-placeholder { color:#BDBDBD; }
textarea:-ms-input-placeholder { color:#BDBDBD; }


.form__body:before,
.form__body:after,
.form__submit:before,
.form__submit:after,
.block__body:before,
.block__body:after,
.block__footer:before,
.block__footer:after{
    content: " ";
    display: table;
    clear: both;
}