fieldset {
    border: 0;
    min-width: 0;
    padding: 0 0 20px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 0 20px;
}

fieldset:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

fieldset .form-group {
    margin-bottom: 0;
}

.form-group{
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 0 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group__input,
.form-group__textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    min-height: 18px;
    height: 1.5em;
    width: 100%;
    font-size: 1em;
    box-sizing: content-box;
    transition: all 0.3s;
}

.form-group__textarea{
    overflow-y: hidden;
    padding: .5em 0 .5em 0;
    resize: none;
    height: 52px;
}

.form-group__label{
    color: #9e9e9e;
    position: absolute;
    top: .3em;
    font-size: 1em;
    cursor: text;
    transition: .2s ease-out;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-group__input:focus,
.form-group__textarea:focus{
    border-bottom: 1px solid #008DA7;
    box-shadow: 0 1px 0 0 #008DA7;
}

.form-group__label--active,
.form-group__input:focus + .form-group__label,
.form-group__textarea:focus + .form-group__label{
    font-size: .8em;
    letter-spacing: .01em;
    transform: translateY(-140%);
}

.form-group__input:focus + .form-group__label,
.form-group__textarea:focus + .form-group__label {
    color: #008DA7;
}

/*  disabled  */
.form-group__input[disabled],
.form-group__textarea[disabled]{
    border-bottom: 1px dotted rgba(0,0,0,0.26);
    cursor: not-allowed;
}

.form-group__input[disabled],
.form-group__textarea[disabled],
.form-group__input[disabled] + .form-group__label,
.form-group__textarea[disabled] + .form-group__label{
    color: rgba(0,0,0,0.26);
}


/*   with help   */
.form-group__help-block{
    display: block;
    font-size: 12px;
    padding-top: 3px;
    color: #A1A1A1;
}

/*   with counter  */
.form-group__counter{
    display: block;
    position: absolute;
    font-size: .8em;
    letter-spacing: .035em;
    top: 6px;
    right: 1px;
    color: #a1a1a1;
}

/*  with icon  */
.form-group--with-icon .form-group__input{
    padding-left: 30px;
    width: calc(100% - 30px);
}

.form-group__label-icon{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.7em;
    width: 30px;
    text-align: center;
    transition: .1s;
}

.form-group--with-icon .form-group__input:focus{
    box-shadow: none;
}

.form-group__input:focus + .form-group__label-icon {
    color: #008DA7;
    font-size: 1em;
    transform: none;
}

/** invalid class */
.form-group__input--invalid,
.form-group__input--invalid:focus,
.form-group__textarea--invalid,
.form-group__textarea--invalid:focus{
    border-bottom: 1px solid #f05050;
    box-shadow: 0 1px 0 0 #f05050;
}
.form-group__input--invalid + .form-group__label,
.form-group__input--invalid:focus  + .form-group__label,
.form-group__textarea--invalid + .form-group__label,
.form-group__textarea--invalid:focus  + .form-group__label{
    color: #f05050;
}


/** checkbox && radio */
.checkbox:not(:checked),
.checkbox:checked,
.radio:not(:checked),
.radio:checked{
    position: absolute;
    opacity: 0;
}
.checkbox:checked + .checkbox-label:before{
    top: 1px;
    left: 0;
    width: 9px;
    height: 16px;
    border-radius: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 2px solid #008DA7;
    border-bottom: 2px solid #008DA7;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}
.checkbox + .checkbox-label:after,
.radio + .radio-label:after{
    transform: scale(0);
}
.radio:checked + .radio-label:after{
    transform: scale(.4);
    background-color: #008DA7;
    border: 2px solid #008DA7;
}
.checkbox + .checkbox-label:before,
.checkbox + .checkbox-label:after,
.radio + .radio-label:before,
.radio + .radio-label:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 14px;
    height: 14px;
    z-index: 0;
    transition: .2s;
    border: 2px solid #757575;
    margin-top: 2px;
}
.checkbox + .checkbox-label:before,
.checkbox + .checkbox-label:after{
    border-radius: 3px;
}
.radio + .radio-label:before,
.radio + .radio-label:after{
    border-radius: 50%;
}
.checkbox:not(:checked) + .checkbox-label,
.checkbox:checked + .checkbox-label,
.radio:not(:checked) + .radio-label,
.radio:checked + .radio-label{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: .9em;
    user-select: none;
}

/* disabled */
.checkbox[disabled] + .checkbox-label,
.radio[disabled] + .radio-label{
    color: rgba(0,0,0,0.26);
    cursor: default;
}

.checkbox[disabled] + .checkbox-label:before,
.checkbox[disabled] + .checkbox-label:after,
.radio[disabled] + .radio-label:before,
.radio[disabled] + .radio-label:after{
    opacity: .26;
}


/** placeholder color */
input::-webkit-input-placeholder{ color:#BDBDBD; }
input::-moz-placeholder { color:#BDBDBD; }
input:-moz-placeholder { color:#BDBDBD; }
input:-ms-input-placeholder { color:#BDBDBD; }

textarea::-webkit-input-placeholder { color:#BDBDBD; }
textarea::-moz-placeholder { color:#BDBDBD; }
textarea:-moz-placeholder { color:#BDBDBD; }
textarea:-ms-input-placeholder { color:#BDBDBD; }