.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    background-color: #008DA7;
    box-shadow: 0 -1px 15px -5px rgb(0, 0, 0);
    cursor: default;
    z-index: 10;
    user-select: none;
}
.header__wrapper{
    display: block;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding: 0 10px;
}

.header__brand-name{
    position: relative;
    float: left;
    text-align: center;
    font-size: 2em;
    width: 120px;
    margin-right: 20px;
}

.header__brand-name,
.header__brand-name:hover,
.header__brand-name:focus{
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.header__menu{
    height: inherit;
    float: left;
    width: calc(100% - 205px);
}

.header__menu--right{
    width: 205px;
}


.header__button{
    float: left;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 18px;
    font-size: .9em;
    text-align: center;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.header__button:hover,
.header__button:focus {
    background-color: rgba(0,0,0,0.1);
}

.header__button--hollow{
    padding: 3px 16px;
    line-height: 24px;
    border: 1px solid #FCFCFC;
    border-radius: 3px;
    background: 0;
    margin: 9px 0 9px 10px;
}


@media (min-width: 680px) {
    .header__wrapper{
        width: 640px;
        padding: 0;
    }
}
@media (min-width: 1024px) {
    .header__wrapper{
        width: 980px;
    }
}

@media (min-width: 1240px) {
    .header__wrapper{
        width: 1180px;
    }
}