.header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    line-height:50px;
    background-color: #008DA7;
    box-shadow: 0 -1px 15px -5px rgb(0, 0, 0);
    cursor: default;
    z-index: 10;
    user-select: none;
}
.header__wrapper{
    display: block;
    height: inherit;
    padding: 0 15px;
    margin: 0 auto;
}

.header__brand{
    position: relative;
    float: left;
    text-align: center;
    font-size: 2em;
    width: 120px;
    margin-right: 20px;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.header__brand,
.header__brand:hover,
.header__brand:focus{
    color: #FCFCFC;
}


.header__brand {
    z-index: 111;
}

.header__button{
    float: left;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 18px;
    transition: background-color .1s;
    font-size: .9em;
    text-align: center;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.header__button:hover{
    background-color: rgba(0,0,0,0.1);
    color: #FCFCFC;
}


@media (min-width: 768px) {
    .header__wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .header__wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .header__wrapper {
        width: 1170px;
    }
}
