.notifications-block{
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 501;
}
.notification{
    position: relative;
    width: 350px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #212121;
    margin-bottom: 15px;
    animation-duration: .4s;
    animation-fill-mode: both;
    z-index: 502;
}
@media (max-width: 500px) {
    .notifications-block{
        left: 20px;
    }
    .notification{
        width: 100%;
    }
}
.notification--error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.notification--success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.notification--warning{
    color: #8a6d3b;
    background-color: #fffa9e;
    border-color: #efeb75;
}

.notification--alert{

}
.notification--prompt,
.notification--confirm{
    position: fixed;
    width: 500px;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.notification--small{
    width: 250px;
}
.notification--large{
    width: 750px;
}
@media (max-width: 768px) {
    .notification--prompt,
    .notification--confirm {
        width: 90%;
    }
}

.notification__message{
    font-size: 1em;
}
.notification__input{

}
.notification__confirm-btn,
.notification__cancel-btn{
    padding: 8px 12px;
    cursor: pointer;
    min-width: 80px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-top: 15px;
}
.notification__confirm-btn{
    background: #008da7;
    border-color: #1F6E7D;
    color: #fff;
}
.notification__confirm-btn:hover{
    background: #1F6E7D;
}
.notification__cancel-btn{
    margin-left: 20px;
    background: #dae0e8;
    border-color: #cfcfcf;
    color: inherit;
}
.notification__cancel-btn:hover{
    background: #cfcfcf;
}

.notification-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 500;
}

.notification--animation-in{
    animation-name: fade__in;
}
.notification--animation-in-down{
    animation-name: fade__in--down;
}
.notification--animation-out{
    animation-name: fade__out;
}
.notification--animation-in-up{
    animation-name: fade__out--up;
}