/*
xs =>   < 680
sm =>   > 680 && < 1024
md =>   > 1024 && < 1240
ld =>   > 1240
*/

.p-100{padding:100px;}
.p-60{padding:60px;}
.p-50{padding:50px;}
.p-40{padding:40px;}
.p-30{padding:30px;}
.p-25{padding:25px;}
.p-20{padding:20px;}
.p-15{padding:15px;}
.p-10{padding:10px;}
.p-5{padding:5px;}
.p-0{padding:0;}

.pt-100{padding-top:100px;}
.pt-60{padding-top:60px;}
.pt-50{padding-top:50px;}
.pt-40{padding-top:40px;}
.pt-30{padding-top:30px;}
.pt-25{padding-top:25px;}
.pt-20{padding-top:20px;}
.pt-15{padding-top:15px;}
.pt-10{padding-top:10px;}
.pt-5{padding-top:5px;}
.pt-0{padding-top:0;}

.pl-100{padding-left:100px;}
.pl-60{padding-left:60px;}
.pl-50{padding-left:50px;}
.pl-40{padding-left:40px;}
.pl-30{padding-left:30px;}
.pl-25{padding-left:25px;}
.pl-20{padding-left:20px;}
.pl-15{padding-left:15px;}
.pl-10{padding-left:10px;}
.pl-5{padding-left:5px;}
.pl-0{padding-left:0;}

.pr-100{padding-right:100px;}
.pr-60{padding-right:60px;}
.pr-50{padding-right:50px;}
.pr-40{padding-right:40px;}
.pr-30{padding-right:30px;}
.pr-25{padding-right:25px;}
.pr-20{padding-right:20px;}
.pr-15{padding-right:15px;}
.pr-10{padding-right:10px;}
.pr-5{padding-right:5px;}
.pr-0{padding-right:0;}

.pb-100{padding-bottom:100px;}
.pb-60{padding-bottom:60px;}
.pb-50{padding-bottom:50px;}
.pb-40{padding-bottom:40px;}
.pb-30{padding-bottom:30px;}
.pb-25{padding-bottom:25px;}
.pb-20{padding-bottom:20px;}
.pb-15{padding-bottom:15px;}
.pb-10{padding-bottom:10px;}
.pb-5{padding-bottom:5px;}
.pb-0{padding-bottom:0;}

@media (min-width: 680px) {
    .p-sm-100{padding:100px;}
    .p-sm-60{padding:60px;}
    .p-sm-50{padding:50px;}
    .p-sm-40{padding:40px;}
    .p-sm-30{padding:30px;}
    .p-sm-25{padding:25px;}
    .p-sm-20{padding:20px;}
    .p-sm-15{padding:15px;}
    .p-sm-10{padding:10px;}
    .p-sm-5{padding:5px;}
    .p-sm-0{padding:0;}

    .pt-sm-100{padding-top:100px;}
    .pt-sm-60{padding-top:60px;}
    .pt-sm-50{padding-top:50px;}
    .pt-sm-40{padding-top:40px;}
    .pt-sm-30{padding-top:30px;}
    .pt-sm-25{padding-top:25px;}
    .pt-sm-20{padding-top:20px;}
    .pt-sm-15{padding-top:15px;}
    .pt-sm-10{padding-top:10px;}
    .pt-sm-5{padding-top:5px;}
    .pt-sm-0{padding-top:0;}

    .pl-sm-100{padding-left:100px;}
    .pl-sm-60{padding-left:60px;}
    .pl-sm-50{padding-left:50px;}
    .pl-sm-40{padding-left:40px;}
    .pl-sm-30{padding-left:30px;}
    .pl-sm-25{padding-left:25px;}
    .pl-sm-20{padding-left:20px;}
    .pl-sm-15{padding-left:15px;}
    .pl-sm-10{padding-left:10px;}
    .pl-sm-5{padding-left:5px;}
    .pl-sm-0{padding-left:0;}

    .pr-sm-100{padding-right:100px;}
    .pr-sm-60{padding-right:60px;}
    .pr-sm-50{padding-right:50px;}
    .pr-sm-40{padding-right:40px;}
    .pr-sm-30{padding-right:30px;}
    .pr-sm-25{padding-right:25px;}
    .pr-sm-20{padding-right:20px;}
    .pr-sm-15{padding-right:15px;}
    .pr-sm-10{padding-right:10px;}
    .pr-sm-5{padding-right:5px;}
    .pr-sm-0{padding-right:0;}

    .pb-sm-100{padding-bottom:100px;}
    .pb-sm-60{padding-bottom:60px;}
    .pb-sm-50{padding-bottom:50px;}
    .pb-sm-40{padding-bottom:40px;}
    .pb-sm-30{padding-bottom:30px;}
    .pb-sm-25{padding-bottom:25px;}
    .pb-sm-20{padding-bottom:20px;}
    .pb-sm-15{padding-bottom:15px;}
    .pb-sm-10{padding-bottom:10px;}
    .pb-sm-5{padding-bottom:5px;}
    .pb-sm-0{padding-bottom:0;}
}

@media (min-width: 1024px) {
    .p-md-100{padding:100px;}
    .p-md-60{padding:60px;}
    .p-md-50{padding:50px;}
    .p-md-40{padding:40px;}
    .p-md-30{padding:30px;}
    .p-md-25{padding:25px;}
    .p-md-20{padding:20px;}
    .p-md-15{padding:15px;}
    .p-md-10{padding:10px;}
    .p-md-5{padding:5px;}
    .p-md-0{padding:0;}

    .pt-md-100{padding-top:100px;}
    .pt-md-60{padding-top:60px;}
    .pt-md-50{padding-top:50px;}
    .pt-md-40{padding-top:40px;}
    .pt-md-30{padding-top:30px;}
    .pt-md-25{padding-top:25px;}
    .pt-md-20{padding-top:20px;}
    .pt-md-15{padding-top:15px;}
    .pt-md-10{padding-top:10px;}
    .pt-md-5{padding-top:5px;}
    .pt-md-0{padding-top:0;}

    .pl-md-100{padding-left:100px;}
    .pl-md-60{padding-left:60px;}
    .pl-md-50{padding-left:50px;}
    .pl-md-40{padding-left:40px;}
    .pl-md-30{padding-left:30px;}
    .pl-md-25{padding-left:25px;}
    .pl-md-20{padding-left:20px;}
    .pl-md-15{padding-left:15px;}
    .pl-md-10{padding-left:10px;}
    .pl-md-5{padding-left:5px;}
    .pl-md-0{padding-left:0;}

    .pr-md-100{padding-right:100px;}
    .pr-md-60{padding-right:60px;}
    .pr-md-50{padding-right:50px;}
    .pr-md-40{padding-right:40px;}
    .pr-md-30{padding-right:30px;}
    .pr-md-25{padding-right:25px;}
    .pr-md-20{padding-right:20px;}
    .pr-md-15{padding-right:15px;}
    .pr-md-10{padding-right:10px;}
    .pr-md-5{padding-right:5px;}
    .pr-md-0{padding-right:0;}

    .pb-md-100{padding-bottom:100px;}
    .pb-md-60{padding-bottom:60px;}
    .pb-md-50{padding-bottom:50px;}
    .pb-md-40{padding-bottom:40px;}
    .pb-md-30{padding-bottom:30px;}
    .pb-md-25{padding-bottom:25px;}
    .pb-md-20{padding-bottom:20px;}
    .pb-md-15{padding-bottom:15px;}
    .pb-md-10{padding-bottom:10px;}
    .pb-md-5{padding-bottom:5px;}
    .pb-md-0{padding-bottom:0;}
}

@media (min-width: 1240px) {
    .p-lg-100{padding:100px;}
    .p-lg-60{padding:60px;}
    .p-lg-50{padding:50px;}
    .p-lg-40{padding:40px;}
    .p-lg-30{padding:30px;}
    .p-lg-25{padding:25px;}
    .p-lg-20{padding:20px;}
    .p-lg-15{padding:15px;}
    .p-lg-10{padding:10px;}
    .p-lg-5{padding:5px;}
    .p-lg-0{padding:0;}

    .pt-lg-100{padding-top:100px;}
    .pt-lg-60{padding-top:60px;}
    .pt-lg-50{padding-top:50px;}
    .pt-lg-40{padding-top:40px;}
    .pt-lg-30{padding-top:30px;}
    .pt-lg-25{padding-top:25px;}
    .pt-lg-20{padding-top:20px;}
    .pt-lg-15{padding-top:15px;}
    .pt-lg-10{padding-top:10px;}
    .pt-lg-5{padding-top:5px;}
    .pt-lg-0{padding-top:0;}

    .pl-lg-100{padding-left:100px;}
    .pl-lg-60{padding-left:60px;}
    .pl-lg-50{padding-left:50px;}
    .pl-lg-40{padding-left:40px;}
    .pl-lg-30{padding-left:30px;}
    .pl-lg-25{padding-left:25px;}
    .pl-lg-20{padding-left:20px;}
    .pl-lg-15{padding-left:15px;}
    .pl-lg-10{padding-left:10px;}
    .pl-lg-5{padding-left:5px;}
    .pl-lg-0{padding-left:0;}

    .pr-lg-100{padding-right:100px;}
    .pr-lg-60{padding-right:60px;}
    .pr-lg-50{padding-right:50px;}
    .pr-lg-40{padding-right:40px;}
    .pr-lg-30{padding-right:30px;}
    .pr-lg-25{padding-right:25px;}
    .pr-lg-20{padding-right:20px;}
    .pr-lg-15{padding-right:15px;}
    .pr-lg-10{padding-right:10px;}
    .pr-lg-5{padding-right:5px;}
    .pr-lg-0{padding-right:0;}

    .pb-lg-100{padding-bottom:100px;}
    .pb-lg-60{padding-bottom:60px;}
    .pb-lg-50{padding-bottom:50px;}
    .pb-lg-40{padding-bottom:40px;}
    .pb-lg-30{padding-bottom:30px;}
    .pb-lg-25{padding-bottom:25px;}
    .pb-lg-20{padding-bottom:20px;}
    .pb-lg-15{padding-bottom:15px;}
    .pb-lg-10{padding-bottom:10px;}
    .pb-lg-5{padding-bottom:5px;}
    .pb-lg-0{padding-bottom:0;}
}