.dataTable-top,
.dataTable-bottom {
    margin: 10px 0;
    padding: 8px 10px;
}

.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child {
    float: left;
}

.dataTable-top > div:last-child,
.dataTable-bottom > div:last-child {
    float: right;
}

.dataTable-selector,
.dataTable-input {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d7d8db;
}

.dataTable-selector {
    padding: 6px;
    margin-right: 3px;
}

.dataTable-input {
    padding: 6px 12px;
}

.dataTable-dropdown{
    font-size: .9em;
}

.dataTable-info {
    font-size: .9em;
    margin: 7px 0;
    width: 30%;
}


/* PAGER */
.dataTable-pagination {
    width: 70%;
    text-align: right;
}

.dataTable-pagination li {
    display: inline-block;
    list-style: none;
}

.dataTable-pagination a {
    position: relative;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    color: #999;
    background-color: #fff;
    border: 1px solid #e3e4e8;
    margin-left: -1px;
}

.dataTable-pagination > li:first-child > a {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.dataTable-pagination > li:last-child > a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.dataTable-pagination a:hover {
    color: #008da7;
    background: rgba(0,0,0,.05);
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
    color: #FCFCFC;
    background: #008da7;
    cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    pointer-events: none;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    pointer-events: none;
    opacity: 0.4;
}

.dataTable-pagination .pager a {
    font-weight: bold;
}



/* TABLE */
.dataTable-container{
    overflow-x: auto;
}
table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    font-size: 15px;
}

table > thead > tr > td,
table > thead > tr > th,
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th {
    padding: 8px;
}

table > thead > tr > td,
table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
}

table > tbody > tr > td,
table > tbody > tr > th {
    vertical-align: middle;
    border-top: 1px solid #eee;
}

table > tfoot > tr > td,
table > tfoot > tr > th {
    vertical-align: top;
    text-align: left;
    color: #a1a2a3;
    background: #f1f2f3;
}

table th a {
    text-decoration: none;
    color: inherit;
}

.dataTable-sorter {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    padding-right: 15px;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0;
}

.dataTable-sorter::before {
    border-top: 4px solid #000;
    bottom: 8px;
}

.dataTable-sorter::after {
    border-bottom: 4px solid #000;
    border-top: 4px solid transparent;
    top: 8px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
    opacity: 0.6;
}

.dataTables-empty {
    text-align: center;
}

.dataTable-top::after,
.dataTable-bottom::after {
    clear: both;
    content: " ";
    display: table;
}



table > tbody > tr:hover,
table > tbody > tr:nth-of-type(odd) {
    background-color: #fafbfc;
}



@media (max-width: 599px) {
    .dataTable-search {
        text-align: right;
    }
    .dataTable-dropdown,
    .dataTable-info {
        margin-bottom: 15px;
    }
    .dataTable-input {
        max-width: 100%;
    }
    .dataTable-search,
    .dataTable-dropdown,
    .dataTable-info,
    .dataTable-pagination{
        width: 100%;
    }
}