.tabs__header{
    padding: 0 15px;
    list-style: none;
    user-select: none;
    background-color: #fafbfc;
    font-size: 1em;
    border-radius: 2px 2px 0 0;
}

.tabs__header,
.tabs__search-block{
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    float: left;
    border-right: 1px solid #e7e8ec;
}

.tabs__btn {
    display: block;
    padding: 18px 6px;
    line-height: 1em;
    margin: 0 8px -1px;
    outline: none;
    float: left;
    cursor: pointer;
}
.tabs__btn:hover {
    text-decoration: none;
    border-bottom: 2px solid #cad2db;
}
.tabs__btn--active,
.tabs__btn--active:hover{
    border-bottom: 2px solid #008DA7;
}

.tabs__btn.btn{
    padding: 6px 16px;
    margin: 14px 5px 0 0;
}

.tabs__count{
    padding-left: 3px;
    font-size: .9em;
    color: #959595;
}


.tabs__content{
    width: 100%;
}

.tabs__block, .tabs__search-block{
    display: none;
}
.tabs__block--active, .tabs__search-block--active{
    display: block;
}


.item {
    border-bottom: 1px solid #e7e8ec;
    border-right: 1px solid #e7e8ec;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}

.item__img-wrap{
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0;
    width: 90px;
    height: 90px;
}

.item__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fafbfc;
}

.item__info{
    padding: 5px 10px 0 0;
    width: calc(100% - 105px);
    float: left;
    overflow: hidden;
}
.item__info-name{
    font-size: .9em;
    margin-bottom: 9px;
    font-weight: 700;
}
.item__info-additional {
    font-size: .8em;
    margin-bottom: 9px;
}
.item__info-additional a:not(:last-child):after{
    content: ','
}
.item__info-controls{
    margin: 11px 0 3px;
    float: none;
    text-align: left;
    width: auto;
}


.tabs__search-input{
    width: 100%;
    box-shadow: none;
    border: none;
    line-height: 1.5em;
    padding: 14px 50px ;
}
.tabs__search-label{
    position: absolute;
    line-height: 1.5em;
    top: 10px;
    left: 15px;
    font-size: 1.3em;
    color: #008DA7;
}



/**
 * Media - Mobile
 */

@media (max-width: 680px){
    .tabs__header{
        padding: 0;
    }
    .tabs__header .col-xs-12{
        padding: 0;
    }
    .tabs__btn{
        width: 100%;
        text-align: center;
        padding: 10px 6px;
        height: 38px;
        float: none;
        margin: 0 auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #cad2db;
    }
    .tabs__btn--active{
        border-bottom: 2px solid #008da7;
    }

    .tabs__btn.btn{
        margin: 0;
        border: 0;
        border-radius: 0;
    }

}