.ui-tabs{
    position:relative;
    line-height:50px;
    width:100%;
}
.ui-tabs__wrapper{
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.ui-tabs__tab{
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    margin-left: 15px;
    z-index: 2;
}
.ui-tabs__tab:last-child{
    margin-right: 15px;
}
.ui-tabs__tab:hover{
    color: #008da7;
}
.ui-tabs__tab--active{
    font-weight:700;
    user-select: none;
    border-bottom: 2px solid #008da7;
    pointer-events: none;
    z-index: 3;
}
.ui-tabs__counter{
    padding-left: 3px;
    font-size: .9em;
    color: #959595;
}