a, [role="button"], button, input[type="submit"], input[type="button"]{
    cursor: pointer;
}
a[disabled], button[disabled],input[disabled]{
    cursor: default;
}

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}
.link{
    color: #008da7;
}
.link:hover,
.link:focus{
    color: #1F6E7D;
}


button, input, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

ul, ol{
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 20px;
}

.list-style--none{
    list-style: none;
    padding: 0;
    margin: 0;
}

.h1, .h2, .h3, .h4{
    font-family: inherit;
    line-height: 1.3;
    color: inherit;
}

.h1, .h2, .h3 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1 {
    font-size: 2.25em;
}
.h2 {
    font-size: 1.8em;
}
.h3 {
    font-size: 1.5em;
}
.h4 {
    font-size: 1.2em;
}

p {
    margin: 0 0 10px;
}
small{
    display: block;
    font-size: 12px;
}
canvas{
    max-width: 100%;
}
.bold{
    font-weight: bold;
}
.nowrap{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-bold{
    font-weight: bold;
}
.text-normal{
    font-weight: normal;
}
.text-italic{
    font-style: italic;
}
.text-underline{
    text-decoration: underline;
}
.text-comma:not(:last-child):after{
    content: ',';
}
.text-brand {
    color: #008DA7;
}
a.text-brand:hover,
a.text-brand:focus {
    color: #1F6E7D;
}
.text-brand-2 {
    color: #A1A1A1;
}


.text-success {
    color: #27c24c;
}
a.text-success:hover,
a.text-success:focus {
    color: #1f9c3d;
}
.text-danger {
    color: #f05050;
}
a.text-danger:hover,
a.text-danger:focus {
    color: #ff0000;
}
.text-white{
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    color: #FCFCFC;
}
a.text-white:hover,
a.text-white:focus {
    color: #FCFCFC;
}

.bg-white{
    background-color: #FFFFFF;
}
.bg-brand {
    color: #FCFCFC;
    background-color: #008DA7;
}
a.bg-brand:hover,
a.bg-brand:focus {
    color: #FCFCFC;
    background-color: #00819b;
}
.bg-success {
    color: #FCFCFC;
    background-color: #27c24c;
}
a.bg-success:hover,
a.bg-success:focus {
    color: #FCFCFC;
    background-color: #24b145;
}
.bg-danger {
    color: #FCFCFC;
    background-color: #f05050;
}
a.bg-danger:hover,
a.bg-danger:focus {
    color: #FCFCFC;
    background-color: #ee3d3d;
}

.bg-gray {
    background-color: #dde6e9;
    color: #515253;
}
a.bg-gray:hover,
a.bg-gray:focus {
    color: #515253;
    background-color: #DDDDDD;
}
.bg-gray-dark{
    background-color: #3a3f51;
    color: #FFFFFF;
}
a.bg-gray-dark:hover,
a.bg-gray-dark:focus {
    color: #FFFFFF;
    background-color: #3a3a3a;
}
.bg-light-blue {
    background-color: #fafbfc;
}

.label{
    position: relative;
    padding: 2px 5px 3px;
    font-size: .7em;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    border-radius: 5px;
}
.label--absolute{
    position: absolute;
    top: 0;
    right: 0;
}

.label--brand,
.label--brand:hover,
.label--brand:focus{
    color: #FCFCFC;
    background-color: #008DA7;
}
.label--danger,
.label--danger:hover,
.label--danger:focus{
    color: #FCFCFC;
    background-color: #ff0000;
}
.label--warning,
.label--warning:hover,
.label--warning:focus{
    color: #8a6d3b;
    background-color: #fce864;
}
.label--success,
.label--success:hover,
.label--success:focus{
    color: #FCFCFC;
    background-color: #27c24c;
}
.label--black,
.label--black:hover,
.label--black:focus{
    color: #FCFCFC;
    background-color: #000;
}

.thumb64 {
    width: 64px;
    height: 64px;
}

.thumb80 {
    width: 80px;
    height: 80px;
}

.valign{
    display: flex;
    align-items: center;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}

.brad-5px{
    border-radius: 5px;
}

.t-lh-1{line-height:1em}
.t-lh-1_2{line-height:1.2em}
.t-lh-1_3{line-height:1.3em}
.t-lh-1_4{line-height:1.4em}
.t-lh-1_5{line-height:1.5em}
.t-lh-1_6{line-height:1.6em}
.t-lh-2{line-height:2em}
.t-lh-16px{line-height:16px}
.t-lh-17px{line-height:17px}
.t-lh-18px{line-height:18px}
.t-lh-20px{line-height:20px}
.t-lh-22px{line-height:22px}
.t-lh-24px{line-height:24px}
.t-lh-34px{line-height:34px}
.t-lh-40px{line-height:40px}
.t-lh-46px{line-height:46px}
.t-lh-50px{line-height:50px}

.bt-0{border-top:0;}
.bl-0{border-left:0;}
.br-0{border-right:0;}
.bb-0{border-bottom:0;}

.bt-1{border-top: 1px solid #e7e8ec;}
.bl-1{border-left: 1px solid #e7e8ec;}
.br-1{border-right: 1px solid #e7e8ec;}
.bb-1{border-bottom: 1px solid #e7e8ec;}

/* delete ↓↓ */
.bt-1--light{border-top: 1px solid rgba(0,0,0,.15);}
.bl-1--light{border-left: 1px solid rgba(0,0,0,.15);}
.br-1--light{border-right: 1px solid rgba(0,0,0,.15);}
.bb-1--light{border-bottom: 1px solid rgba(0,0,0,.15);}

.fs-0_75{font-size:0.75em;}
.fs-0_8{font-size:0.8em;}
.fs-0_9{font-size:0.9em;}
.fs-1{font-size:1em;}
.fs-1_1{font-size:1.1em;}
.fs-1_2{font-size:1.2em;}
.fs-1_25{font-size:1.25em;}
.fs-1_3{font-size:1.3em;}
.fs-1_4{font-size:1.4em;}
.fs-1_5{font-size:1.5em;}
.fs-2{font-size:2em;}
.fs-2_5{font-size:2.5em;}
.fs-3{font-size:3em;}
.fs-5{font-size:5em;}


.progress-bar{
    position: relative;
    height: 8px;
    background-color: transparent;
    z-index: 0;
}
.progress-bar__width{
    position: absolute;
    height: inherit;
    transition: 1s;
    background: linear-gradient(to right, #FF0000, #fce864, #008DA7) no-repeat center;
    box-shadow:inset 0 -30px 64px -45px #FFF;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
}