.wrapper{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #f5f5f5;
    overflow-x: hidden;
}

.wrapper .section{
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 56px 0 60px 200px;
}

.wrapper .section__content{
    position: relative;
    padding: 20px;
}
.wrapper .section__content--unwrap{
    padding: 0;
}
.wrapper .section__heading{
    position: relative;
    margin: -21px -20px 20px;
    padding: 20px;
    background: #fafbfc;
    line-height: 1.2;
    color: #999;
    font-weight: normal;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}
.wrapper .section__heading:not(:first-child){
    margin-top: 20px;
}
.wrapper .section__heading small{
    color: #999999;
}

.wrapper .section__cover{
    position: relative;
    height: 230px;
    overflow: hidden;
    z-index: 5;
}
.wrapper .section__cover-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.wrapper .section__cover-text{
    z-index: 2;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    font-size: 2em;
}
@media (max-width: 992px) {
    .wrapper .section__cover-text{
        font-size: 1.7em;
    }
}
@media (max-width: 680px) {
    .wrapper .section__cover-text{
        font-size: 1.4em;
        word-break: break-all;
    }
}

.section__cover-update-wrapper{
    position: absolute;
    top: 20px;
    left: 30px;
    line-height: 30px;
    border-radius: 3px;
    z-index: 2;
}
.section__cover-update-wrapper:hover{
    background: rgba(0, 0, 0, 0.75);
}
.section__cover-update-btn{
    padding: 6px;
}
.section__cover-update-icon{
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 1em;
    color: #FFF;
    opacity: .5;
}
.section__cover-update-wrapper:hover .section__cover-update-icon {
    opacity: .8;
}
.section__cover-update-text{
    font-size: 0.9em;
    display: none;
    color: #fafafa;
    padding-left: 5px;
}
.section__cover-update-wrapper:hover .section__cover-update-text {
    display: initial;
}

@media (max-width: 680px) {
    .section__cover-update-wrapper{
        left: 0;
        top: 10px;
    }
    .section__cover-update-wrapper:hover {
        background: transparent;
    }
    .section__cover-update-btn{
        padding: 16px;
    }
    .section__cover-update-wrapper:hover .section__cover-update-text {
        display: none;
    }
}

.wrapper .aside--collapsed + .section {
    margin-left: 65px;
}

@media (max-width: 768px) {
    .wrapper .section,
    .wrapper .aside--collapsed + .section{
        margin-left:0;
    }
}

.section__content:after, .section__content:before{
    content: " ";
    display: table;
    clear: both;
}