.wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #f0f0f0;
    overflow-x: hidden;
}

.section{
    position: relative;
    margin-top: 50px;
}

.section__cover{
    position: relative;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.section__cover-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}
.section__cover-text{
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    margin: 0 auto;
    color: #FFF;
    z-index: 2;
}

.section__cover-update-wrapper{
    position: absolute;
    top: 20px;
    left: 0;
    line-height: 30px;
    border-radius: 3px;
    z-index: 2;
}
.section__cover-update-wrapper:hover{
    background: rgba(0, 0, 0, 0.75);
}
.section__cover-update-btn{
    padding: 6px;
}
.section__cover-update-icon{
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 1em;
    color: #FFF;
    opacity: .5;
}
.section__cover-update-wrapper:hover .section__cover-update-icon {
    opacity: .8;
}
.section__cover-update-text{
    font-size: 0.9em;
    display: none;
    color: #fafafa;
    padding-left: 5px;
}
.section__cover-update-wrapper:hover .section__cover-update-text {
    display: initial;
}

@media (max-width: 992px) {
    .section__cover-text{
        font-size: 1.5em;
    }
}
@media (max-width: 680px) {
    .section__cover-text{
        font-size: 1.3em;
        word-break: break-all;
    }
    .section__cover-update-wrapper:hover {
        background: transparent;
    }
    .section__cover-update-btn{
        padding: 16px;
    }
    .section__cover-update-wrapper:hover .section__cover-update-text {
        display: none;
    }
}

.section__content{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.section__content:after{
    content: " ";
    display: table;
    clear: both;
}

@media (min-width: 680px) {
    .section__content{
        width: 640px;
    }
}
@media (min-width: 1024px) {
    .section__content{
        width: 980px;
    }
}

@media (min-width: 1240px) {
    .section__content{
        width: 1180px;
    }
}