# Created by .ignore support plugin (hsz.mobi)
.gitignore
application/cache
application/logs
.idea/*
uploads/
.idea/sqldialects.xml

application/vendor/phing/phing/

application/vendor/phpoffice/phpexcel/

# Bundler
assets/frontend/.idea/
assets/frontend/modules/
assets/frontend/index.js
assets/frontend/webpack.config.js
assets/frontend/node_modules/


# Media files
assets/img/