# Created by .ignore support plugin (hsz.mobi)
.idea/
application/vendor/
application/cache
application/logs
uploads/

# Bundler
node_modules/*
assets/vendor/*

# Media files
assets/img/*

# config files
application/config/cache.php
application/config/database.php
application/config/redis.php
application/config/session.php
application/config/email.php
application/config/url.php

/.env
modules/purifier/vendor/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/
#composer.lock
