# Created by .ignore support plugin (hsz.mobi)
.idea/
application/vendor/
application/cache
application/logs

# Bundler
node_modules/*

# Media files
uploads/

# config files
application/config/cache.php
application/config/database.php
application/config/redis.php
application/config/session.php
application/config/email.php
application/config/url.php
application/config/mongo.php

.env
composer.lock
robots.txt
