<!DOCTYPE html>
<html ng-app="pronwe">
<head>
		<meta charset="utf-8">
		<title>Организация</title>

    <!-- =============== VENDOR STYLES ===============-->
    	<link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/vendor/angular-material/css/angular-material.min.css">
		<link rel="stylesheet" href="../assets/css/app1.css">
		<link rel="stylesheet" href="../assets/css/org.css">


    <!-- =============== VENDOR SCRIPTS ===============-->
    	<script src="../assets/vendor/jquery/dist/jquery.js"></script>
		<script src="../assets/vendor/bootstrap/dist/js/bootstrap-tooltip.js"></script>

		<script src="../assets/vendor/angular/angular.min.js"></script>
		<script src="../assets/vendor/angular/i18n/angular-locale_ru-ru.js"></script>
		<script src="../assets/vendor/angular/angular-aria.min.js"></script>
		<script src="../assets/vendor/angular/angular-animate.min.js"></script>
		<script src="../assets/vendor/angular-socialshare/angular-socialshare.js"></script>
		<script src="../assets/vendor/angular-material/js/angular-material.min.js"></script>
		<script src="../assets/js/org.js"></script>
		

</head>
<body ng-controller="appCtrl">
	<div class="wrapper">
		<header></header>

		<div class="content-wrapper">
			<!-- ORGANIZATION INFO -->
			<div class="org-block" ng-controller="orgInfoCtrl as org">
				<div class="org-background" style="background-image: url(../../assets/img/temp/{{org.background}});">
					<div class="org-avatar">
						<img src="../../assets/img/temp/{{org.avatar}}">
					</div>
					<div class="org-name-background"></div>
					<div class="org-name">
						<h2 class="inline">{{org.name}}</h2>
						<md-button ng-href="{{org.link}}" class="md-icon-button inline" aria-label="OrgLink" data-toggle="tooltip" data-placement="top" title="Официальный сайт">
							<md-icon md-svg-icon="../../assets/img/icons/internet.svg"></md-icon>
						</md-button>	
					</div>
				</div>
				<div class="org-nav-block">
					<div class="org-nav">
						<a href="#/events" class="active">
							Мероприятия
							<span class="active-tab"></span>
						</a>
						<a href="#/edit" class="">
							Настройки
							<span class="active-tab"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="row columns-area">

				<!-- LEFT COLUMN -->
				<div class="col-lg-8 col-md-7 col-sm-6 left-column">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="">
								
							</div>
							<ul class="text-center">
								<li class="event-group">
									<div class="event-wrapper">
										<div class="event-shot">
											<div class="event-image" style="background: url(../../assets/img/bg2.jpg) no-repeat;"></div>
											<a class="event-link" href="#">
												<div class="event-preview">
													<h2>Федеральный конкурс Ты нужен людям</h2>
													<p>Этоконурспрободитсяежегодно, чтобы развивать креативное мышление у молодого поколения, а так же знакомить с различными социальными </p>
													<span>20 сентября в 15:00</span>
													<small>черновик</small>
												</div>
											</a>
											<div class="event-result">
												<md-button ng-href="###" aria-label="Rating" data-toggle="tooltip" data-placement="top" title="Рейтинг">
													<md-icon md-svg-icon="../../assets/img/icons/rating.svg"></md-icon>
												</md-button>
											</div>
										</div>
										<div class="event-footer">
											<ul class="event-footer-left">
												<li>
													<md-menu-bar>
														<md-menu>
															<md-button ng-href="" aria-label="Settings" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/cog.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/edit.svg"></md-icon>
																		Редактировать
																	</md-button>
																</md-menu-item>
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/trash-o.svg" style="color: #f47f7f"></md-icon>
																		Удалить
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												
												</li>
												<li>
													<md-menu-bar>
														<md-menu ng-controller="ShareCtrl as share">
															<md-button ng-href="" aria-label="Share" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/share2.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item ng-repeat="item in share.array" class="{{item.class}}">
																	<md-button socialshare
																					socialshare-provider="{{item.id}}"
																					socialshare-text=""
																					socialshare-description=""
																					socialshare-hashtags=""
																					socialshare-url=""
																					socialshare-media="">
																		<md-icon md-svg-icon="{{item.icon}}"></md-icon>
																		{{item.name}}
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												</li>
												<li>
													<md-button ng-href="" aria-label="Feedback" data-toggle="tooltip" data-placement="bottom" title="Связаться с организатором">
														<md-icon md-svg-icon="../../assets/img/icons/feedback.svg"></md-icon>
													</md-button>
												</li>
											</ul>
											<ul class="event-footer-right">
												<li class="fav">
													<md-button ng-href="" aria-label="Likes" md-ink-ripple="#f47f7f">
														<md-icon md-svg-icon="../../assets/img/icons/fav.svg"></md-icon>
														<span>1</span>
													</md-buttn>
												</li>
												<li class="views">
													<div class="div-views" aria-label="Views" data-toggle="tooltip" data-placement="bottom" title="Просмотров">
														<img src="../../assets/img/icons/eye.svg">
														<span>120</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="event-group">
									<div class="event-wrapper">
										<div class="event-shot">
											<div class="event-image" style="background: url(../../assets/img/bg2.jpg) no-repeat;"></div>
											<a class="event-link" href="#">
												<div class="event-preview">
													<h2>Федеральный конкурс Ты нужен людям</h2>
													<p>Этоконурспрободитсяежегодно, чтобы развивать креативное мышление у молодого поколения, а так же знакомить с различными социальными </p>
													<span>20 сентября в 15:00</span>
													<small>черновик</small>
												</div>
											</a>
											<div class="event-result">
												<md-button ng-href="###" aria-label="Rating" data-toggle="tooltip" data-placement="top" title="Рейтинг">
													<md-icon md-svg-icon="../../assets/img/icons/rating.svg"></md-icon>
												</md-button>
											</div>
										</div>
										<div class="event-footer">
											<ul class="event-footer-left">
												<li>
													<md-menu-bar>
														<md-menu>
															<md-button ng-href="" aria-label="Settings" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/cog.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/edit.svg"></md-icon>
																		Редактировать
																	</md-button>
																</md-menu-item>
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/trash-o.svg" style="color: #f47f7f"></md-icon>
																		Удалить
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												
												</li>
												<li>
													<md-menu-bar>
														<md-menu ng-controller="ShareCtrl as share">
															<md-button ng-href="" aria-label="Share" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/share2.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item ng-repeat="item in share.array" class="{{item.class}}">
																	<md-button socialshare
																					socialshare-provider="{{item.id}}"
																					socialshare-text=""
																					socialshare-description=""
																					socialshare-hashtags=""
																					socialshare-url=""
																					socialshare-media="">
																		<md-icon md-svg-icon="{{item.icon}}"></md-icon>
																		{{item.name}}
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												</li>
												<li>
													<md-button ng-href="" aria-label="Feedback" data-toggle="tooltip" data-placement="bottom" title="Связаться с организатором">
														<md-icon md-svg-icon="../../assets/img/icons/feedback.svg"></md-icon>
													</md-button>
												</li>
											</ul>
											<ul class="event-footer-right">
												<li class="fav">
													<md-button ng-href="" aria-label="Likes" md-ink-ripple="#f47f7f">
														<md-icon md-svg-icon="../../assets/img/icons/fav.svg"></md-icon>
														<span>1</span>
													</md-buttn>
												</li>
												<li class="views">
													<div class="div-views" aria-label="Views" data-toggle="tooltip" data-placement="bottom" title="Просмотров">
														<img src="../../assets/img/icons/eye.svg">
														<span>120</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="event-group">
									<div class="event-wrapper">
										<div class="event-shot">
											<div class="event-image" style="background: url(../../assets/img/bg2.jpg) no-repeat;"></div>
											<a class="event-link" href="#">
												<div class="event-preview">
													<h2>Федеральный конкурс Ты нужен людям</h2>
													<p>Этоконурспрободитсяежегодно, чтобы развивать креативное мышление у молодого поколения, а так же знакомить с различными социальными </p>
													<span>20 сентября в 15:00</span>
													<small>черновик</small>
												</div>
											</a>
											<div class="event-result">
												<md-button ng-href="###" aria-label="Rating" data-toggle="tooltip" data-placement="top" title="Рейтинг">
													<md-icon md-svg-icon="../../assets/img/icons/rating.svg"></md-icon>
												</md-button>
											</div>
										</div>
										<div class="event-footer">
											<ul class="event-footer-left">
												<li>
													<md-menu-bar>
														<md-menu>
															<md-button ng-href="" aria-label="Settings" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/cog.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/edit.svg"></md-icon>
																		Редактировать
																	</md-button>
																</md-menu-item>
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/trash-o.svg" style="color: #f47f7f"></md-icon>
																		Удалить
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												
												</li>
												<li>
													<md-menu-bar>
														<md-menu ng-controller="ShareCtrl as share">
															<md-button ng-href="" aria-label="Share" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/share2.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item ng-repeat="item in share.array" class="{{item.class}}">
																	<md-button socialshare
																					socialshare-provider="{{item.id}}"
																					socialshare-text=""
																					socialshare-description=""
																					socialshare-hashtags=""
																					socialshare-url=""
																					socialshare-media="">
																		<md-icon md-svg-icon="{{item.icon}}"></md-icon>
																		{{item.name}}
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												</li>
												<li>
													<md-button ng-href="" aria-label="Feedback" data-toggle="tooltip" data-placement="bottom" title="Связаться с организатором">
														<md-icon md-svg-icon="../../assets/img/icons/feedback.svg"></md-icon>
													</md-button>
												</li>
											</ul>
											<ul class="event-footer-right">
												<li class="fav">
													<md-button ng-href="" aria-label="Likes" md-ink-ripple="#f47f7f">
														<md-icon md-svg-icon="../../assets/img/icons/fav.svg"></md-icon>
														<span>1</span>
													</md-buttn>
												</li>
												<li class="views">
													<div class="div-views" aria-label="Views" data-toggle="tooltip" data-placement="bottom" title="Просмотров">
														<img src="../../assets/img/icons/eye.svg">
														<span>120</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="event-group">
									<div class="event-wrapper">
										<div class="event-shot">
											<div class="event-image" style="background: url(../../assets/img/bg2.jpg) no-repeat;"></div>
											<a class="event-link" href="#">
												<div class="event-preview">
													<h2>Федеральный конкурс Ты нужен людям</h2>
													<p>Этоконурспрободитсяежегодно, чтобы развивать креативное мышление у молодого поколения, а так же знакомить с различными социальными </p>
													<span>20 сентября в 15:00</span>
													<small>черновик</small>
												</div>
											</a>
											<div class="event-result">
												<md-button ng-href="###" aria-label="Rating" data-toggle="tooltip" data-placement="top" title="Рейтинг">
													<md-icon md-svg-icon="../../assets/img/icons/rating.svg"></md-icon>
												</md-button>
											</div>
										</div>
										<div class="event-footer">
											<ul class="event-footer-left">
												<li>
													<md-menu-bar>
														<md-menu>
															<md-button ng-href="" aria-label="Settings" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/cog.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/edit.svg"></md-icon>
																		Редактировать
																	</md-button>
																</md-menu-item>
																<md-menu-item>
																	<md-button ng-href="">
																		<md-icon md-svg-icon="../../assets/img/icons/trash-o.svg" style="color: #f47f7f"></md-icon>
																		Удалить
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												
												</li>
												<li>
													<md-menu-bar>
														<md-menu ng-controller="ShareCtrl as share">
															<md-button ng-href="" aria-label="Share" ng-click="$mdOpenMenu($event)">
																<md-icon md-svg-icon="../../assets/img/icons/share2.svg"></md-icon>
															</md-button>
															<md-menu-content class="md-menu-sm" width="1">
																<md-menu-item ng-repeat="item in share.array" class="{{item.class}}">
																	<md-button socialshare
																					socialshare-provider="{{item.id}}"
																					socialshare-text=""
																					socialshare-description=""
																					socialshare-hashtags=""
																					socialshare-url=""
																					socialshare-media="">
																		<md-icon md-svg-icon="{{item.icon}}"></md-icon>
																		{{item.name}}
																	</md-button>
																</md-menu-item>
															</md-menu-content>
														</md-menu>
													</md-menu-bar>
												</li>
												<li>
													<md-button ng-href="" aria-label="Feedback" data-toggle="tooltip" data-placement="bottom" title="Связаться с организатором">
														<md-icon md-svg-icon="../../assets/img/icons/feedback.svg"></md-icon>
													</md-button>
												</li>
											</ul>
											<ul class="event-footer-right">
												<li class="fav">
													<md-button ng-href="" aria-label="Likes" md-ink-ripple="#f47f7f">
														<md-icon md-svg-icon="../../assets/img/icons/fav.svg"></md-icon>
														<span>1</span>
													</md-buttn>
												</li>
												<li class="views">
													<div class="div-views" aria-label="Views" data-toggle="tooltip" data-placement="bottom" title="Просмотров">
														<img src="../../assets/img/icons/eye.svg">
														<span>120</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>							
							</ul>
						</div>
					</div>
				</div>

				<!-- RIGHT COLUMN -->
				<div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 right-column">
					<div class="panel panel-default">
						<div class="panel-heading">Быстрый старт</div>
						<div class="panel-body">
							<md-button ng-href="" class="md-btn md-btn-md">
								<md-icon class="quick-start-icon" md-svg-icon="../../assets/img/icons/add.svg"></md-icon>
								Создать мероприятие
							</md-button>
							<md-button ng-href="" class="md-btn md-btn-md">
								<md-icon class="quick-start-icon" md-svg-icon="../../assets/img/icons/sendmail.svg"></md-icon>
								Пригласить организатора
							</md-button>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Календарь мероприятий</div>
						<div class="panel-body">
							
						</div>
						<div class="panel-footer">
							
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Последние активности</div>
						<div class="panel-body">
							
						</div>
						<div class="panel-footer">
							
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							Организаторы
							<a href="" class="pull-right">
								<md-icon class="panel-top-right-link-icon" md-svg-icon="../../assets/img/icons/edit.svg"></md-icon>
							</a>
						</div>
						<div class="panel-body">
							
						</div>
					</div>
				</div>	

			</div>
		</div>

		<footer></footer>
	</div>
</body>
</html>
