/*
**	New Event's Page Style
*/

.form_newevent{
	width: 100%;
}
.form_newevent_progress{
	position: relative;
	height: 5px;
	background-color: transparent;
	z-index: 0;
}
	.form_newevent_progress-wrapper{
		position: absolute;
		height: inherit;
		transition: 1s;
		background: linear-gradient(to right,#ff0033,yellow,#32cd32);
		background-repeat: no-repeat;
		background-position: center;

		-moz-box-shadow:inset 0px -30px 64px -45px #fff;
		-webkit-box-shadow:inset 0px -30px 64px -45px #fff;
		box-shadow:inset 0px -30px 64px -45px #fff;

		top: 0;
		left: 0;
		width: 0;
		z-index: -1;
	}

.form_newevent_body{
	overflow: hidden;
	padding: 0;
	height: 227px;
}
.form_newevent_body-wrapper{
	display: block;
	position: relative;
	width: 300%;
	height: inherit;
}
.form_newevent_body-wrapper-item{
	display: inline-block;
	position: relative;
    transition: .5s ease-out;
	height: 187px;
}

.form_newevent .btn_hollow{
	color: #616161
}
	.form_newevent .btn_hollow:hover, .form_newevent .btn_hollow:focus{
		color: #212121
	}

.form_newevent .btn_hollow > .fa{
	padding-left: 5px;
	opacity: .5;
}
	.form_newevent .btn_hollow:hover > .fa, .form_newevent .btn_hollow:focus > .fa{
		opacity: 1;
	}


/*
 *  Form Collapse Style
*/
.form_collapse .form_body{
	height: 44px;
}
	.form_collapse.open .form_body{
		height: auto;
	}

.form_collapse .input-field{
	margin-top: .4em;
	margin-bottom: .2em
}
	.form_collapse.open .input-field{
		margin-top: 1em;
	}

.form_collapse .input-field > input{
	border-bottom: 0;
}
	.form_collapse.open .input-field > input{
		border-bottom: 1px solid #9e9e9e;
	}
	.form_collapse.open .input-field > input.invalid{
		border-bottom: 1px solid #F44336;
	}

.form_collapse .row{
	margin: 0;
}
	.form_collapse.open .row{
		margin: 15px auto;
	}

.form_collapse .hidden{
	display: none;
}
	.form_collapse.open .hidden{
		display: block;;
	}

.radio-field{
	position: relative;
    margin-top: 1em;
	margin-bottom: .2em;
}
.radio-label{
	color: #9e9e9e;
    position: absolute;
    top: .5em;
    cursor: text;
    transition: .2s ease-out;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	font-size: .8em;
    letter-spacing: .01em;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
.radio-block{
	width: 50%;
	float: left;
	height: 35px;
	line-height: 35px;
}


/**
* Event ID Number
*/
.eventCode{
	text-align: center;
	margin-bottom: 50px;
}
.eventCode h2{
	margin-bottom: 30px;
	display: block;
}
.eventCode-item {
	margin: 0 10px;
	padding: 5px 10px;
	font-size: 2em;
	border: 2px solid #008DA7;
	color: #008DA7;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.form_heading-icon{
	font-size: 1.3em;
	float: right;
}
