.modal-open .header-landing {
    padding-right: 17px;
}

.header-landing{
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(250,251,252,0.3);
    z-index: 110;
}

.header-landing__brand{
    line-height: 30px;
    font-size: 2em;
    font-weight: bold;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    max-width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-landing__menu-icon{
    display: none;
    font-size: 1.5em;
    padding: 15px 20px;
    line-height: 30px;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

.header-landing__menu{
    display: flex;
    line-height: 30px;
}

.header-landing__link{
    padding: 15px 10px;
    line-height: 30px;
}
.header-landing__link:first-child{
    padding-left: 0;
}

.header-landing__link{
    text-align: center;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.jumbotron-landing{
    height: 350px;
    position: relative;
    width: 100%;
}

.jumbotron-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
}
.jumbotron-landing__title{
    display: inline-block;
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    z-index: 2;
}


.event-info {
    position: relative;
}

.event-info__block{
    text-align: center;
    margin: 30px auto;
    padding: 0 50px;
    height: 150px;
}
.event-info__block--border {
    border-right: 1px solid #cfcfcf;
}
.event-info__icon{
    display: block;
    text-align: center;
    margin: 15px 0;
    font-size: 2.3em;
}
.event-info__h1,
.event-info__h2 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event-info__h1{
    font-size: 1.5em;
}
.event-info__h2{
    font-size: 1em;
    margin-top: 10px;
}



@media (max-width: 992px) {
    .event-info__block{
        padding: 0 10px;
    }
}

@media (max-width: 680px) {

    .event-info__block{
        height: auto;
        margin: 10px auto;
    }
    .event-info__block--border{
        border: 0;

    }
}

@media (max-width: 600px) {
    .header-landing__menu-icon{
        display: block;
    }
    .header-landing__menu{
        display: none;
        position: absolute;
        top: -100%;
        left:0;
        width:100%;
        background: #FCFCFC;
    }
    .header-landing__menu .header-landing__link{
        display: block;
        width: 100%;
        color: #413a41;
        text-shadow: none;
        padding: 10px 0;
    }


}


.event-title{
    color:#fff;
    text-shadow: 0px 0px 3px #ccc;
    padding: 1em 0 0 1em;
}
.event-info__elem{
    padding: 30px 0;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
}
.event-info__elem_border{
    border-right: 1px solid #413a41;
}
.event-info__title{
    color: #F5F5F5;
    margin:7px;
    font-size: 1.5em !important;
}
.event-info__elem .event-info__elem_description:nth-child(2){
    display: block;
    font-weight: bold;
    color: #E0E0E0;
    letter-spacing: 0.05em;
    font-size: 1em;
    margin-bottom: 5px;
}
.event-info__elem .event-info__elem_description:nth-child(3){
    display: block;
    color: #bbb;
    font-size: .65em;
}

@media screen and (max-width: 680px){
    .event-info__elem{
        padding: 0;
    }
    .event-info__elem .event-info__elem_border{
        border-right: 0;
        padding: 10px 0;
        width: 235px;
        margin: auto;
        border-bottom: 1px solid #413a41;
    }
    .event-info__elem:last-child .event-info__elem_border{
        padding-bottom: 30px;
    }
}

.event-rating{
    position: relative;
}

.rating-list{
    padding:5%;
    text-align:center;
}

.rating-list li .name{
    margin:0;
}

.rating-list li .photo{
    margin:0 auto;
    position: relative;
}

.place-icon{
    position: absolute;
    line-height: 45px;
    text-align: center;
    width:50px;
    height:50px;
    font-size: 1.5em;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}
.place-icon.top-right{
    top: 0;
    right:0;
}
.place-icon.top-right span{
    font-size: 2em;
    font-weight: 700;
    color: #0097A7
}
.place-icon.button-right{
    bottom: 0;
    right:0;
    border: 3px solid #0097A7;
    background-color: #292d35;
}

.rating-list li:nth-child(3):after{
    display: block;
    content: '';
}

.rating-list li:nth-child(1) .photo{
    height:15em;
    width:15em;
}

.rating-list li:nth-child(2) .photo{
    width:14em;
    height:14em;
}

.rating-list li:nth-child(1) .place-icon{
    border-color:gold;
}

.rating-list li:nth-child(2) .place-icon{
    border-color:silver;
}

.rating-list li:nth-child(3) .place-icon{
    border-color:orange;
}

.rating-list li{
    text-align:center;
    display:inline-block;
    width:15em;
    margin:0 10px;
}

.rating-bar{
    background:#000;
    padding:3px;
    border:1px solid #fff;
    margin:1em;
}
.rating-bar span{
    display:block;
    padding: 10px;
    background: #0097A7;
    color:#ddd;
}
.rating-bar, .rating-bar span {
    border-radius:4px;
}

.photo{
    border-radius:50%;
    width:12.5em;
    height:12.5em;
    border:5px solid #ddd;
    transition:0.25s;
    background-position:center center;
    background-size:cover;
    margin-left:0;
}

.name{
    display:inline-block;
    font-size:2em;
    color:#656565;
    margin-left:10%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.animate{
    color:#ddd;
    font-weight:bold;
    /*padding: 13px 0;*/
    animation: progress 2s linear;
    -moz-animation: progress 2s linear;
    -webkit-animation: progress 2s linear;
    -ms-animation: progress 2s linear;
    -o-animation: progress 2s linear;
}

@-webkit-keyframes progress {
    from { width:0% }
    to { width:100%; }
}
@-moz-keyframes progress {
    from { width:0% }
    to { width:100%; }
}
@-ms-keyframes progress {
    from { width:0% }
    to { width:100%; }
}
@-o-keyframes progress {
    from { width:0% }
    to { width:100%; }
}
@keyframes progress {
    from { width:0% }
    to { width:100%; }
}


@media screen and (max-width: 735px) {

    .rating-list li{
        padding:1em;
    }
    .rating-list li:nth-child(1){
        width: 278px;
    }
    .rating-list li:nth-child(2){
        width: 262px;
    }
    .rating-bar{
        margin: 1em 0;
    }



}

.rating_color_black span{
    color:#333;
}

#map{
    min-height: 350px;
}
#vk_groups{
    float:right;
}

.name small{
    font-size: 0.5em;
}

.card_height-500px{
    height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 31;
}

.card_content-text-hidden {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, transparent, rgb(255,255,255));
    cursor: pointer;
}

.event-description{
    word-wrap: break-word;
    position: relative;
    float:left;
    font-size: 1.25em;
    width:calc(100% - 310px);
    padding-right:3%;
}
.event-description_social{
    width:310px;
    float:right;
}

@media screen and (max-width: 680px){
    .event-description{
        width:100%;
        display: block;
        margin-bottom: 30px;
    }
    .event-description_social{
        float: none;
        margin: auto;
    }
}


.nwe-about{
    margin: 20px 20px 40px 20px;
}
.nwe-about h4{
    font-size: 1.1em;
}
.nwe-about_link{
    color: inherit;
    font-size: inherit;
}
.nwe-about > p > a{
    color: #413a41;
    font-weight: 100;
}
.nwe-about .mailto{
    text-decoration: underline;
}
.nwe-about > p > a > i{
    width: 18px;
    text-align: center;
    margin-right: 3px;
}
.fa-vk{
    color: #45668e;
}
.fa-twitter{
    color: #00aced;
}
.nwe-about_social:hover > span{
    color: #0097A7;
    border-bottom:1px dashed #0097A7;
}














.top_nav{
    padding: 0;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(150,150,150,.5);
}
.top_nav  a{
    min-height: 72px;
    font-size: 1.25em;
    padding: 10px;
    color: #fafafa;
    text-shadow: 1px 1px 10px #333, 1px 1px 3px #000;
}


.active{
    box-shadow: inset 0 -3px 0 0 #0097A7;
}
.top_nav li:hover{
    box-shadow: inset 0 -3px 0 0 #0097A7;
}

.loading{
    display: block;
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    top: 130px;
    left: 40%;
}


.vote_me{
    width:100%;
    cursor:pointer;
}

.reset{
    position: absolute;
    top:160px;
    right: 20px;
    padding: 15px;
    z-index: 5;
    text-decoration: underline;
    opacity: .4;
    cursor: pointer;
}
.reset:hover,.reset:focus{
    opacity: 1;
}
@media screen and (max-width: 680px){
    .reset{
        top: 290px;
    }
}
@media screen and (max-width: 480px){
    .reset{
        top: 510px;
    }
}