@font-face {
  font-family: 'icons_fonts';

  src:  url('../fonts/crowd_of_users.eot?6vo4xl');
  src:  url('../fonts/crowd_of_users.eot?6vo4xl#iefix') format('embedded-opentype'),
    url('../fonts/crowd_of_users.ttf?6vo4xl') format('truetype'),
    url('../fonts/crowd_of_users.woff?6vo4xl') format('woff'),
    url('../fonts/crowd_of_users.svg?6vo4xl#icomoon') format('svg');

  src:  url('../fonts/rating.eot?a91zkh');
  src:  url('../fonts/rating.eot?a91zkh#iefix') format('embedded-opentype'),
    url('../fonts/rating.ttf?a91zkh') format('truetype'),
    url('../fonts/rating.woff?a91zkh') format('woff'),
    url('../fonts/rating.svg?a91zkh#rating') format('svg');

  src:  url('../fonts/leadership.eot?z9g7v6');
  src:  url('../fonts/leadership.eot?z9g7v6#iefix') format('embedded-opentype'),
    url('../fonts/leadership.ttf?z9g7v6') format('truetype'),
    url('../fonts/leadership.woff?z9g7v6') format('woff'),
    url('../fonts/leadership.svg?z9g7v6#leadership') format('svg');

  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: 'icons_fonts' !important;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crowd-of-users:before {
  content: "\e905";
}

.icon-rating:before {
  content: "\e999";
}

.icon-leadership .path1:before {
  content: "\e900";
  color: rgb(252, 252, 252);
}
.icon-leadership .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(65, 58, 65);
}
.icon-leadership .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(65, 58, 65);
}
.icon-leadership .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(65, 58, 65);
}
.icon-leadership .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}

.icon-cancel:before {
    content: '\e806';
}
