.form{
    overflow-x: hidden;
}
.form__body{
    padding: 0;
    display: flex;
}
.form__wrapper{
    padding: 15px;
    width: 100%;
    transition: transform .35s ease;
}
.input-field input,
.input-field textarea{
    box-shadow: none !important;
}
.progress-wrapper{
    position: relative;
    height: 5px;
    background-color: transparent;
    z-index: 0;
}
.progress-wrapper__width{
    position: absolute;
    height: inherit;
    transition: 1s;
    background: linear-gradient(to right, #ff0033, yellow, #32cd32) no-repeat center;
    box-shadow:inset 0 -30px 64px -45px #fff;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
}

.vp-site__input{
    padding-left: 120px;
    width: calc(100% - 120px) !important;
}
.vp-site__placeholder{
    position: absolute;
    top: 0;
    padding: 8px 0;
}
