/**
 * Jumbotron Wrapper
 */

.jumbotron__nav{
	border-top: 0;
}

img.jumbotron--loading {
	filter: blur(16px);
}

.jumbotron__logo{
	position: absolute;
	bottom: 20px;
	left: 50px;
	width: 180px;
	height: 180px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	z-index: 11;
}
	.jumbotron__logo img{
		position: relative;
		margin: 5px;
		height: 170px;
		width: 170px;
		z-index: 2;
	}


.jumbotron__logo-edit{
	position: absolute;
    height: 40px;
    transition: .15s;
    z-index: 3;
    bottom: 5px;
    left: 5px;
    width: 170px;
}
	.jumbotron__logo-edit .fa{
		position: absolute;
	    font-size: 1.1em;
	    color: #fafafa;
	    opacity: .8;
	    text-shadow: 0 0 2px #777;
	    line-height: 40px;
	    left: 11px;
	    transition: .15s;
	}

	.jumbotron__logo-edit span{
		display: none;
		padding: 5px 10px 5px 40px;
		color: #fff;
		font-size: 0.8em;
	}


.jumbotron__logo:hover .jumbotron__logo-edit{
	background: rgba(0, 0, 0, .6);
}
	.jumbotron__logo:hover .jumbotron__logo-edit span{
		display: inline-block;
	}

.jumbotron__logo:hover .jumbotron__logo-edit:hover{
	background: rgba(0, 0, 0, .75);
}


.jumbotron__logo-background{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 120px;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
}

.jumbotron__logo-text{
	width: calc(100% - 300px);
	position: absolute;
	bottom: 50px;
	left: 280px;
}
	.jumbotron__logo-text h2{
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 90%;
		color: #fff;
	}
	.jumbotron__logo-text > a {
		display: inline-block;
		position: relative;
		vertical-align: top;
		top: 10px;
		left: 5px;
		font-size: 1.2em;
		color: #f5f7fa;
	}



/**
 * Jumbotron Navigation in EVENTS SUBMODULES
 */
.jumbotron__nav--org-list{
	width: 100%;
	height: inherit;
	margin-left: 280px;
}
.jumbotron__nav--org-item {
	position: relative;
	cursor: pointer;
	float: left;
}
.jumbotron__nav--org-item:not(:last-child) {
	margin-right: 30px;
}
.jumbotron__nav-btn{
	line-height: normal;
}



/**
 * Media - Tablet
 */

@media (max-width: 992px) {

	 .jumbotron__logo-edit{
		 width: 30%
	 }
	 	.jumbotron__logo-edit a{
			display: block;
			height: inherit;
			width: 100%;
			text-align: center;
		}
			.jumbotron__logo-edit a .fa{
				position: relative;
				left: 0;
			}
	.jumbotron__logo:hover .jumbotron__logo-edit{
		background: transparent;
	}
		.jumbotron__logo:hover .jumbotron__logo-edit:hover{
			background: transparent;
		}
		.jumbotron__logo:hover .jumbotron__logo-edit span{
			display: none;
		}



}


/**
 * Media - Mobile
 */

@media (max-width: 680px){

	.jumbotron__logo{
		left: calc(50% - 90px);
    	width: 150px;
		height: 150px;
    	top: 50px;
	}
		.jumbotron__logo img{
			width: 140px;
			height: 140px;
		}

	.jumbotron__logo-text{
		left:auto;
		bottom:0;
		width:95%;
		text-align:center;
	}
		.jumbotron__logo-text h2{
			font-size:1.4em;
		}

	.jumbotron__logo-background{
		bottom: 0;
		height: 80px;
	}

	.jumbotron__nav--org-list{
		height: initial;
		margin-left: 0;
	}

}

.events{
	display: flex;
	align-items: flex-end;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}
.event{
	width: 300px;
	margin: 0 20px 40px 20px;
}
.event__img{
	display: block;
	background-size: cover;
	height: 150px;
	background-position: center center;
	background-color: #008da7;
}
.event__wrapper{
	padding: 10px;
}
.event__name{
	display: block;
	margin: 2px 0 10px 0;
}
.event__desc{
	color: #9e9e9e;
	margin: 10px 0;
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	max-height: 5.5em;
	-webkit-line-clamp: 5;
}
.event__labels{
	width: 70%;
	user-select: none;
	cursor: default;
}
.event__watches{
	font-size: .8em;
	color: #9e9e9e;
	padding: 2px 0 1px 0;
	margin-right: 8px;
	user-select: none;
	cursor: default;
}
.event__watches-counter{
	margin-left: 5px;
}
.event__dropdown{
	margin-left: 5px;
	z-index: 5;
}
.event__dropdown-btn{
	color: #9e9e9e;
}
.event__dropdown:hover .event__dropdown-btn{
	color: #008da7;
}
.event__dropdown-menu{
	top: 100%;
	right: -30px;
}