.jumbotron_profile,
.jumbotron_profile .jumbotron_wrapper,
.jumbotron_profile .parallax{
    height: 220px;
    margin-bottom: 0;
}

/** user info  */
.user-info{
    margin: -64px auto 20px auto;
}
.user-info__avatar {
    position: relative;
    border-radius: 50%;
    max-height: 145px;
    max-width: 145px;
    overflow: hidden;
    margin: -85px auto 0 auto;
    background-color: #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
}
.user-info__avatar img{
    height: 100%;
    width: 100%;
}

.user-info__avatar--loading {
    filter: blur(5px);
}

.user-info__branding--loading {
    filter: blur(25px);
}

.user-info__description {
    margin-bottom: 0;
}
.user-info__description > h1, .user-info__description > h2, .user-info__description > h3{
    color: #413a41;
    margin: 0 0 10px 0;
    font-weight: normal;
}
.user-info__description > h1{
    font-size: 1.5em;
    opacity: .85;
}
.user-info__description > h2{
    font-size: 1.1em;
}
.user-info__description > h3{
    display: inline-block;
    font-size: 1em;
    opacity: .7;
}
.user-info__description > h3:not(:last-child):after{
    content: ','
}
.user-info__edit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.user-info__edit-btn:hover,
.user-info__edit-btn:focus{
    background-color: rgba(0,141,167,.13);
    border-radius: 50%;
}
.user-info__edit-btn > .fa{
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 3px;
    font-size: 1.25em;
    color: #008DA7;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.edit-user-info__avatar{
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
}
.edit-user-info__avatar,
.edit-user-info__avatar-edit{
    line-height: 145px;
    border-radius: 50%;
    height: 145px;
    width: 145px;
    margin: auto;
    overflow: hidden;
}
.edit-user-info__avatar-edit{
    display: none;
    background-color: rgba(0,0,0,.3);
    position: absolute;
}
    .edit-user-info__avatar:hover > .edit-user-info__avatar-edit{
        display: block;
    }

    .edit-user-info__avatar-edit > .fa{
        color: #f9f9f9;
        text-shadow: 0 0 3px rgba(0,0,0,0.7)
    }

.edit-user-info__avatar img{
    height: 100%;
    width: 100%;
}

.edit-user-info__fio > .input-field{
    padding: 0;
}

.edit-user-info__input{
    margin-top: 2em;
}

@media (min-width: 680px) {

    .edit-user-info__fio{
        width: calc(100% - 180px);
    }
    .edit-user-info__input{
        margin-top: 1.5em;
    }

}
