/** header */
.loader{
    display: flex;
    position: fixed;
    top:0;;
    left:0;
    right:0;
    bottom: 0;
    z-index: 1000;
    background: white;
}
.loader .fa{
    margin: auto;
}

.header__wrapper{
    opacity:1;
    width: 100%;
    padding-right: 10px;
}
.header__brand--active{
    display: block !important;
}
.header__button{
    max-width: 336px;
}
.header__menu{
    position: absolute;
    top:0;
    right: 10px;
}
.modal-open .header__menu{
    right: 27px;
}
.header__menu-icon{
    display: block !important;
}
@media (max-width: 470px) {
    .header__brand{
        display: none;
    }
    .header__button{
        max-width: 236px;
    }
}

.status{
    display: inline-block;
    position: relative;
    margin-right: 3px;
    height: 8px;
    width: 8px;
    color: #fff;
    border-radius: 50%;
}
.status--online{
    background-color: #27c24c;
}
.status--offline{
    background-color: #f05050;
}
.status--reconnect{
    background-color: #FFD700;
    animation: reconnect 1.7s infinite;
}

@keyframes reconnect {
    0% {opacity: 1}
    50% {opacity: 0.7}
    100% {opacity: 1}
}

.mobile-aside__menu-link .fa{
    transition: all .2s ease;
}
.mobile-aside__menu-link[data-opened="true"] .fa{
    transform: rotate(180deg) translateX(4px);
}

.mobile-aside__collapse{
    padding-left: 0;
}
.mobile-aside__collapse-link{
    padding-left: 35px;
}

.mobile-aside__menu-item--closed > .mobile-aside__menu-link,
.mobile-aside__collapse-item--closed > .mobile-aside__collapse-link{
    border-right: 3px solid #f05050;
    color: rgba(0,0,0,0.26);
    background-color: #f5f5f5;
    pointer-events: none;
}
.mobile-aside__menu-item--current > .mobile-aside__menu-link,
.mobile-aside__collapse-item--current{
    border-right: 3px solid #008DA7;
}
.mobile-aside__menu-item--opened > .mobile-aside__menu-link,
.mobile-aside__collapse-item--opened{
    border-right: 3px solid #27c24c;

}


.jumbotron--voting-panel{
    height: 260px;
    z-index: 2;
}



.contests{
    display: block;
}

.content__stages,
.stage__members{
    position: relative;
    margin-top: 5vmin;
}
.contest{
    position: relative;
}
.stage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 30px;
}
.content__header,
.stage__header{
    margin: 3vmin 0;
    text-align: center;
}
.content__header{
    font-size: 6vmin;
}
.stage__header{
    font-size: 5vmin;
}
.contest__description,
.stage__description {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.contest__description{
    font-size: 4vmin;
    -webkit-line-clamp: 4;
}
.stage__description {
    font-size: 3vmin;
    -webkit-line-clamp: 2;
}
.member{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    border: 0;
    user-select: none;
}

.member__header{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
}
.member__header[data-opened="true"]{
    border-bottom: 1px solid #e3e4e8;
}

.member__image{
    border-radius: 50%;
    height: 20vmin;
    width: 20vmin;
    border: 1px solid #e3e4e8;
    margin: 5px;
}
.member__content{
    width: calc(100% - 20px - 20vmin);
    margin-left: 10px;
}
.member__name{
    margin: 0;
    word-wrap: break-word;
    font-size: 4.5vmin;
}
.member__name--invalid{
    color: #f05050;
}
.member__addition{
    padding-top: 3vmin;
    font-size: 3.5vmin;
    margin: 0;
}

.member__criterions{
    padding: 10px 15px;
}

.criterion{
    margin: 10px 0;
    letter-spacing: normal;
}
.criterion:not(:last-child){
    border-bottom: 1px dashed #eee;
    margin-bottom: 15px;
}

.criterion__name{
    font-size: 4vmin;
}
.criterion__description{
    display: inline;
    opacity: .25;
    cursor: pointer;
}
.criterion__description .criterion__description-text{
    display: none;
}
.criterion__scores{
    display: block;
}

.criterion__submit,
.stage__submit{
    width: 100%;
    text-align: center;
}
.criterion__submit-btn,
.stage__submit-btn{
    margin: 20px auto;
    color: #FFF;
    background-color: #008DA7;
    border-color: #1F757D;
    border-radius: 3px;
    padding: 2vmin 3vmin;
    font-size: 4vmin;
}
.criterion__submit-btn:hover,
.stage__submit-btn:hover{
    color: #FFF;
    background-color: #1F757D;
}

.criterion__scores--invalid .score{
    color: #FCFCFC;
    background-color: #f05050;
    border: 1px solid #ee3d3d;
}

.score{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 10vmin;
    height: 10vmin;
    margin: 0 2vmin 3vmin;
    border-radius: 3px;
    background: #cfcfcf;
    border: 1px solid #BBBBBB;
}
.score--active,
.criterion__scores--invalid .score--active{
    color: #fcfcfc;
    background: #008DA7;
    border: 1px solid #1F6E7D;
}

.score__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5vmin;
}
.score__input{
    display: none;
}











    /* Stage navigation */
.section__content{
    user-select: none;
}

.tabs__block{
    display: none;
}
.tabs__block--active{
    display: block;
}

.tabs__header{
    display: block;
    position: relative;
    will-change: all;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: inherit;
    margin: 10px 0;
    text-align: center;
}

.tabs__btn{
    text-align: center;
    display: inline-block;
    margin: 8px 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    user-select: none;
    cursor: pointer;
}

.tabs__btn--active{
    background-color: #008DA7;
    border: 1px solid #1F6E7D;
    color: #FFFFFF;
}

.stages{
    overflow: hidden;
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 100px;
}

.stage-block{
    width: 100%;
}

.stage-block__member{
    margin: 20px 5px 30px 5px;
}

.criterions{
    display: block;
    position: relative;
    overflow: hidden;
    will-change: all;
    white-space: nowrap;
    letter-spacing: -0.3em;
}

.criterion-block {
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: pointer;
    letter-spacing: normal;
    margin-right: 10px;
    padding: 15px 30px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #e3e4e8;
}

.criterions,
.criterion-block{
    vertical-align: top;
    min-height: 190px;
}

.criterion-block:last-of-type {
    margin: 0;
}

.criterion-block__image-wrapper{
    display: inline-block;
    position: relative;
    float: left;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 3px;
    width: 160px;
    min-height: 160px;
    margin-right: 30px;
}

.criterion-block__image{
    margin: 5px;
    width: 150px;
    min-height: 150px;
    border-radius: 3px;
}

.criterion-block__content,
.criterion-block__content--small{
    float: left;
    min-height: 160px;
    text-align: left;
    width: 100%;
}
.criterion-block__content--small{
    width: calc(100% - 190px);
}

.member-name{
    font-size: 2em;
    padding-right: 30px;
}
.member-text{
    font-size: 1.5em;
}
.member-text--brand{
    color: #008DA7;
    font-weight: bold;
}

.member-name,
.member-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #413a41;
}

.member-text--small{
    font-size: 1em;
    opacity:.5;
}

.member-icon{
    font-size: .8em;
}

.criterion-counter{
    position: absolute;
    font-size: .75em;
    top:18px;
    right:20px;
}

.scores-area{
    float: left;
    width:100%;
}


@media (max-width: 992px) {
    .criterion-block {
        padding: 15px 20px;
    }
    .criterion-block__image-wrapper{
        margin-right: 20px;
    }
    .criterion-block__content--small{
        width: calc(100% - 180px);
    }
    .member-name{
        font-size: 1.8em;
        padding-right: 35px;
    }
    .member-text{
        font-size: 1.5em;
    }
}

@media (max-width: 680px) {
    .criterions,
    .criterion-block{
        min-height: 170px;
    }

    .criterion-block {
        padding: 15px;
    }

    .criterion-block__image-wrapper{
        width: 140px;
        min-height:140px;
        margin-right: 15px;
    }
    .criterion-block__image{
        min-height:130px;
        width:130px;
    }
    .criterion-block__content{
        min-height: 140px;
    }
    .criterion-block__content--small{
        width: calc(100% - 155px);
    }
    .member-name{
        font-size: 1.5em;

    }
    .member-text{
        font-size: 1.3em;
    }
}

@media (max-width: 520px) {
    .criterions,
    .criterion-block{
        min-height: 130px;
    }
    .criterion-block__image-wrapper{
        width: 100px;
        min-height:100px;
        margin-right: 10px;
    }
    .criterion-block__image{
        min-height:90px;
        width:90px;
    }
    .criterion-block__content{
        min-height: 100px;
    }
    .criterion-block__content--small{
        width: calc(100% - 110px);

    }

    .member-name{
        font-size: 1.3em;
    }
    .member-text{
        font-size: 1.1em;
    }
}
