/** judge status */
.status{
    display: inline-block;
    position: relative;
    margin-right: 3px;
    height: 8px;
    width: 8px;
    color: #fff;
    border-radius: 50%;
}
.status--online{
    background-color: #27c24c;
}
.status--offline{
    background-color: #f05050;
}
.status--reconnect{
    background-color: #FFD700;
    animation: reconnect 1.7s infinite;
}

@keyframes reconnect {
    0% {opacity: 1}
    50% {opacity: 0.7}
    100% {opacity: 1}
}



.fa-chevron-down {
    transition: all .2s ease;
}

[data-toggle="collapse"][data-opened="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

.criterion{
    padding: 20px 0 10px;
    border-top: 1px dashed #eee;
}
.criterion__name{
    font-size: 1.2em;
    margin: 0 5px 10px;
}

.criterion__description{
    margin-left: 5px;
    opacity: .3;
}

.criterion__scores{
    display: block;
}

.criterion__score{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 2px;
    background: #e7e8ec;
    border: 1px solid #ddd;
}

.criterion__score-value{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
}

.criterion__score-input{
    display: none;
}

.criterion__score-input:checked + .criterion__score{
    color: #fcfcfc;
    background: #008DA7;
    border: 1px solid #1F6E7D;
}

.criterion__scores--invalid .criterion__score{
    color: #FCFCFC;
    background-color: #f05050;
    border: 1px solid #ee3d3d;
}

.stage__submit{
    float: right;
    margin: 10px auto;
    color: #FFF;
    background-color: #008DA7;
    border-color: #1F757D;
    border-radius: 3px;
    padding: 2vmin 3vmin;
    font-size: 4vmin;
}