<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>NoteWorthyEvent - События, заслуживающие внимания</title>
    <meta charset="UTF-8">
    <meta name="description" content="Описание">
    <meta name="author" content="NoteWortyEvent" />
    <meta name="description" content="Сайт, который помогает организаторам проводить мероприятия на престижном уровне" />
    <meta name="keywords"  content="noteworthy,noteworthyevent,event,событие,встреча,мероприятие,участники,жюри,организаторы,рейтинг,выставления баллов,сайт мероприятия" />
    <meta name="Resource-type" content="Document" />
    <!-- Иконка сайта -->
    <link rel="icon" type="image/png" href="assets/imgs/favicon.png">
    <!-- Стили -->
    <link rel="stylesheet" href="assets/css/remodal.css">
    <link rel="stylesheet" href="assets/css/remodal-default-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fullPage.css" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/pronwe.css">
    <link rel="stylesheet" href="assets/css/i-style.css">

    <!-- Подключаем скрипты -->
    <script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fullPage.js"></script>
    <script src="assets/js/remodal.min.js"></script>
    <script src="assets/js/js.js"></script>
  </head>

  <body>
    <div class="pl">
      <div class="round1"></div>
      <div class="pl_r"></div>
      <div class="pl_l"></div>
    </div>
    <div class="remodal-bg">
     
      <ul id="menu">
        <li class="menu__li" data-menuanchor="Welcome"><a class="menu__a" href="#Welcome">Приветствие</a></li>
        <li class="menu__li" data-menuanchor="About"><a class="menu__a" href="#About">О нас</a></li>
        <li class="menu__li" data-menuanchor="Organizator"><a class="menu__a" href="#Organizator">Организаторам</a></li>
        <li class="menu__li" data-menuanchor="Customer"><a class="menu__a" href="#Customer">Заказчикам</a></li>
        <!--<li class="menu__li" data-menuanchor="Review"><a class="menu__a" href="#Review">Отзывы</a></li>
        <li class="menu__li" data-menuanchor="Feedback"><a class="menu__a" href="#Feedback">Обратная связь</a></li>
        -->
      </ul>  
      <div id="fullpage">
        <div class="p1 section" id="section0" data-anchor="Welcome">
          <div class="p_left">
            <div class="p1_logo">
                <img src="assets/imgs/main_logo.png" width="100%"><br>

            </div>
            <div class="p1_slogan">
              <p>С нами Ваши мероприятия выходят на новый уровень!</p><br>
            </div>
            <div class="p1_down">
              <a a class="tooltips" href="#About">
                <span>Подробнее</span>
                <i class="p1_center fa fa-angle-double-down fa-5x"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="p2 section" id="section1" data-anchor="About">
          
          <div class="p_right">
            Проект <a class="pronwelink" href="http://pronwe.ru">ProNWE</a>
            направлен на ускорение работы организаторов при создании страницы мероприятия!<br>
          </div>
        </div>
        
        <div class="p3 section" id="section2" data-anchor="Organizator">
          <div class="slide clearfix p3_1" data-anchor="1">
            <p>Создание страницы не займёт более пяти минут!</p>
            <p>Используте разные инструменты, чтобы сделать страницу оригинальной!</p>
          </div>
          <div class="slide clearfix p3_2" data-anchor="2">
            <p>Все действия, необходимые для эффективной работы находятся на удобной админ-панели! Вы можете не только создавать или редактировать мероприятия, но и получать обратную связь от гостей Вашего мероприятия.</p>
          </div>
          <div class="slide clearfix " data-anchor="3">
            <p>Создание мероприятие стало ещё проще!</p>
            <p>Всего три простые шага и Ваше страница готова:</p>
            <ul class="p3_list">
              <li>Общая информация о мероприятии</li>
              <li>Выбор необходимых элементов на странице</li>
              <li>Условия пользования сайтом</li>
            </ul>
          </div>
          <div class="slide clearfix" data-anchor="4">
              <p>Проводите мероприятие, нуждающиеся в оценке участников?</p>
              <p>Представляем впервые разработанную и выпущенную в массовое употребление жюри-панель</p>
              <p>Если мероприятие проходит в несколько этапов, то для вас доступна админ-панель, где вы сможете проконтролировать  работу жюри и проверить корректность выстановления баллов!</p>
              <p>Выбери подходящую формулу, для выставления баллов, а если её нет - предложи свою!</p>
          </div>
          <div class="slide clearfix" data-anchor="5">
              <p>Придумай оригинальное имя своей страницы и предоставь к ней доступ!</p>
              <p>Поставь онлайн-трансляцию вашего мероприятия прямо на главную страницу!</p>
              <p>Добавь различные виджеты, чтобы сделать страницу максимально функциональной!</p>
          </div>
          <div class="slide clearfix" data-anchor="6">
            <p>Вы будите готовы провести мероприятие, как с интернетом, так и без него!</p>
            <p>Для этого скачай нашу программу, которая делает Ваш компьютер беспроводной точкой доступа! Жюри и гости мероприятия могут увидеть все преимущества Вашей организации, наслаждаясь выбранными Вами опциями.</p>
          </div>
        </div>
        <!--  
        <div class="p4 section" id="section3" data-anchor="Customer">
          <div class="slide clearfix1" data-anchor="1">
            Любой желающий может оставить вам отзыв о проведенном мероприятие, поставить лайк 
          </div>
          <div class="slide clearfix1" data-anchor="2">
            
          </div>
          <div class="slide clearfix1" data-anchor="3">
            
          </div>
        </div>
        
        <div class="p5 section" id="section4" data-anchor="Review">
          <div class="fon_black">
            <div class="mid">
              <h3 class="zag">Кликните на фото, что бы прочитать отзыв:</h3>
              <div class="p6_otziv">
                <a href="#rev1" class="p6_link"><img src="images/ava/akmin.jpg" alt="Зленко" class="p6_avamin"></a>
              </div>
              <div class="remodal" data-remodal-id="rev1">
                <button data-remodal-action="close" class="remodal-close"></button>                
                  Попрошу-напишет, пока можно не отоброжать. Хотя будет клево, что отзыв есть, мб СО ито попросить!
                <button data-remodal-action="confirm" class="remodal-confirm">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
        -->
        <div class="p6 section" id="section5" data-anchor="Feedback">
          <div class="fp-tableCell" style="height: 356px;">
            <div class="getready">
              <h2 class="quote">Мы уже во всю готовимся к открытию!</h2>
              <p>Проект <a class="pronwelink" href="http://pronwe.ru">ProNWE</a> 
              уже готов и находится на стадии тестирования. Уже скоро каждый 
              организатор сможет оценить возможности данного проекта! Если у Вас
              появились какие-нибудь вопросы, то можете связаться с нами</p>
              
              <ul class="listStyle-inline">
                <li>
                  <a class="icon icon-envelop hover-Message" href="#Feedback">
                    support@pronwe.ru
                  </a>
                </li>
                <br><br>
                <li>
                  <a class="icon icon-facebook2 icon_tooltips hover-Facebook" href="https://www.facebook.com/groups/ProNWE/">
                    <span>Facebook</span>
                  </a> 
                </li>
                <li>
                  <a class="icon icon-instagram icon_tooltips hover-Instagram" href="https://www.instagram.com/pronwe/">
                    <span>Instagram</span>    
                  </a>
                </li>
                <li>
                <a class="icon icon-twitter icon_tooltips hover-Twitter" href="https://twitter.com/ProNWERU">
                  <span>Twitter</span>
                </a>
                </li>
                <li>
                  <a class="icon icon-vk icon_tooltips hover-Vk" href="https://vk.com/pronwe">
                    <span>Вконтакте</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
          <!--Помощь:
          <a class="icon-envelop" href=""></a>
          <a class="icon-whatsapp" href=""></a>
          <a class="icon-telegram" href=""></a>
          <a class="icon-skype" href=""></a>
          <br><br>-->
        </div>
        
      </div>
    </div>
  </body>
</html>
