.portlets-wrapper{
	overflow: hidden !important;
}
@media only screen and (max-width:767px) {
	table {
		display: block;
		overflow: auto;
	}
}
.media{
	width: 35px;
	height: 35px
}

.scoreinfo{
	cursor: pointer;
	color: #656565;
	font-weight: 600;
}

a:hover, a:focus{
	color: #656565;
	text-decoration: none;
}
.btn-opened, .btn-opened:focus, .btn-opened:hover{
	background-color: #24b145;
	border-color: #1f9c3d;
	color: #fff;
	opacity:1;
}