@font-face {
	font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html,body{
	height: 100%;
	width: 100%;
}
body {
		position: relative;
    font-family: MyriadProRegular;
		font-size:16px;
    line-height: 1.52857143;
    color: #616161;
    background-color: #fff;
		margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
		color: inherit;
    font: inherit;
    margin: 0;
}
button{
	background-color: transparent;
	border: 0;
	padding: 0;
}
a, a:hover, a:focus, button, button:hover, button:focus{
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: #616161;
}
ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3{
	margin-top: 20px;
	margin-bottom: 10px;
}
h2{
	font-size:2em;
}
p {
    margin: 0 0 10px;
}
.ls_none, ul{
	list-style: none;
}
.displayblock{
	display: block;
}
.displaynone{
	display:none !important;
}
.inlineblock{
	display: inline-block;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.collapse{
		display: none;
}
.collapse.in{
	display: block;
}
.pad0{
	padding: 0 !important;
}
.text-center{
	text-align:center;
}


.content-wrapper{
	width: 90%;
	margin: auto;
}
.columns-area{
	width: calc(100% + 1px);
	margin-left: -1px;
}

.user-menu{
	position:fixed;
	top:0;
	left:0;
	width:5%;
	z-index: 10;
}
	.user-menu li{
		display:block;
		text-align:center;
		font-size:1.5vw;
	}
		.user-menu li:hover{
			background-color:#aa2233;
		}

		.user-menu li:nth-child(2n+2):hover{
			background-color:#22aa33;
		}

		.user-menu li:nth-child(3n+3):hover{
			background-color:#2233aa;
		}
	.user-menu a{
		display:block;
		padding:1vmax;
		color:rgba(175,175,175,1);
	}
		.user-menu a:hover{
			color:#fafafa;
		}
	.user-menu i{
		text-shadow: -1px 0 3px rgba(0,0,0,0.5);
	}
.fl_l{
	float: left;
}
.fl_r{
	float: right;
}
.clearfix:after, .clearfix:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.block-body:after, .block-body:before{
	content: " ";
	display: table;
	clear: both;
}





/*
** Btn Styles
*/


.btn{
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 3px;
	padding: 6px 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	.btn[disabled]{
		cursor: not-allowed;
		opacity: .65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/*	Btn size */

	.btn-sm{
		padding: 4px 14px;
		font-size: .8em;
		line-height: .8em;
	}
	.btn-md{
		padding: 8px 18px;
		font-size: 1em;
		line-height: 1em;
	}
	.btn-lg{
		padding: 10px 20px;
		font-size: 1.3em;
		line-height: 1.3em;
	}

	/*	Btn colors */

	.btn-default{
		color: #616161;
		background-color: #fff;
		border: 1px solid #eaeaea;
	}
		.btn-default:focus, .btn-default:hover{
			color: #616161;
			background-color: #f5f5f5;
		}
		.btn-default[disabled], .btn-default[disabled]:focus, .btn-default[disabled]:hover{
			color: #616161;
			background-color: #fff;
		}

	.btn-primary{
		color: #fff;
		background-color: #2f95ea;
		border-color: #5899eb;
	}
		.btn-primary:focus, .btn-primary:hover{
			color: #fff;
			background-color: #4b91ea;
			border-color: #3483e7;
		}
		.btn-primary[disabled], .btn-primary[disabled]:focus, .btn-primary[disabled]:hover{
			color: #fff;
			background-color: #2f95ea;
		}

	.btn-success{
		color: #fff;
		background-color: #27c24c;
		border-color: #26be4a;
	}
		.btn-success:focus, .btn-success:hover{
			color: #fff;
			background-color: #24b145;
			border-color: #1f9c3d;
		}
		.btn-success[disabled], .btn-success[disabled]:focus, .btn-success[disabled]:hover{
			color: #fff;
			background-color: #27c24c;
		}

	.btn-danger{
		color: #fff;
		background-color: #f05050;
		border-color: #f04b4b;
	}
		.btn-danger:focus, .btn-danger:hover{
			color: #fff;
			background-color: #ee3d3d;
			border-color: #ec2626;
		}
		.btn-danger[disabled], .btn-danger[disabled]:focus, .btn-danger[disabled]:hover{
			color: #fff;
			background-color: #f05050;
		}

	/* Btn with icon  */


	.btn-labeled > .btn-icon{
		position: absolute;
		font-size: .9em;
		opacity: 0;
	}
		.btn-labeled:hover > .btn-icon{
			opacity: 1;
			transition: 0.3s;
		}

	.btn-labeled > .btn-text{
		display: inline-block;
		transition: 0.3s;
	}

		.btn-sm.btn-labeled:hover > .btn-text{
			left: -6px;
		}
		.btn-sm.btn-labeled:hover > .btn-icon i{

		}

		.btn-md.btn-labeled:hover > .btn-text{
			transform: translateX(-8px);
		}
		.btn-md.btn-labeled:hover > .btn-icon i{
			position: relative;
			right: 3px;
		}

		.btn-lg.btn-labeled:hover > .btn-text{
			left: -10px
		}
		.btn-lg.btn-labeled:hover > .btn-icon i{
			position: relative;
			right: 5px;
		}













	.input-group-btn .md-btn, .input-group-btn .md-btn:hover, .input-group-btn .md-btn:focus{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 1px solid #adadad;
		margin-left: -1px;
	}
	.input-group-btn .md-btn-sm{
		height: 30px;
		padding: 2px 10px !important;
	}

























.underlinehover:hover, .underlinehover:focus{
	border-bottom:1px dashed #1565C0;
}
.link_uppercase, .link{
	font-size: 1em;
  color: #1976d2;
  margin: 0 5px;
  letter-spacing: 0.01em;
}
	.link_uppercase:hover, .link_uppercase:focus, .link:hover, .link:focus{
		color: #1976d2;
	}
.link_uppercase{
	text-transform: uppercase;
}
label.error-input{
	width: 100% !important;
	margin: 0;
	font-size: .8em;
	color: #f47f7f;
	display: initial;
}

.input-group-addon{
	border-radius: 3px;
}


.left-column{
	float: left;
	padding-right: 10px;
	vertical-align: top;
	display: inline-block;
	width: 70%;
}
.right-column{
	float: left;
	padding-left: 10px;
	vertical-align: top;
	display: inline-block;
	width: 30%;
}

@media (max-width: 890px) {
	.left-column{
		width: 528px;
	}
		.left-column .block{
			width: 518px;
		}
	.right-column{
		width: 240px;
	}
		.right-column .block{
			width: 230px;
		}
}
.dropdown.open .drop-orgs[aria-expanded="true"]{
	background-color: white;
}
	.dropdown.open .drop-orgs[aria-expanded="true"] i{
		color: #656565;
	}
.dropdown-menu > li > a:hover{
	background-color: rgb(236,236,236);
	color: #656565;
}
.dropdown-menu .divider{
	margin: 1px 0;
}
.editable-pre-wrapped {
	word-wrap: break-word;
}


/*
**	Footer Style
*/
footer{
	width: 100%;
	min-height: 100px;
	margin-top: 50px;
	padding: 30px 0;
}
.nwe_copyright{
	font-size: 2em;
	font-weight: bold;
	margin-right: 30px;
	letter-spacing: .03em;
}

.nwe_copyright>a{
	transition: 0.5s;
	display: block;
}

.nwe_links{
	display: block;
	text-align: center;
	margin-left: 30px;
	line-height: 3em;
}
	.nwe_links li{
		display: inline-block;
		margin: 0 15px;
	}
	.nwe_links a, .nwe_copyright a{
		color: #FAFAFA;
		font-size: 1em;
		letter-spacing: .03em;
	}
	.nwe_links a{
		padding: 0 5px 6px 5px;
	}
	.nwe_links a:hover{
		border-bottom: 2px solid #FAFAFA;
	}
	.nwe_copyright a:hover{
		transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
	}


/*
** Block Style
*/

.block {
	margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 0 9px -3px rgba(0,0,0,.3);
}
	.block-heading{
		padding: 10px 15px;
		border-bottom: 1px solid transparent;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.block-body{
		padding: 15px;
	}
	.block-default{
		border: 1px solid #EEEEEE;
	}
	.block-default > .block-heading{
		font-size: 16px;
		border-color: #EEEEEE;
	}
		.block-default > .block-heading > a{
			padding-top: 5px;
			display: inline-flex;
		}
	.block-default > .block-footer {
		background-color: #fff;
		font-size: 10px;
		border-top: 1px solid transparent;
		border-top-style: dashed;
	}

		.block-heading.tabs{
			padding: 0;
			border-bottom: 1px solid #e7e7e7;
		}
		.block-heading.tabs > a{
			font-size: 1.1em;
			display: inline-block;
			padding: 6px 30px;
		}
			.block-heading.tabs > a:first-child{
				border-top-left-radius: 3px;
			}
			.block-heading.tabs >a.active{
				box-shadow:inset 0 -2px 0 0 #777;
			}
			.block-heading.tabs >a:hover{
				box-shadow:inset 0 -2px 0 0 #777;
			}


/*
** Modal Block
*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-backdrop.in{
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.modal-header button{
	padding: 5px;
	line-height: 1em;
	margin-top: -2px;
	float: right;
	color: #E0E0E0;
}
.modal-header button:hover, .modal-header button:focus{
	color: #BDBDBD;
}
.modal-title {
    margin: 0;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    border-top: 1px solid #E0E0E0;
}
.modal-footer .btn{
	margin-bottom: 0;
}
.modal-header:before,.modal-header:after, .modal-footer:before,.modal-footer:after {
	display: table;
	content: " ";
}
@media (min-width: 680px){
	.modal-dialog {
	    width: 600px;
	    margin: 30px auto;
	}
	.modal-content {
	    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	    box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}

}
.modal-sm {
		width: 370px;
		margin: 30px auto;
}
@media (min-width: 992px){
	.modal-lg {
	  width: 900px;
	}
}




/*
**	Input Fields Stile
*/

.input-field{
    position: relative;
		margin: 1em 0 1.5em 0;
}
.input-area{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2em;
    width: 100%;
    font-size: 1em;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
	.input-area:focus{
		border-bottom: 1px solid #1976D2;
		box-shadow: 0 1px 0 0 #1976D2;
	}
	.input-area:focus + .input-label{
		color: #1976D2;
	}
	.input-area.invalid, .input-area.invalid:focus{
		border-bottom: 1px solid #F44336;
		box-shadow: 0 1px 0 0 #F44336;
	}
	.input-area.invalid +.input-label{
		color: #F44336;
	}
	.input-label {
	    color: #9e9e9e;
	    position: absolute;
	    top: .6em;
			left: 0;
	    font-size: 1em;
	    cursor: text;
	    transition: .2s ease-out;
	}
		.input-label.active {
		    font-size: .8em;
				letter-spacing: .01em;
		    -webkit-transform: translateY(-140%);
		    transform: translateY(-140%);
		}
	.input-field .help-block{
		display: block;
		position: relative;
		font-size: .65em;
		letter-spacing: .035em;
		color: #bbb;
	}
	.input-field .error-input{
		display: block;;
		position: relative;
		font-size: .65em;
		letter-spacing: .035em;
		color: #F44336;
	}
		.input-field label .help-block, .input-field label .error-input{
			line-height: 1em;
		}
	.input-field .counter{
		position: absolute;
    right: 0;
		font-size: 12px;
		height: 1px;
	}
	.input-field .help-block + .counter{
		bottom: 12px;
	}

.input-area[disabled]{
   background-color: #edf1f2;
   opacity: .65;
	 cursor: not-allowed;
}

.input-field.with-icon-label .input-area{
	padding-left: 40px;
  width: calc(100% - 40px);
}
.input-field.with-icon-label .input-area + .icon-label{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 2.2em;
	width: 40px;
	text-align: center;
	transition: .1s;
}
.input-field.with-icon-label .input-area:focus{
	border-bottom: 1px solid #9e9e9e;
	box-shadow: none;
}
.input-field.with-icon-label .input-area:focus + .icon-label{
	color: #1976D2;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.input-field.with-icon-label .input-area.invalid{
	border-bottom: 1px solid #9e9e9e;
	box-shadow: none;
}
.input-field.with-icon-label .input-area.invalid  + .icon-label{
	color: #F44336;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.input-textarea{
	overflow-y: hidden;
	padding: .5em 0 .5em 0;
	resize: none;
	height: 64px;
}




/*
** Checkbox Style
*/

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
	[type="checkbox"]+label:before, [type="checkbox"]+label:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 17px;
	    height: 17px;
	    z-index: 0;
	    border: 2px solid #757575;
	    border-radius: 3px;
	    margin-top: 2px;
	    transition: .2s;
	}
	[type="checkbox"]+label:after {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 11px;
    height: 22px;
		border-radius: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 2px solid #1976d2;
    border-bottom: 2px solid #1976d2;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].invalid+label{
	color: #F44336;
}
[type="checkbox"].invalid+label:before, [type="checkbox"].invalid+label:after{
	border: 2px solid #F44336;
}
[type="checkbox"].focus:focus+label:after{
	-webkit-transform:scale(1);
	transform:scale(1);
	border:0;
	border-radius:50%;
	box-shadow:0 0 0 10px rgba(0,0,0,0.05);
	background-color:rgba(0,0,0,0.05);
}


/*
**	Columns Width
**
**  xs > 0 && xs < 480px         - very old phones
**  sm > 481px && sm < 680px     - smart phones
**  md > 681px && md < 992px		 - tablets
**  lg > 993px									 - PC
**
*/
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    padding-left: 15px;
		padding-right: 15px;
		float: left;
}

.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9  { width: 75%; }
.col-xs-8  { width: 66.66666667%; }
.col-xs-7  { width: 58.33333333%; }
.col-xs-6  { width: 50%; }
.col-xs-5  { width: 41.66666667%; }
.col-xs-4  { width: 33.33333333%; }
.col-xs-3  { width: 25%; }
.col-xs-2  { width: 16.66666667%; }
.col-xs-1  { width: 8.33333333%; }
.col-xs-auto  { width: auto; }

.col-xs-offset-12 { margin-left: 100%; }
.col-xs-offset-11 { margin-left: 91.66666667%; }
.col-xs-offset-10 { margin-left: 83.33333333%; }
.col-xs-offset-9  { margin-left: 75%; }
.col-xs-offset-8  { margin-left: 66.66666667%; }
.col-xs-offset-7  { margin-left: 58.33333333%; }
.col-xs-offset-6  { margin-left: 50%; }
.col-xs-offset-5  { margin-left: 41.66666667%; }
.col-xs-offset-4  { margin-left: 33.33333333%; }
.col-xs-offset-3  { margin-left: 25%; }
.col-xs-offset-2  { margin-left: 16.66666667%; }
.col-xs-offset-1  { margin-left: 8.33333333%; }
.col-xs-offset-0  { margin-left: 0; }

@media (min-width: 481px) {
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.66666667%; }
	.col-sm-10 { width: 83.33333333%; }
	.col-sm-9  { width: 75%; }
	.col-sm-8  { width: 66.66666667%; }
	.col-sm-7  { width: 58.33333333%; }
	.col-sm-6  { width: 50%; }
	.col-sm-5  { width: 41.66666667%; }
	.col-sm-4  { width: 33.33333333%; }
	.col-sm-3  { width: 25%; }
	.col-sm-2  { width: 16.66666667%; }
	.col-sm-1  { width: 8.33333333%; }
	.col-sm-auto  { width: auto; }

	.col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-9  { margin-left: 75%; }
  .col-sm-offset-8  { margin-left: 66.66666667%; }
  .col-sm-offset-7  { margin-left: 58.33333333%; }
  .col-sm-offset-6  { margin-left: 50%; }
  .col-sm-offset-5  { margin-left: 41.66666667%; }
  .col-sm-offset-4  { margin-left: 33.33333333%; }
  .col-sm-offset-3  { margin-left: 25%; }
  .col-sm-offset-2  { margin-left: 16.66666667%; }
	.col-sm-offset-1  { margin-left: 8.33333333%; }
  .col-sm-offset-0  { margin-left: 0; }
}

@media (min-width: 681px) {
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.66666667%; }
	.col-md-10 { width: 83.33333333%; }
	.col-md-9  { width: 75%; }
	.col-md-8  { width: 66.66666667%; }
	.col-md-7  { width: 58.33333333%; }
	.col-md-6  { width: 50%; }
	.col-md-5  { width: 41.66666667%; }
	.col-md-4  { width: 33.33333333%; }
	.col-md-3  { width: 25%; }
	.col-md-2  { width: 16.66666667%; }
	.col-md-1  { width: 8.33333333%; }
	.col-md-auto  { width: auto; }

	.col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9  { margin-left: 75%; }
  .col-md-offset-8  { margin-left: 66.66666667%; }
  .col-md-offset-7  { margin-left: 58.33333333%; }
  .col-md-offset-6  { margin-left: 50%; }
  .col-md-offset-5  { margin-left: 41.66666667%; }
  .col-md-offset-4  { margin-left: 33.33333333%; }
  .col-md-offset-3  { margin-left: 25%; }
  .col-md-offset-2  { margin-left: 16.66666667%; }
	.col-md-offset-1  { margin-left: 8.33333333%; }
  .col-md-offset-0  { margin-left: 0; }
}

@media (min-width: 993px) {
	.col-lg-12 { width: 100%; }
	.col-lg-11 { width: 91.66666667%; }
	.col-lg-10 { width: 83.33333333%; }
	.col-lg-9  { width: 75%; }
	.col-lg-8  { width: 66.66666667%; }
	.col-lg-7  { width: 58.33333333%; }
	.col-lg-6  { width: 50%; }
	.col-lg-5  { width: 41.66666667%; }
	.col-lg-4  { width: 33.33333333%; }
	.col-lg-3  { width: 25%; }
	.col-lg-2  { width: 16.66666667%; }
	.col-lg-1  { width: 8.33333333%; }
	.col-lg-auto  { width: auto; }

	.col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9  { margin-left: 75%; }
  .col-lg-offset-8  { margin-left: 66.66666667%; }
  .col-lg-offset-7  { margin-left: 58.33333333%; }
  .col-lg-offset-6  { margin-left: 50%; }
  .col-lg-offset-5  { margin-left: 41.66666667%; }
  .col-lg-offset-4  { margin-left: 33.33333333%; }
  .col-lg-offset-3  { margin-left: 25%; }
  .col-lg-offset-2  { margin-left: 16.66666667%; }
	.col-lg-offset-1  { margin-left: 8.33333333%; }
  .col-lg-offset-0  { margin-left: 0; }
}


/*
**	Tooltip Stile
*/

.tooltip {
    position: absolute;
    z-index: 50;
    display: block;
    text-align: left;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    opacity: 0;
    filter: alpha(opacity=0);
}
    .tooltip.in {
        opacity: .93;
        filter: alpha(opacity=90);
    }
    .tooltip.top {
        margin-top: -5px;
    }
    .tooltip.right {
        margin-left: 5px;
    }
    .tooltip.bottom {
        margin-top: 5px;
    }
    .tooltip.left {
        margin-left: -5px;
    }
.tooltip-inner {
		font-size: 12px;
    min-width: 50px;
		white-space: nowrap;
		font-weight: normal;
		letter-spacing: .05em;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.54);
    border-radius: 3px;
}

/*
**	Dropdown Menu Style
*/

.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
	.dropdown > .fa{
		vertical-align: middle;
		margin-left: 10px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 10px;
		clear: both;
		font-weight: 400;
		line-height: 1.52857143;
		color: #5f5f5f;
		white-space: nowrap;
	}
		.dropdown-menu > li > a > i{
			padding-right: 5px;
			vertical-align: middle;
		}

/*
**	Parallax Style
*/

.parallax-container{
	position: relative;
	height: 500px;
}
	.parallax{
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
		.parallax img{
			display: none;
			position: absolute;
			left: 50%;
			bottom: 0;
			min-width: 101%;
			min-height: 100%;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}

/*
**	Select Btn Style
*/

.select_btn_area{
	height:inherit;
	display:inline-block;
	position:relative;

}
.select_btn_list{
	position: absolute;
  z-index: 1000;
  min-width: 160px;
	width: auto;
  padding: 5px 0;
	right: 0;
  font-size: 1em;
  text-align: left;
	overflow: auto;
	outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}
	.select_btn_list li{
		padding: 6px 30px;
		clear: both;
		white-space: nowrap;
	}
		.select_btn_list li:hover, .select_btn_list li.active{
			background-color: rgb(236,236,236);
		}
	.select_btn_list li > .fa{
		margin-left: -5px;
    width: 20%;
    text-align: left;
	}
	.select_btn_list li > span{
		width: 70%;
	}

/*
** Colors Style
*/

.bg_grey_800{
	background-color: #424242;
}
.bg_grey_600{
	background-color: #757575
}
.bg_red_a100{
	background-color: #FF8A80;
}
.bg_blue_a100{
	background-color: #82B1FF;
}
.bg_green_a200{
	background-color: #B2FF59;
}

.c_red_500{
	color: #F44336;
}



/*
** Animation for elements Style
*/

.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
	-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn { from { opacity: 0; }  to { opacity: 1; } } @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } } .fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
@-webkit-keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
@-webkit-keyframes fadeInDownBig { from { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInDownBig { from { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInDownBig { -webkit-animation-name: fadeInDownBig; animation-name: fadeInDownBig; }
@-webkit-keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
@-webkit-keyframes fadeInLeftBig { from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInLeftBig { from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInLeftBig { -webkit-animation-name: fadeInLeftBig; animation-name: fadeInLeftBig; }
@-webkit-keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
@-webkit-keyframes fadeInRightBig { from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInRightBig { from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInRightBig { -webkit-animation-name: fadeInRightBig; animation-name: fadeInRightBig; }
@-webkit-keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
@-webkit-keyframes fadeInUpBig { from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInUpBig { from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInUpBig { -webkit-animation-name: fadeInUpBig; animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } } @keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } } .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOutDown { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } } @keyframes fadeOutDown { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } } .fadeOutDown { -webkit-animation-name: fadeOutDown; animation-name: fadeOutDown; }
@-webkit-keyframes fadeOutDownBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } @keyframes fadeOutDownBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } .fadeOutDownBig { -webkit-animation-name: fadeOutDownBig; animation-name: fadeOutDownBig; }
@-webkit-keyframes fadeOutLeft { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } } @keyframes fadeOutLeft { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } } .fadeOutLeft { -webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft; }
@-webkit-keyframes fadeOutLeftBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } @keyframes fadeOutLeftBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } .fadeOutLeftBig { -webkit-animation-name: fadeOutLeftBig; animation-name: fadeOutLeftBig; }
@-webkit-keyframes fadeOutRight { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } } @keyframes fadeOutRight { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } } .fadeOutRight { -webkit-animation-name: fadeOutRight; animation-name: fadeOutRight; }
@-webkit-keyframes fadeOutRightBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } @keyframes fadeOutRightBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } .fadeOutRightBig { -webkit-animation-name: fadeOutRightBig; animation-name: fadeOutRightBig; }
@-webkit-keyframes fadeOutUp { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } } @keyframes fadeOutUp { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } } .fadeOutUp { -webkit-animation-name: fadeOutUp; animation-name: fadeOutUp; }
@-webkit-keyframes fadeOutUpBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } @keyframes fadeOutUpBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } .fadeOutUpBig { -webkit-animation-name: fadeOutUpBig; animation-name: fadeOutUpBig; }



/*
** Media - Tablet
*/

@media (max-width: 992px) {
	.content-wrapper{
		width: 100%;
	}
	.user-menu{
		position:absolute;
		right:0;
		width:auto;
		left:auto;
		z-index:2;
	}
	.user-menu li{
		display:inline-block;
		font-size:1em;
		vertical-align:-webkit-baseline-middle;
	}
	.user-menu a{
		padding:0;
		width:3em;
		height:3em;
		line-height:3em;
	}
	.nwe_links, .nwe_copyright{
		float: none !important;
		margin: 0;
	}
	.nwe_copyright{
		text-align: center;
		margin-top: 20px;
	}
	.nwe_links a{
		padding: 3px;
		font-size: .9em;
	}
	.nwe_copyright{
		font-size: 1.8em;
		margin-top: 10px;
	}
}

/*
** Media - Mobile
*/

@media (max-width: 680px){

}






















/*
** 	Select2 Styles
*/

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}
.select2 {
	width: 100% !important;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}





.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.select2-container .select2-search--inline {
    float: left
}









/*  Select2 Dropdown Styles  */
.select2-dropdown {
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}
.select2-results {
    display: block
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}
.select2-results__option[aria-selected] {
    cursor: pointer
}
.select2-container--open .select2-dropdown {
    left: 0
}
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-search--dropdown {
    display: block;
    padding: 4px
}
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}
.select2-search--dropdown.select2-search--hide {
    display: none
}


/*.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}*/
/*.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}*/

/*.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}*/
.select2-container--default .select2-search--inline .select2-search__field {
		box-sizing: border-box;
		border: none;
		margin-top: 4px;
		padding: 0;
		font-size: .75em;
		background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}/*
.select2-container--default .select2-results__option[role=group] {
    padding: 0
}*/
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #616161
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f5f5f5
}/*
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}
/*.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}
.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}
.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}
.select2-container--classic .select2-dropdown--below {
    border-top: none
}
.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}
.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}
.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}*/
.select2-container--default .select2-selection--multiple{
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    background-color: #FFF;
    cursor: text
}
	.select2-container--default.select2-container--focus .select2-selection--multiple {
		border-bottom: 1px solid #1976D2;
		box-shadow: 0 1px 0 0 #1976D2;
	}
	.select2-container--default .select2-selection--multiple.invalid, .select2-container--default.select2-container--focus .select2-selection--multiple.invalid {
		border-bottom: 1px solid #F44336;
		box-shadow: 0 1px 0 0 #F44336;
	}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #616161;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    height: 30px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
		color: #616161;
		background-color: #FFF;
		border: 1px solid #EAEAEA;
		font-size: .75em;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 5px;
		margin-top: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
		color: #616161;
    background-color: #f5f5f5;
}

/*.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding-left: 0
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(0, 0, 0, .3) transparent transparent
}*/
.select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below {
    border: none;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.175)
}
.select2-results__option {
		padding: 7px 15px;
		font-size: .95em;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-right: none;
    border-left: none
}
.select2-container--default .select2-results__option--highlighted[aria-selected], div.tagsinput span.tag {
    background-color: #EAEAEA
}
