@font-face {
	font-family: pronwe !important;
	src: url(../fonts/Exo2-Medium.ttf);
}
body, html {
    height: 100%;
}

body {
    font-family: pronwe;    
    color: #656565;
    background-color: #f5f7fa;
}
	body.blocked{
		overflow: hidden;
	}

header{
	height: 50px;
	width: 100%;
	background-color: #37bde7;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
}
	@media (max-width: 768px) {
		.panel, header{
			width: 768px;
		}
	}
.wrapper{
	height: 100%;
	width: 100%;
}
.content-wrapper{
	width: 90%;
	margin: auto;
}
	@media (max-width: 890px) {
		.content-wrapper{
			width: 768px;
		}
	}
a, a:hover, a:focus, button, button:hover, button:focus{
	outline: none;
	text-decoration: none;
	color: #656565;
}
button{
	background-color: transparent;
	border: 0;
	padding: 0;
}
.link{
	color: red;	
}
ul{
	padding: 0;
	margin: 0;
}
.inline{
	display: inline-block;
}
.no-li{
	list-style: none;
}
.form-control{
    box-shadow: 0 0 0 #000 !important;
    border-radius: 3px;
    border-color: #bbbbbb;
}
	.form-control:focus{
		border-color: #64b5f6;
	}

	.has-error .select2-selection {
		border: 1px solid red;
		border-radius: 4px;
	}
	.select2-container--default .select2-selection--multiple{
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
		border-color: #bbbbbb;
	}
	.select2-container--default.select2-container--focus .select2-selection--multiple{
		border: 1px solid #64b5f6;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
		background-color: #e9ebee;
		border: 1px solid #bbb;
		border-radius: 3px;
	}
.control-label{
	text-align: right;
}
.tooltip-arrow{
	border-bottom-color: rgba(0,0,0,0.54) !important;
	border-top-color: rgba(0,0,0,0.54) !important;
}
.tooltip-inner{
	background-color: rgba(0,0,0,0.54);
	color: #fff;
	font-size: 10px;
}
.content-body{
	padding: 20px;
}
.dropdown-menu{
	min-width: 20px;
}
	.dropdown-menu > li > a{
		padding: 3px 10px;
	}
		.dropdown-menu > li > a > i{
			padding-right: 5px;
			vertical-align: middle;
		}
.help-block{
	margin-top: 0;
}
label.error-input{
	width: 100% !important;
	margin: 0;
	color: #f47f7f;
}
.help-block, .error-input{
	border-color: #f47f7f;
	text-align: left !important;
	font-size: .8em;
}
.input-group-addon{
	border-radius: 3px;
}
.ng-untouched{
	border-color: #bbb !important;
}
.ng-invalid,.ng-invalid-required {
	border-color: red;
}
.displayblock{
	display: block;
}
.displaynone{
	display: none;
}
.md-menu-sm{
	padding: 0 !important;
}
.md-menu-sm md-menu-item, .md-select-sm{
	min-height: 24px;
	height: 24px;
	width: auto;
}
.md-menu-sm md-menu-divider{
	margin: 0;
}
.md-menu-sm md-menu-item .md-button{
	min-height: 24px;
	height: 24px;
	font-size: 12px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-sm md-menu-item .md-button md-icon{
	margin: 6px 5px 3px 0;
	height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
}
.md-menu-md{
	padding: 0 !important;
}
.md-menu-md md-menu-item, .md-select-md{
	min-height: 36px;
	height: 36px;
	width: auto;
}
.md-menu-md md-menu-divider{
	margin: 0;
}
.md-menu-md md-menu-item .md-button{
	min-height: 36px;
	height: 36px;
	font-size: 14px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-md md-menu-item .md-button md-icon{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
}
.md-menu-lg{
	padding: 0 !important;
}
.md-menu-lg md-menu-divider{
	margin: 0;
}

.md-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    text-transform: none;
    padding: 6px 16px;
    margin: 0;
    font-size: 14px;
    line-height: 1.52857143;
    min-height: 10px;
	min-width: 10px;
	border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	.md-btn:hover, .md-btn.md-button.md-focused{
		-webkit-transform: translate3d(0,-1px,0);
     	transform: translate3d(0,-1px,0); 
		box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
	}
	.md-btn.disabled, .md-btn[disabled]{
		cursor: not-allowed;
		opacity: .65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.md-btn-xs{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
.md-btn-sm{
	padding: 4px 10px;
	font-size: 12px;
	line-height: 1.5;
}
.md-btn-md{
	padding: 4.5px 18px;
	font-size: 14px;
	line-height: 1.4;
}
.md-btn-lg{
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.33;
}

.md-btn-default{
	color: #333;
	background-color: #fff;
	border: 1px solid #eaeaea;
	transform: border-color .4s;
}
	.md-btn-default:focus, .md-btn-default:hover{
		color: #333;
		background-color: #f5f5f5 !important;
	}
	.md-btn.md-btn-default.md-button:hover{
		border-color: rgb(192,192,192) !important;
	}
	.md-btn-default.disabled, .md-btn-default.disabled:focus, .md-btn-default.disabled:hover, .md-btn-default[disabled],.md-btn-default[disabled]:focus, .md-btn-default[disabled]:hover{
		color: #333;
		background-color: #fff !important;
	}
.md-btn-primary{
	color: #fff;
	background-color: #2f95ea !important;
	border-color: #5899eb !important;
}
	.md-btn-primary:focus, .md-btn-primary:hover{
		color: #fff;
		background-color: #4b91ea !important;
		border-color: #3483e7 !important;
	}
	.md-btn-primary.disabled, .md-btn-primary.disabled:focus, .md-btn-primary.disabled:hover, .md-btn-primary[disabled],.md-btn-primary[disabled]:focus, .md-btn-primary[disabled]:hover{
		color: #fff;
		background-color: #2f95ea !important;
	}
.md-btn-success{
	color: #fff;
	background-color: #27c24c !important;
	border-color: #26be4a !important;
}
	.md-btn-success:focus, .md-btn-success:hover{
		color: #fff;
		background-color: #24b145 !important;
		border-color: #1f9c3d !important;
	}
	.md-btn-success.disabled, .md-btn-success.disabled:focus, .md-btn-success.disabled:hover, .md-btn-success[disabled],.md-btn-success[disabled]:focus, .md-btn-success[disabled]:hover{
		color: #fff;
		background-color: #27c24c !important;
	}
.md-btn-info{
	color: #fff;
	background-color: #23b7e5 !important;
	border-color: #1eb6e4 !important;
}
	.md-btn-info:focus, .md-btn-info:hover{
		color: #fff;
		background-color: #1aacda !important;
		border-color: #179ac3 !important;
	}
	.md-btn-info.disabled, .md-btn-info.disabled:focus, .md-btn-info.disabled:hover, .md-btn-info[disabled],.md-btn-info[disabled]:focus, .md-btn-info[disabled]:hover{
		color: #fff;
		background-color: #23b7e5 !important;
	}
.md-btn-warming{
	color: #fff;
	background-color: #ff902b !important;
	border-color: #ff8d26 !important;
}
	.md-btn-warming:focus, .md-btn-warming:hover{
		color: #fff;
		background-color: #ff8517 !important;
		border-color: #fc7800 !important;
	}
	.md-btn-warming.disabled, .md-btn-warming.disabled:focus, .md-btn-warming.disabled:hover, .md-btn-warming[disabled],.md-btn-warming[disabled]:focus, .md-btn-warming[disabled]:hover{
		color: #fff;
		background-color: #ff902b !important;
	}
.md-btn-danger{
	color: #fff;
	background-color: #f05050 !important;
	border-color: #f04b4b !important;
}
	.md-btn-danger:focus, .md-btn-danger:hover{
		color: #fff;
		background-color: #ee3d3d !important;
		border-color: #ec2626 !important;
	}
	.md-btn-danger.disabled, .md-btn-danger.disabled:focus, .md-btn-danger.disabled:hover, .md-btn-danger[disabled],.md-btn-danger[disabled]:focus, .md-btn-danger[disabled]:hover{
		color: #fff;
		background-color: #f05050 !important;
	}

.md-btn-labeled {
	padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
	.md-btn-icon{
		position: relative;
		background: 0 0;
		background: rgba(0,0,0,.05);
		display: inline-block;
		border-radius: 4px 0 0 4px;
		left: -10px;
	}
		.md-btn-xs .md-btn-icon{
			padding: 1px 8px;
		}
		.md-btn-sm .md-btn-icon{
			padding: 5px 10px;
		}
		.md-btn-md .md-btn-icon{
			padding: 5.5px 12px;
		}
		.md-btn-lg .md-btn-icon{
			padding: 10px 20px;
		}
	.md-btn-icon-sq{
		padding: 0;
		height: 30px;
		color: #656565;
	}
		.md-btn-icon-sq md-icon{
			margin: 4px;
			height: 20px;
			width: 20px;
		}

.input-group-btn .md-btn, .input-group-btn .md-btn:hover, .input-group-btn .md-btn:focus{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #adadad;
	margin-left: -1px;
}
.input-group-btn .md-btn-sm{
	height: 30px;
	padding: 2px 10px !important;
}
.input-group-addon{
	border-color: #bbb;
	color: #656565;
}
.panel {
	border-radius: 3px !important;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.panel-default {
	border-color: #bbbbbb;
}
	.panel-default > .panel-heading{
		color: #656565;
		background-color: #e9ebee;
		border-color: #bbb;	
		font-size: 16px;
	}
		.panel-default > .panel-heading > a{
			padding-top: 5px;
		}
	.panel-default > .panel-footer {
		color: #656565;
		background-color: #fff;
		font-size: 10px;
		border-top: 1px solid #bbbbbb;
		border-top-style: dashed;
	}

	.panel-default > .panel-heading{
		box-shadow: inset 0px -1px 0 0 #bbb;
		border-bottom: 0 !important;
	}
		.panel-tabs{
			margin: -10px -15px;
		}
		.panel-tabs .md-btn{
			font-size: 18px;
			border-radius: 0;
			position: relative;
			display: inline-block;
			padding: 6px 30px;
			height: 40px;
			vertical-align: top;
			border-right: 1px solid #bbbbbb;
		}
			.panel-tabs .md-btn:nth-child(n+2){
				margin-left: -4px;
			}
			.panel-tabs .md-btn:first-child{
				border-top-left-radius: 2px;
			}
			.panel-tabs .md-btn:hover, .panel-tabs .md-btn:focus{
				position: relative;
				-webkit-transform: none;
				transform: none; 
				box-shadow: none;
				background-color: rgb(219,220,223);
				border-bottom: 1px solid #bbb;
			}
			.panel-tabs .md-btn.active{
				pointer-events: none;
			}

		.active-link{
			background-image: url(../img/icons/link-2.svg);
			background-repeat: no-repeat;
			background-size: auto;
			position: absolute;
			display: none;
			height: 8px;
			width: 16px;
			bottom: -1px;
			left: 45%;
			z-index: 2;
		}
			.panel-tabs .md-btn.active > .active-link{
				display: block;
			}


.columns-area{
	width: 100%;
}
.left-column{
	padding-left: 15px;
	padding-right: 5px;
	vertical-align: top;
	display: inline-block;
	width: 70%;
}
.right-column{
	float: right;
	vertical-align: top;
	margin-right: -15px;
	padding: 0;
	display: inline-block;
	width: 30%;
}

@media (max-width: 768px) {
	.columns-area{
		width: 768px;
	}
	.left-column{
		vertical-align: top;
		padding: 0 0 0 14px;
		display: inline-block;
		width: 440px;
	}
	.left-column .panel{
		width: 440px;
	}
	.right-column{
		vertical-align: top;
		padding: 0;
		display: inline-block;
		margin-left: 20px;
		margin-right: 0;
		width: 300px;
	}
	.right-column .panel{
		width: 315px;
	}
}
.dropdown.open .drop-orgs[aria-expanded="true"]{
	background-color: white;
}
	.dropdown.open .drop-orgs[aria-expanded="true"] i{
		color: #656565;
	}
.dropdown-menu > li > a:hover{
	background-color: rgb(236,236,236);
	color: #656565;
}
.dropdown-menu .divider{
	margin: 1px 0;
}
