@font-face {
	font-family: pronwe;
	src: url(../fonts/Exo2-Medium.ttf);
}

body {
	height: 100%;
	width: 100%;
	overflow: visible !important;
    font-family: pronwe;
    font-size: 1.3em;
    color: #656565;
    background-color: #f5f7fa;
}
html{
	overflow-x:hidden !important;
	color: #656565;
    background-color: #f5f7fa;
}
header{
	height: 50px;
	width: 100%;
	background-color: #37bde7;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
}
.content-wrapper{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
a, a:hover, a:focus, button, button:hover, button:focus{
	outline: none;
	text-decoration: none;
	color: #656565;
}
.link{
	color: red;	
}
ul{
	padding: 0;
	margin: 0;
}
.inline{
	display: inline-block;
}
.no-li{
	list-style: none;
}
.form-control {
    box-shadow: 0 0 0 #000 !important;
    border-radius: 3px;
    border-color: #bbbbbb;
}
.form-control:focus {
	border-color: #64b5f6;
}
.control-label{
	text-align: right;
}
.tooltip-inner{
	background-color: rgba(0,0,0,0.54);
	color: #fff;
	font-size: 10px;
}
.content-body{
	padding: 20px;
}
md-icon{
	min-height: 5px;
	min-width: 5px;
}
.md-menu-sm{
	padding: 0 !important;
}
.md-menu-sm md-menu-item, .md-select-sm{
	min-height: 24px;
	height: 24px;
	width: auto;
}
.md-menu-sm md-menu-divider{
	margin: 0;
}
.md-menu-sm md-menu-item .md-button{
	min-height: 24px;
	height: 24px;
	font-size: 12px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-sm md-menu-item .md-button md-icon{
	margin: 6px 5px 3px 0;
	height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
}
.md-menu-md{
	padding: 0 !important;
}
.md-menu-md md-menu-item, .md-select-md{
	min-height: 36px;
	height: 36px;
	width: auto;
}
.md-menu-md md-menu-divider{
	margin: 0;
}
.md-menu-md md-menu-item .md-button{
	min-height: 36px;
	height: 36px;
	font-size: 14px;
	padding: 0 8px 0 8px;
	line-height: normal;
}
.md-menu-md md-menu-item .md-button md-icon{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
}
.md-menu-lg{
	padding: 0 !important;
}
.md-menu-lg md-menu-divider{
	margin: 0;
}

.md-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    text-transform: none;
    padding: 6px 16px;
    margin: 0;
    font-size: 14px;
    line-height: 1.52857143;
    min-height: 10px;
	min-width: 10px;
	border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	.md-btn:hover, .md-btn.md-button.md-focused{
		-webkit-transform: translate3d(0,-1px,0);
     	transform: translate3d(0,-1px,0); 
		box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
	}
	.md-btn.disabled, .md-btn[disabled]{
		cursor: not-allowed;
		opacity: .65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.md-btn-xs{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
.md-btn-sm{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}
.md-btn-md{
	padding: 6px 18px;
	font-size: 14px;
	line-height: 1.4;
}
.md-btn-lg{
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.33;
}

.md-btn-default{
	color: #333;
	background-color: #fff;
	border: 1px solid #eaeaea;
	transform: border-color .4s;
}
	.md-btn-default:focus, .md-btn-default:hover{
		color: #333;
		background-color: #f5f5f5 !important;
	}
	.md-btn.md-btn-default.md-button:hover{
		border-color: rgb(192,192,192) !important;
	}
	.md-btn-default.disabled, .md-btn-default.disabled:focus, .md-btn-default.disabled:hover, .md-btn-default[disabled],.md-btn-default[disabled]:focus, .md-btn-default[disabled]:hover{
		color: #333;
		background-color: #fff !important;
	}
.md-btn-primary{
	color: #fff;
	background-color: #5d9cec !important;
	border-color: #5899eb !important;
}
	.md-btn-primary:focus, .md-btn-primary:hover{
		color: #fff;
		background-color: #4b91ea !important;
		border-color: #3483e7 !important;
	}
	.md-btn-primary.disabled, .md-btn-primary.disabled:focus, .md-btn-primary.disabled:hover, .md-btn-primary[disabled],.md-btn-primary[disabled]:focus, .md-btn-primary[disabled]:hover{
		color: #fff;
		background-color: #5d9cec !important;
	}
.md-btn-success{
	color: #fff;
	background-color: #27c24c !important;
	border-color: #26be4a !important;
}
	.md-btn-success:focus, .md-btn-success:hover{
		color: #fff;
		background-color: #24b145 !important;
		border-color: #1f9c3d !important;
	}
	.md-btn-success.disabled, .md-btn-success.disabled:focus, .md-btn-success.disabled:hover, .md-btn-success[disabled],.md-btn-success[disabled]:focus, .md-btn-success[disabled]:hover{
		color: #fff;
		background-color: #27c24c !important;
	}
.md-btn-info{
	color: #fff;
	background-color: #23b7e5 !important;
	border-color: #1eb6e4 !important;
}
	.md-btn-info:focus, .md-btn-info:hover{
		color: #fff;
		background-color: #1aacda !important;
		border-color: #179ac3 !important;
	}
	.md-btn-info.disabled, .md-btn-info.disabled:focus, .md-btn-info.disabled:hover, .md-btn-info[disabled],.md-btn-info[disabled]:focus, .md-btn-info[disabled]:hover{
		color: #fff;
		background-color: #23b7e5 !important;
	}
.md-btn-warming{
	color: #fff;
	background-color: #ff902b !important;
	border-color: #ff8d26 !important;
}
	.md-btn-warming:focus, .md-btn-warming:hover{
		color: #fff;
		background-color: #ff8517 !important;
		border-color: #fc7800 !important;
	}
	.md-btn-warming.disabled, .md-btn-warming.disabled:focus, .md-btn-warming.disabled:hover, .md-btn-warming[disabled],.md-btn-warming[disabled]:focus, .md-btn-warming[disabled]:hover{
		color: #fff;
		background-color: #ff902b !important;
	}
.md-btn-danger{
	color: #fff;
	background-color: #f05050 !important;
	border-color: #f04b4b !important;
}
	.md-btn-danger:focus, .md-btn-danger:hover{
		color: #fff;
		background-color: #ee3d3d !important;
		border-color: #ec2626 !important;
	}
	.md-btn-danger.disabled, .md-btn-danger.disabled:focus, .md-btn-danger.disabled:hover, .md-btn-danger[disabled],.md-btn-danger[disabled]:focus, .md-btn-danger[disabled]:hover{
		color: #fff;
		background-color: #f05050 !important;
	}

.md-btn-labeled {
	padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
	.md-btn-icon{
		position: relative;
		background: 0 0;
		background: rgba(0,0,0,.05);
		display: inline-block;
		border-radius: 4px 0 0 4px;
		left: -10px;
	}
		.md-btn-xs .md-btn-icon{
			padding: 1px 8px;
		}
		.md-btn-sm .md-btn-icon{
			padding: 5px 10px;
		}
		.md-btn-md .md-btn-icon{
			padding: 6px 12px;
		}
		.md-btn-lg .md-btn-icon{
			padding: 10px 20px;
		}

.input-group-btn .md-btn, .input-group-btn .md-btn:hover, .input-group-btn .md-btn:focus{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #adadad;
	margin-left: -1px;
}
.input-group-btn .md-btn-sm{
	height: 30px;
	padding: 2px 10px !important;
}
.panel {
	border-radius: 3px !important;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.panel-default {
  border-color: #bbbbbb;
}
.panel-default > .panel-heading{
  color: #656565;
  background-color: #e9ebee;
  border-color: #bbbbbb;
  font-size: 16px;
}
.panel .panel-heading .panel-tabs{
	margin: -10px -15px;
	font-size: 18px;
}
	.panel .panel-heading .panel-tabs a{
		position: relative;
		display: inline-block;
		padding: 20px 30px;
		border-right: 1px solid #bbbbbb;
	}

		.panel .panel-heading .panel-tabs a:nth-child(n+2){
			margin-left: -4px;
		}
		.panel .panel-heading .panel-tabs a:first-child{
			border-top-left-radius: 2px;
		}


		.panel .panel-heading .panel-tabs a:hover, .panel .panel-heading .panel-tabs a:focus{
			position: relative;
			-webkit-transform: translate3d(0,-1px,0);
			transform: translate3d(0,-1px,0); 
			box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
		}
		.panel .panel-heading .panel-tabs a.active:hover, .panel .panel-heading .panel-tabs a.active:focus{
			-webkit-transform: none;
			transform: none; 
			box-shadow: none;
		}


		.active-link{
			background-image: url(icons/active.png);
			background-repeat: no-repeat;
			background-size: auto;
			/*background-position: 0px -8px;*/
			position: absolute;
			display: none;
			height: 7px;
			width: 14px;
			bottom: -1px;
			left: 45%;
		}
		.panel .panel-heading .panel-tabs a.active > .active-link{
			display: block;
		}

.panel-default > .panel-footer {
	color: #656565;
	background-color: #fff;
	font-size: 10px;
  	border-top: 1px solid #bbbbbb;
  	border-top-style: dashed;
  }