@font-face {
	font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html{
	height: 100%;
}
html,body{
	width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
	font-size: 16px;
    color: #413a41;
    background-color: #fff;
    padding:0;
	margin: 0;
}
body.hidden{
	overflow: hidden;
	margin-right: 10px;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*
 *  Header Style
*/

.header{
	position:fixed;
	top:0;
	left:0;
	right: 0;
	height:50px;
	line-height:50px;
	background-color: #fff;
	box-shadow: rgb(0, 0, 0) 0px -1px 15px -5px;
	cursor: default;
	z-index:1010;
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
}

.header_wrapper{
	display: block;
	width: 70%;
    margin: 0 auto;
}

.header_menu-collapse-btn{
	display: none;
	text-align: center;
	float: left;
	width: 50px;
}
	.header_menu-collapse-btn > .header_button{
		padding: 0 1.2em;
	}

.header_button{
	display: inline-block;
	padding: 0 10px;
}
	.header_button:hover{
		background-color: rgba(0,0,0,0.05);
	}

.header_text{
	font-size: .9em;
	color: #0097A7;
}

.header_icon{
	text-align: center;
	font-size: .9em;
	color: #0097A7;
}

.header_logo{
	position: relative;
	float: left;
	width: 5em;
	font-size: 2em;
	text-align: center;
	color: #fff;
	background-color: #0097A7;
}

.header_dropdown{
	position: relative;
	float: right;
}

.header_menu{
	position: relative;
	float: left;
	width: 63%;
}


	.header_menu .nav{
		height: 50px;
		white-space: nowrap;
		overflow: hidden;
		opacity: 0;
	}


	.header_menu .nav > .nav_item{
		float: left;
		border-right: 1px solid #E0E0E0;
	}
		.header_menu .nav > .nav_item:last-child{
			border-right: 0;
		}


	.header_menu .nav > .nav_item > .nav_link{
		letter-spacing: 0.03em;
		color:#0097A7;
		padding: 17px 10px;
	}
		.header_menu .nav > .nav_item > .nav_link:hover, .header_menu .nav > .nav_item > .nav_link.active{
			box-shadow: inset 0 -3px 0 0 #0097A7;
		}


.dropdown > .nav_link > .fa{
    margin-left: 5px;
	font-size: 1em;
}




@media (max-width: 992px) {

	.header_menu-collapse-btn{
		display: inline-block;
	}
	.header_wrapper{
		width: 100%;
	}
	.header_menu{
		width: 0;
	}
	.header_dropdown .header_button{
		padding: 0 30px;
	}

}






/*
 *   Navleft Styles
*/

.navleft{
	display: block;
	position:fixed;
	left:1%;
	width: 12%;
	top: 60px;
	animation: fadeInLeft 1s ease-out 0s 1;
}


.navleft_wrapper > .nav_item > .nav_link{
	display: inline-block;
	padding: 3px 7px;
	color: #413a41;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
	.navleft_wrapper > .nav_item > .nav_link:hover{
		transform: scale(1.1);
		color: #0097A7;
	}


.navleft-open_back{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 1010;
}

.navleft.open{
	display: block;
	padding-top: 5px;
	position: fixed;
	width: 200px;
	left: 0;
	top: 0 !important;
	bottom: 0;
	background: #fff;
	border-right: 1px solid #BBB;
	animation: fadeInLeft .5s ease-out 0s 1;
	z-index: 1011;
}

	.navleft.open .navleft_wrapper > .nav_item > .nav_link{
		display: block;
		font-size: 1.2em;
		padding: 5px 15px;
	}

	.navleft.open .navleft_wrapper > .nav_item > .nav_link:hover, .navleft.open .navleft_wrapper > .nav_item > .nav_link.active{
		transform: scale(1);
		border-right: 3px solid #0097A7;
		background-color:rgba(0,0,0,0.05);
	}


@media (max-width: 992px) {

	.navleft{
		display: none;
	}

}








/*
 *  Global Nav Style
*/
.nav{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav_item{
	display: block;
	font-size: 0.9em;
}
.nav_link{
	color:#413a41;
	padding: 0 1em;
}
.nav_text{
	margin: 0;
	padding: 3px 7px;
	color: #0097A7;
	font-weight: bold;
	font-size: .75em;
}







section{
	width: 70%;
	margin: 50px auto;
}

footer{
	position: relative;
	float: left;
	height: 100px;
	width: 100%;
	background-color: #413a41;
}


@media (max-width: 992px) {
	section{
		width: 90%;
	}
}










  .logo{
  	background-color:#0097A7;
  	color:#fff;
  	float:left;
  	width:300px !important;
  	height:100px;
  	display:inline-block;
  	line-height:100px;
  	font-size:4em;
  	text-align:center;
	margin: auto;
  }


















.valign{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign .center{
	width: 100%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

.row{
    margin: 20px auto;
}
.row-col{
	margin: 20px -15px;
}

.card-xs{
	height: 100px;
}
.card-sm{
	height: 150px;
}
.card-md{
	height: 200px;
}









.displayblock{
	display: block;
}
.displaynone{
	display:none;
}
.container-inline{
	display:inline-block;
}
.inlineblock{
	display: inline-block;
}

button, input, textarea {
	margin: 0;
	font-family: inherit;
	font: inherit;
	color: inherit;
	outline:none;
}
button{
	overflow: visible;
	text-transform: none;
	padding: 0;
	border: 0;
	line-height: inherit;
	cursor: pointer;
	background-color: inherit;
}
a{
	cursor: pointer;
}

ul{
  list-style: none;
	padding: 0;
	margin: 0;
}











/*
 *  Typography
*/

h1{
	font-size: 2.2em;
}
h2{
	font-size: 1.8em;
}
h3{
	font-size: 1.4em;
}
h4{
	font-size: 1em;
}
h1, h2, h3, h4{
	font-weight: 700;
	font-family: inherit;
	color: inherit;
}
h2,h3{
	color:#0097A7;
}
h1, h2{
	margin-top: 20px;
	margin-bottom: 10px;
}
h3, h4{
	margin-top: 15px;
	margin-bottom: 10px;
}
h1 small, h2 small, h3 small, h4 small{
	color: #413a41;
	font-size: 55%;
	font-weight: 500;
	line-height: 1;
}
strong, b{
	font-weight: 700;
}
p {
	font-size: .9em;
	margin: 0 0 10px;
}
small{
	font-size: 85%;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.page-header{
	padding-bottom: 10px;
	margin: 20px 0;
	border-bottom: 1px solid #E0E0E0;
}
	.page-header a{
		margin-left: 10px;
	}
blockquote {
	float: left;
	padding: 10px 0 10px 20px;
	margin: 0 0 20px;
	font-size: 1.1em;
	border-left: 5px solid #E0E0E0;
}
blockquote p:last-child {
	margin-bottom: 0;
}
blockquote small{
	display: block;
	font-size: 70%;
}
	blockquote small:before{
		content: '\2014 \00A0';
	}
blockquote.pull-right {
	padding: 10px 20px 10px 0;
	border-right: 5px solid #E0E0E0;
	border-left: 0;
	text-align: right;
}
xmp{
	margin: 0;
	font-size: .8em;
}

a, a:hover, a:focus{
	color: #413a41;
	outline: none;
	text-decoration: none;
}

.content a{
	color:#0097A7;
}

.underlinehover:hover, .underlinehover:focus{
	color: #0097A7;
	border-bottom:1px dashed #0097A7;
}
.link_uppercase{
	text-transform: uppercase;
}
.link_lowercase{
	text-transform: lowercase;
}





/*
 * Block Style
*/

.block {
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin-bottom: 15px;
	border: 0;
}
	.block_heading{
		height: 50px;
		padding: 15px;
		position: relative;
		border-bottom: 1px solid transparent;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.block_heading h4{
		width: 85%;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.block_heading a{
		display: inline-block;
		float: right;
		font-size: .9em;
		margin-left: 10px;
		color: transparent;
		opacity: .3;
		transition: .2s;
	}

	.block_heading a i{
		font-size: .85em;
		padding: 3px;
	}

	.block_heading a:hover{
		opacity: .7;
    }

	.block_body{
		font-size: .9em;
		padding: 15px;
	}

	.block_footer {
		font-size: .9em;
		padding: 10px 15px;
		background-color: transparent;
		border-top: 1px solid transparent;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}

    .block_body p, .block_footer p{
		font-size: 1em;
    }

/*
 * Block Colors
*/

.block_default{
    border-color: #EEEEEE;
}

    .block_default > .block_heading{
        color: #413a41;
    }

    .block_default .block_footer {
        border-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .block_default > .block_heading a{
        color: #413a41;
    }

/*
 * Block Refresh
*/

.whirl:before {
	content: "";
	z-index: 110;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fafafa;
	opacity: .6;
}

.whirl:after {
	z-index: 111;
	content: "";
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	-webkit-transition: all .75s ease 0s;
	transition: all .75s ease 0s;
	border-radius: 100%;
	border-top: 4px solid #5d9cec;
	-webkit-animation: rotate .75s infinite linear;
	animation: rotate .75s infinite linear;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes rotate{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}


/*
 * Collapse Style
*/
.collapse{
	display: none;
}

    .collapse.in{
        display: block;
    }

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height,visibility;
    transition-property: height,visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}




/*
 *   Forms
*/

.form{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    border: 0;
}

.form_heading{
	font-weight: 700;
    padding: 15px 30px;
	border-bottom: 1px solid #e7e8ec;
}

.form_body{
    position: relative;
    padding: 0 15px;
    border-radius: 3px;
    overflow: hidden;
}
.form_submit{
    display: block;
    background-color: #fafbfc;
    border-top: 1px solid #e7e8ec;
    padding: 15px 30px;
    border-radius: 0 0 2px 2px;
}




/*
 *   Cards Style
*/

.card{
	position: relative;
    background-color: #fff;
	padding: 15px 30px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    border: 0;
}

.card_image{
    display: inline-block;
    position: relative;
    float: left;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 3px;
    width: 160px;
    height: 160px;
    margin-right: 30px;
}
	.card_image img{
	    margin: 5px;
	    width: 150px;
	    height: 150px;
	    border-radius: 3px;
	}

.card_title, .card_content{
    display: inline-block;
    position: relative;
    float: left;
    width: calc(100% - 190px);
}

	.card_title-text{
	    display: inline-block;
	    width: calc(100% - 21px);
	    float: left;
	    font-size: 1.1em;
	    font-weight: 700;
	    margin-bottom: 10px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}


	.card_title-dropdown{
	    cursor: pointer;
	}
		.card_title-dropdown-icon{
		    display: inline-block;
		    text-align: center;
		    float: left;
		    width: 21px;
		    height: 21px;
		    line-height: 21px;
		    color: #0097A7;
		}

	.card_title-dropdown-menu{
	    margin-top: 4px;
	    font-weight: 400;
	    position: absolute;
	    visibility: hidden;
	    min-width: 100px;
	    max-width: 200px;
	    top: 27px;
	    right: -30px;
	    background-color: #FFF;
	    border: 1px solid #BBB;
	    padding: 5px 0;
	    border-radius: 3px;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
	    pointer-events: none;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
	    z-index: 10;
	}
		.card_title-dropdown-menu:after, .card_title-dropdown-menu:before {
			position: absolute;
			content: '';
			height: 0;
			width: 0;
			bottom: 100%;
			right: 41px;
			border: solid transparent;
		}
		.card_title-dropdown-menu:before{
			border-width: 6px;
			border-bottom-color: #BBB;
			margin: 0 -6px;
		}
		.card_title-dropdown-menu:after {
			border-width: 5px;
			border-bottom-color: #fff;
			margin: 0 -5px;
		}

	.card_title-dropdown.open .card_title-dropdown-menu {
	    visibility: visible;
	    pointer-events: auto;
	    opacity: 1;
	    filter: none;
	    display: block;
	    top: 17px;
	}

	.card_title-dropdown-item{
	    display: block;
	    position: relative;
	    height: 30px;
	    line-height: 30px;
	    padding: 0 15px;
	    font-size: .8em;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
		.card_title-dropdown-item:hover{
		    background-color: rgba(0,0,0,0.05);
		}

.card_content-text{
    width: 100%;
    word-wrap: break-word;
    position: relative;
    font-size: .9em;
    margin: 0 0 10px;
}

.card_content-text-hidden{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, transparent, rgb(255,255,255));
    cursor: pointer;
}

.card_height-4em, .card_height-3em, .card_height-2em, .card_height-1em{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card_height-4em{
    height: 4.5em;
    -webkit-line-clamp: 4;
}
.card_height-3em{
    height: 3.5em;
    -webkit-line-clamp: 3;
}
.card_height-2em{
    height: 2.3em;
    -webkit-line-clamp: 2;
}
.card_height-1em{
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 680px) {
    .card_title{
        height: 160px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .card_title-text{
        overflow: hidden;
        white-space: normal;
        margin-bottom: 0;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .card_title-dropdown-icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .card_image, .card_title{
        margin-bottom: 20px;
    }

    .card_content{
        width: 100%
    }
}
@media (max-width: 481px) {
	.card_image{
		float: none;
		text-align: center;
		display: block;
		margin: 0 auto 20px auto;
	}
	.card_title{
		position: relative;
		height: auto;
		width: 100%;
        display: block;
    }
	.card_title-dropdown{
		position: absolute;
		top: -180px;
		right: 0;
	}
}





/*
 *   Modals
*/
.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1020;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	animation: fadeOutUp .3s ease-out 0s 1;
}
.modal.fade.in .modal-dialog{
	animation: fadeInDown .3s ease-out 0s 1;
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	      background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1010;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #E0E0E0;
}
.modal-header .close {
	opacity: .3;
	float: right;
	margin-top: -2px;
}
.modal-header .close:hover {
	opacity: .7;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-body .input-field input + label, .modal-body .input-field textarea + label{
	left: 0;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #E0E0E0;
}
.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 680px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
  	.modal-content {
    	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  	}
  	.modal-sm {
	    width: 300px;
  	}
}
@media (min-width: 992px) {
  	.modal-lg {
	    width: 900px;
  	}
}








/*
 *  Buttons
*/

.button{
	background-color: #0097A7;
	border: 3px solid #E0E0E0;
	font-size: 1em;
	color:#fff;
	display:inline-block;
	width:auto;
	height:40px;
	border-radius:50px;
}

.button-text{
	padding:7px 15px;
	border-radius:10px;
}

.button-icon{
	width:40px;
}

.button i{
	display:inline;
	margin: 0 5px;
}

.button:hover,.button:focus{
	border-color:#006a75;
}

.button:active{
	border-bottom:0;
}

.button-mid-arrow,.button-top-arrow-r,.button-bot-arrow-r,
.button-mid-arrow,.button-top-arrow-l,.button-bot-arrow-l{
	margin:0 auto;
	position:relative;
	height:2px;
	background-color:#fff;
}

.button-mid-arrow{
	width: 40%;
}

.button-bot-arrow-r,.button-top-arrow-r{
	width:25%;
	left:3px;
	transition:0.25s;
}

.button-bot-arrow-l,.button-top-arrow-l{
	width:25%;
	left:-3px;
	transition:0.25s;
}

.button-bot-arrow-r{
	top:1px;
	transform:rotate(-45deg);
}

.button-top-arrow-r{
	top:-1px;
	transform:rotate(45deg);
}

.button-top-arrow-l{
	top:-1px;
	transform:rotate(135deg);
}

.button-bot-arrow-l{
	top:1px;
	transform:rotate(-135deg);
}

.arrow-r,.arrow-l{
	position:relative;
}

.button-arrow:hover>.arrow-r,
.button-arrow:focus>.arrow-r{
	animation: move_arrow-right 1.5s 1 ease;
}

.button-arrow:hover>.arrow-l,
.button-arrow:focus>.arrow-l{
	animation: move_arrow-left 1.5s 1 ease;
}

@keyframes move_arrow-right{
	from {
		left:0px;
	}
	10%{
		left:-5px;
	}
	50%{
		left:35px;
	}
	50.1%{
		left:-35px;
	}
	to{
		left:0px;
	}
}

@keyframes move_arrow-left{
	from {
		left:0px;
	}
	10%{
		left:5px;
	}
	50%{
		left:-35px;
	}
	50.1%{
		left:35px;
	}
	to{
		left:0px;
	}
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 16px;
	font-size: 14px;
	outline: 0;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
label.btn{
	cursor: pointer;
}
.btn_labeled{
    padding-top: 0;
    padding-bottom: 0;
}
.btn_label {
    position: relative;
    background: 0 0;
    background: rgba(0,0,0,.05);
    display: inline-block;
    padding: 6px 16px;
    left: -16px;
    border-radius: 3px 0 0 3px;
}

/*  Colors  */
.btn_default {
	color: #413a41;
	background-color: #FFF;
	border-color: #E0E0E0;
}

.btn_primary{
	color: #FFF;
	background-color: #0097A7;
	border-color: #E0E0E0;
}

.btn_default:hover, .btn_default:active{
	background-color: rgba(0,0,0,0.05);
}
.btn_primary:hover, .btn_primary:focus{
	background-color: #1F757D;
}


@media (max-width: 481px) {
	.btn.col-xs-12:not(:last-child), .modal-footer .btn:not(:last-child){
		margin-bottom: 10px;
	}
}





/*
**	Input Fields Stile
*/

.input-field{
	position: relative;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.input-field input, .input-field textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
	min-height: 18px;
    height: 2em;
    width: 100%;
    font-size: 1em;
    box-sizing: content-box;
    transition: all 0.3s;
}

.input-field textarea{
	overflow-y: hidden;
	padding: .5em 0 .5em 0;
	resize: none;
	height: 52px;
}


.input-field input + label, .input-field textarea + label{
    color: #9e9e9e;
    position: absolute;
	width: 70%;
    top: .5em;
    font-size: 1em;
    cursor: text;
    transition: .2s ease-out;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-field input + label.active, .input-field textarea + label.active{
    font-size: .8em;
    letter-spacing: .01em;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}

/*  focus  */
.input-field input:focus, .input-field textarea:focus{
	border-bottom: 1px solid #0097A7;
	box-shadow: 0 1px 0 0 #0097A7;
}

.input-field input:focus + label, .input-field textarea:focus + label{
    color: #0097A7;
}

/*  disabled  */
.input-field input[disabled], .input-field textarea[disabled]{
	border-bottom: 1px dotted rgba(0,0,0,0.26);
	cursor: default;
}
.input-field input[disabled], .input-field textarea[disabled], .input-field input[disabled] + label, .input-field textarea[disabled] + label{
	color: rgba(0,0,0,0.26);
}


/*   with help   */
.input-field .help-block{
    display: block;
    position: relative;
    font-size: .65em;
    letter-spacing: .01em;
    padding-top: 2px;
    color: #bbb;
}

/*   with counter  */
.input-field .counter{
    display: block;
    position: absolute;
    font-size: .8em;
    letter-spacing: .035em;
}

/*  with icon  */
.input-field.label-with-icon input{
	padding-left: 40px;
	width: calc(100% - 40px);
}

.input-field.label-with-icon input + .icon-label{
	position: absolute;
	top: 0;
	left: 15px;
	line-height: 2.2em;
	width: 40px;
	text-align: center;
	transition: .1s;
}

.input-field.label-with-icon input:focus{
	border-bottom: 1px solid #9e9e9e;
	box-shadow: none;
}

.input-field.label-with-icon input:focus + .icon-label{
	color: #0097A7;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	font-size: 1em;
	letter-spacing: normal;
	-webkit-transform: none;
	transform: none;
}


/*  with validation    */
.input-field .error-block{
    display: block;
    position: relative;
    font-size: .65em;
    letter-spacing: .01em;
    padding-top: 2px;
    width: 95%;
    color: #F44336;
}

	.input-field input.invalid, .input-field input.invalid:focus,
	.input-field.label-with-icon input.invalid,  .input-field.label-with-icon input.invalid:focus,
	textarea.invalid, textarea.invalid:focus{
		border-bottom: 1px solid #F44336;
		box-shadow: 0 1px 0 0 #F44336;
	}

	.input-field input.invalid + label, .input-field textarea.invalid + label{
		color: #F44336;
	}

.input-field.label-with-icon input.invalid  + .icon-label{
	color: #F44336;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}




/*
 * Checkbox  &&  Radio  Style
*/

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked,
input[type="radio"]:not(:checked), input[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label,
input[type="radio"]:not(:checked) + label, input[type="radio"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

	input[type="checkbox"] + label:before, input[type="checkbox"] + label:after,
	input[type="radio"] + label:before, input[type="radio"] + label:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 17px;
	    height: 17px;
	    z-index: 0;
		transition: .2s;
	}

		input[type="checkbox"] + label:before, input[type="checkbox"] + label:after{
			border: 2px solid #757575;
			border-radius: 3px;
			margin-top: 2px;
		}
		input[type="radio"] + label:before, input[type="radio"] + label:after {
			border: 2px solid #0097A7;
			border-radius: 50%;
	    	margin-top: 4px;
		}


	input[type="checkbox"] + label:after {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	}
	input[type="checkbox"]:checked + label:before {
	    top: -4px;
	    left: -5px;
	    width: 11px;
	    height: 22px;
		border-radius: 1px;
	    border-top: 0;
	    border-left: 0;
	    border-right: 2px solid #0097A7;
	    border-bottom: 2px solid #0097A7;
	    -webkit-transform: rotate(40deg);
	    transform: rotate(40deg);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-transform-origin: 100% 100%;
	    transform-origin: 100% 100%;
	}


	input[type="radio"]:not(:checked) + label:after{
		border: 2px solid #757575;
	}
	input[type="radio"]:checked+label:after {
	    -webkit-transform: scale(0.5);
	    transform: scale(0.5);
	    background-color: #0097A7;
	}

/* focus */
input[type="checkbox"].focus:focus + label:after{
	-webkit-transform:scale(1);
	transform:scale(1);
	border:0;
	border-radius:50%;
	box-shadow:0 0 0 10px rgba(0,0,0,0.05);
	background-color:rgba(0,0,0,0.05);
}

input[type="radio"].focus:focus + label:before{
	box-shadow:0 0 0 10px rgba(0,0,0,0.05);
}


/* invalid */
input[type="checkbox"].invalid + label{
	color: #F44336;
}

input[type="checkbox"].invalid + label:before,
input[type="checkbox"].invalid + label:after{
	border: 2px solid #F44336;
}


/* disabled */
input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label{
	color: rgba(0,0,0,0.26) !important;
	cursor: default;
}
input[type="checkbox"][disabled] + label:before,
input[type="radio"][disabled] + label:before, input[type="radio"][disabled] + label:after{
	opacity: .26;
}




/*
 *   Switches Style
*/
.switch{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
	.switch label {
	    cursor: pointer;
	}

	.switch label span {
	    content: "";
	    display: inline-block;
	    position: relative;
	    width: 40px;
	    height: 15px;
	    background-color: #E0E0E0;
	    border-radius: 15px;
	    margin-right: 10px;
	    transition: background 0.3s ease;
	    vertical-align: middle;
	    margin: 0 16px;
	}
		.switch label span:after {
			content: "";
			position: absolute;
			display: inline-block;
			width: 20px;
			height: 20px;
			background-color: #FAFAFA;
			border-radius: 20px;
			box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
			left: -5px;
			top: -3px;
			transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
		}

	.switch label input[type=checkbox]:checked + span {
	    background-color: #35C6D3;
	}

		.switch label input[type=checkbox]:checked + span:after {
		    background-color: #0097A7;
		    left: 24px;
		}

/*  disabled  */
.switch label input[type=checkbox][disabled] + span{
	opacity: .5;
}

/*  focus   */
.switch label input[type=checkbox].focus:focus + span:after{
	box-shadow:0 0 0 10px rgba(53, 198, 211, .2);
}




/*
 * Input File
*/
input[type=file] {
	position: absolute;
	width: 0;
	height: 0;
}




/*
 *  Select Simple Style
 *  Select Multiple Style
 *  Tags Style
*/

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}
.select2-container + label{
    color: #9e9e9e;
    position: absolute;
	width: 70%;
	left: 0;
    top: .6em;
    cursor: text;
    transition: .2s ease-out;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-size: .8em;
    letter-spacing: .01em;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2{
	width: 100% !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container .select2-selection {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    outline: none;
    min-height: 2em;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #9e9e9e;
}

/*  focus && open   */

.select2-container.select2-container--focus + label, .select2-container.select2-container--open + label{
    color: #0097A7;
}
.select2-container.select2-container--focus .select2-selection, .select2-container.select2-container--open .select2-selection {
    border-bottom: 1px solid #0097A7;
    box-shadow: 0 1px 0 0 #0097A7;
}

.select2-container .select2-selection .select2-selection__rendered {
    outline: none;
    height: inherit;
    overflow: hidden;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-right: 20px;
    font-size: 1em;
    line-height: 2em;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    padding-right: 8px;
    width: 100%;
    margin-bottom: -5px;
}

/*   Arrow for select single   */

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #757575 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -4px;
    margin-top: -2px;
}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #757575 transparent;
    border-width: 0 4px 5px 4px
}

/*  Input for select multiple  */

.select2-container .select2-search--inline {
    float: left
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    font-size: .8em;
    margin: 5px 0;
    padding: 0;
    outline: 0;
    width: auto !important;
}
    .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{
        -webkit-appearance: none;
    }

/*  Elements in select multiple   */

.select2-container .select2-selection--multiple .select2-selection__choice {
    color: #616161;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    font-size: .75em;
    padding: 3px 10px 3px 5px;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
    .select2-container .select2-selection--multiple .select2-selection__choice:hover {
        background-color: #f5f5f5;
    }

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
	vertical-align: middle;
    padding: 0 5px;
}
    .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #616161;
    }

/*   Dropdown   */

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #BBB;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-container--open .select2-dropdown--above {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-results {
    display: block
}
    .select2-results > .select2-results__options {
        font-size: .9em;
        max-height: 200px;
        overflow-y: auto
    }

.select2-results__option {
    font-size: 1em;
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .select2-results__option[aria-selected] {
        cursor: pointer
    }
        .select2-results__option[aria-selected=true] {
            background-color: #F5F5F5;
			display: none;
        }

    .select2-results__option--highlighted[aria-selected] {
        background-color: #EAEAEA;
    }

    .select2-results__option[aria-disabled=true] {
        color: rgba(0,0,0,0.26);
    }

.select2-results__withlogo{
	display: block;;
}
.select2-results__logo{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-right: 8px;
	vertical-align: middle;
}
.select2-results__text{
	vertical-align: middle;
}

.select2-search--dropdown {
    display: block;
    padding: 5px
}
    .select2-search--dropdown .select2-search__field {
        border: 1px solid #BBB;
        font-size: 1em;
        padding: 4px;
        width: 100%;
        box-sizing: border-box;
    }
        .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
            -webkit-appearance: none
        }
    .select2-search--dropdown.select2-search--hide {
        display: none
    }

/*    DISABLED    */

.select2-container.select2-container--disabled .select2-selection{
    box-shadow: none;
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}
.select2-container.select2-container--disabled .select2-selection__rendered{
    cursor: default;
    opacity: .7;
    color: rgba(0,0,0,0.6);
}
.select2-container.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
    padding-left: 10px;
}
    .select2-container.select2-container--disabled .select2-selection--multiple .select2-selection__choice:hover {
        background-color: #f5f5f5;
    }

.select2-selection.select2-container--disabled .select2-selection--single .select2-selection__arrow,
.select2-container.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {
    display: none;
}

/* optgroup  */

.select2-dropdown .select2-results__option[role=group] {
    padding: 0
}
    .select2-container--default .select2-results__option{
        padding-left: 1em
    }
.select2-dropdown .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    font-size: .9em;
}


/*  invalid  */

select.invalid + .select2-container + label{
    color: #F44336;
}
select.invalid + .select2-container .select2-selection{
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}






/*
 *	Handsontable
*/

/*  checkbox */
.handsontable input[type="checkbox"]{
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
}
.handsontable tr th, .handsontable tr td {
	vertical-align: middle;
}
.table-photo-logo{
	cursor: pointer;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 3px;
	margin: auto;
}




/*
**	Columns Width
**
**  xs > 0 && xs < 480px         - very old phones
**  sm > 481px && sm < 680px     - smart phones
**  md > 681px && md < 992px		 - tablets
**  lg > 993px									 - PC
**
*/
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 15px;
	padding-right: 15px;
	float: left;
}

	.col-xs-12 { width: 100%; }
	.col-xs-11 { width: 91.66666667%; }
	.col-xs-10 { width: 83.33333333%; }
	.col-xs-9  { width: 75%; }
	.col-xs-8  { width: 66.66666667%; }
	.col-xs-7  { width: 58.33333333%; }
	.col-xs-6  { width: 50%; }
	.col-xs-5  { width: 41.66666667%; }
	.col-xs-4  { width: 33.33333333%; }
	.col-xs-3  { width: 25%; }
	.col-xs-2  { width: 16.66666667%; }
	.col-xs-1  { width: 8.33333333%; }
	.col-xs-auto  { width: auto; }

	.col-xs-offset-12 { margin-left: 100%; }
	.col-xs-offset-11 { margin-left: 91.66666667%; }
	.col-xs-offset-10 { margin-left: 83.33333333%; }
	.col-xs-offset-9  { margin-left: 75%; }
	.col-xs-offset-8  { margin-left: 66.66666667%; }
	.col-xs-offset-7  { margin-left: 58.33333333%; }
	.col-xs-offset-6  { margin-left: 50%; }
	.col-xs-offset-5  { margin-left: 41.66666667%; }
	.col-xs-offset-4  { margin-left: 33.33333333%; }
	.col-xs-offset-3  { margin-left: 25%; }
	.col-xs-offset-2  { margin-left: 16.66666667%; }
	.col-xs-offset-1  { margin-left: 8.33333333%; }
	.col-xs-offset-0  { margin-left: 0; }

@media (min-width: 481px) {
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.66666667%; }
	.col-sm-10 { width: 83.33333333%; }
	.col-sm-9  { width: 75%; }
	.col-sm-8  { width: 66.66666667%; }
	.col-sm-7  { width: 58.33333333%; }
	.col-sm-6  { width: 50%; }
	.col-sm-5  { width: 41.66666667%; }
	.col-sm-4  { width: 33.33333333%; }
	.col-sm-3  { width: 25%; }
	.col-sm-2  { width: 16.66666667%; }
	.col-sm-1  { width: 8.33333333%; }
	.col-sm-auto  { width: auto; }

	.col-sm-offset-12 { margin-left: 100%; }
	.col-sm-offset-11 { margin-left: 91.66666667%; }
	.col-sm-offset-10 { margin-left: 83.33333333%; }
	.col-sm-offset-9  { margin-left: 75%; }
	.col-sm-offset-8  { margin-left: 66.66666667%; }
	.col-sm-offset-7  { margin-left: 58.33333333%; }
	.col-sm-offset-6  { margin-left: 50%; }
	.col-sm-offset-5  { margin-left: 41.66666667%; }
	.col-sm-offset-4  { margin-left: 33.33333333%; }
	.col-sm-offset-3  { margin-left: 25%; }
	.col-sm-offset-2  { margin-left: 16.66666667%; }
	.col-sm-offset-1  { margin-left: 8.33333333%; }
	.col-sm-offset-0  { margin-left: 0; }
}

@media (min-width: 681px) {
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.66666667%; }
	.col-md-10 { width: 83.33333333%; }
	.col-md-9  { width: 75%; }
	.col-md-8  { width: 66.66666667%; }
	.col-md-7  { width: 58.33333333%; }
	.col-md-6  { width: 50%; }
	.col-md-5  { width: 41.66666667%; }
	.col-md-4  { width: 33.33333333%; }
	.col-md-3  { width: 25%; }
	.col-md-2  { width: 16.66666667%; }
	.col-md-1  { width: 8.33333333%; }
	.col-md-auto  { width: auto; }

	.col-md-offset-12 { margin-left: 100%; }
	.col-md-offset-11 { margin-left: 91.66666667%; }
	.col-md-offset-10 { margin-left: 83.33333333%; }
	.col-md-offset-9  { margin-left: 75%; }
	.col-md-offset-8  { margin-left: 66.66666667%; }
	.col-md-offset-7  { margin-left: 58.33333333%; }
	.col-md-offset-6  { margin-left: 50%; }
	.col-md-offset-5  { margin-left: 41.66666667%; }
	.col-md-offset-4  { margin-left: 33.33333333%; }
	.col-md-offset-3  { margin-left: 25%; }
	.col-md-offset-2  { margin-left: 16.66666667%; }
	.col-md-offset-1  { margin-left: 8.33333333%; }
	.col-md-offset-0  { margin-left: 0; }
}

@media (min-width: 993px) {
	.col-lg-12 { width: 100%; }
	.col-lg-11 { width: 91.66666667%; }
	.col-lg-10 { width: 83.33333333%; }
	.col-lg-9  { width: 75%; }
	.col-lg-8  { width: 66.66666667%; }
	.col-lg-7  { width: 58.33333333%; }
	.col-lg-6  { width: 50%; }
	.col-lg-5  { width: 41.66666667%; }
	.col-lg-4  { width: 33.33333333%; }
	.col-lg-3  { width: 25%; }
	.col-lg-2  { width: 16.66666667%; }
	.col-lg-1  { width: 8.33333333%; }
	.col-lg-auto  { width: auto; }

	.col-lg-offset-12 { margin-left: 100%; }
	.col-lg-offset-11 { margin-left: 91.66666667%; }
	.col-lg-offset-10 { margin-left: 83.33333333%; }
	.col-lg-offset-9  { margin-left: 75%; }
	.col-lg-offset-8  { margin-left: 66.66666667%; }
	.col-lg-offset-7  { margin-left: 58.33333333%; }
	.col-lg-offset-6  { margin-left: 50%; }
	.col-lg-offset-5  { margin-left: 41.66666667%; }
	.col-lg-offset-4  { margin-left: 33.33333333%; }
	.col-lg-offset-3  { margin-left: 25%; }
	.col-lg-offset-2  { margin-left: 16.66666667%; }
	.col-lg-offset-1  { margin-left: 8.33333333%; }
	.col-lg-offset-0  { margin-left: 0; }
}




/*
** Animation for elements Style
*/

.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn { from { opacity: 0; }  to { opacity: 1; } } @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } } .fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
@-webkit-keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
@-webkit-keyframes fadeInDownBig { from { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInDownBig { from { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInDownBig { -webkit-animation-name: fadeInDownBig; animation-name: fadeInDownBig; }
@-webkit-keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
@-webkit-keyframes fadeInLeftBig { from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInLeftBig { from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInLeftBig { -webkit-animation-name: fadeInLeftBig; animation-name: fadeInLeftBig; }
@-webkit-keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
@-webkit-keyframes fadeInRightBig { from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInRightBig { from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInRightBig { -webkit-animation-name: fadeInRightBig; animation-name: fadeInRightBig; }
@-webkit-keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
@-webkit-keyframes fadeInUpBig { from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } @keyframes fadeInUpBig { from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } to { opacity: 1; -webkit-transform: none; transform: none; } } .fadeInUpBig { -webkit-animation-name: fadeInUpBig; animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } } @keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } } .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOutDown { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } } @keyframes fadeOutDown { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } } .fadeOutDown { -webkit-animation-name: fadeOutDown; animation-name: fadeOutDown; }
@-webkit-keyframes fadeOutDownBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } @keyframes fadeOutDownBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } .fadeOutDownBig { -webkit-animation-name: fadeOutDownBig; animation-name: fadeOutDownBig; }
@-webkit-keyframes fadeOutLeft { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } } @keyframes fadeOutLeft { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); } } .fadeOutLeft { -webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft; }
@-webkit-keyframes fadeOutLeftBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } @keyframes fadeOutLeftBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } .fadeOutLeftBig { -webkit-animation-name: fadeOutLeftBig; animation-name: fadeOutLeftBig; }
@-webkit-keyframes fadeOutRight { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } } @keyframes fadeOutRight { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); } } .fadeOutRight { -webkit-animation-name: fadeOutRight; animation-name: fadeOutRight; }
@-webkit-keyframes fadeOutRightBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } @keyframes fadeOutRightBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } .fadeOutRightBig { -webkit-animation-name: fadeOutRightBig; animation-name: fadeOutRightBig; }
@-webkit-keyframes fadeOutUp { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } } @keyframes fadeOutUp { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } } .fadeOutUp { -webkit-animation-name: fadeOutUp; animation-name: fadeOutUp; }
@-webkit-keyframes fadeOutUpBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } @keyframes fadeOutUpBig { from { opacity: 1; } to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } .fadeOutUpBig { -webkit-animation-name: fadeOutUpBig; animation-name: fadeOutUpBig; }


.header_wrapper:after, .header_wrapper:before,
section:after, section:before,
.row:after, .row:before,
.clearfix:after, .clearfix:before,
.form-wrapper:after, .form-wrapper:before{
	content: " ";
	display: table;
	clear: both;
}
.clear_fix{
	display: block;
}

.clear_fix:after, .clear_fix:before{
	content: " ";
	display: table;
	clear: both;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}



/*
 *  alerts
*/

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}



/*
**	Dropdown Menu Style
*/

.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1030;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 1em;
    text-align: left;
    background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
}
	.dropdown-menu.pull-right {
		right: 0;
		left: auto;
	}

	.dropdown-menu > .nav_item > .nav_link {
		display: block;
		border: 0;
		padding: 8px 10px;
		clear: both;
		font-weight: 400;
		line-height: normal;
		color: #413a41;
		font-size: .9em;
		white-space: nowrap;
	}
		.dropdown-menu > .nav_item > .nav_link > .nav_icon{
			margin-right: 5px;
			min-width: 20px;
			vertical-align: middle;
		}

	.dropdown-menu > .nav_item > .nav_link:hover,
	.dropdown-menu > .nav_item > .nav_link:focus {
		background-color: rgba(0,0,0,0.05);
	}
	.dropdown-menu > .disabled > .nav_link:hover,
	.dropdown-menu > .disabled > .nav_link:focus {
		text-decoration: none;
		cursor: not-allowed;
		background-color: transparent;
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}

.divider {
	height: 1px;
	margin: 5px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
