.participant-list li, .judge-list li, .stage-list li, .stage-list1 li{
	margin-top: 1em;
}

.criterion-list{
  position: relative;
}
ul{
  padding-left: 15px;
  padding-right: 15px;
}
.nav-tabs{
  padding-right: 0px !important; 
}
.nav-tabs-li{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
fieldset{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.btn-submit-participant, .btn-submit-judge, .btn-submit-stage{
  height: 35px !important;
  font-size: 14px !important;
}
.form-horizontal .control-label {
  padding-top: 5px;
}
.control-size{
  position: relative;
  width: 100%; 
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon-remove {
    color: #f47f7f;
    font-size: 1.7em;
}
.icon-remove:hover{
  color:#ec2121;
}
@media only screen and (max-width:767px) {
  table {
    display: block;
    overflow: auto;
  }
}