.error_block{
	height: inherit;
}
.error_title{
	color: #008DA7;
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
	font-size: 4em;
}
.error_text{
	margin: 20px;
	font-size: 1.5em;
}
.error_link{
	font-size: .9em;
	padding: 2px;
	margin: 10px 15px;
}
