/*
**	New Event's Page Style
*/

.newevent-wrapper{
	width: 100%;
	min-height: calc(100% - 100px);
	overflow-y: auto;
	vertical-align: middle;
  display: flex;
}
	.newevent-wrapper .block{
		position: relative;
		width: 900px;
		margin:auto;
    overflow: hidden;
		min-height: 200px;
	}
	.newevent-wrapper + footer{
		position: relative;
		margin-top: 0;
	}
	.newevent-wrapper .block-heading{
		color: #FAFAFA;
		border-color: #EEEEEE;
		text-align: center;
		padding: 0;
	}
		.newevent-wrapper .block-heading .info{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 8px 0;
			z-index: 2
		}
		.pb_newevent{
			position: relative;
			height: 5px;
			background-color: #fff;
			font-weight: bold;
			z-index: 0;
		}
			.pb_newevent span{
				font-weight: bold;
			}
			.pb_wrapper{
				position: absolute;
				height: inherit;
				transition: 1s;
				background: linear-gradient(to right,#ff0033,yellow,#32cd32);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 900px;

				-moz-box-shadow:inset 0px -30px 64px -45px #fff;
				-webkit-box-shadow:inset 0px -30px 64px -45px #fff;
				box-shadow:inset 0px -30px 64px -45px #fff;

				top: 0;
				left: 0;
				width: 0;
				z-index: -1;
			}
	.newevent-wrapper .block-body{
		padding: 15px 30px;
		min-height: 250px;
		overflow: hidden;
		overflow-y: auto;
	}
	.newevent-wrapper .block-body .step{
		position: absolute;
		width: calc(100% - 60px);
		margin: 20px 0;
	}

	.newevent-wrapper .block-footer{
		border-top-style: none;
    width: 100%;
	}
	.newevent-wrapper .block-footer button{
    font-size: 1.5em;
    padding: 7.5px 30px;
	}
	.newevent-wrapper .block-footer button i{
		font-size: .95em;
		vertical-align: baseline;
		padding: 0 6px;
	}
.newevent-wrapper .nav_button:hover i, .newevent-wrapper .nav_button:focus i{
	color:#1976D2;
}


.bootstrap-datetimepicker-widget{
	position: absolute;
	top:0 !important;
}

#map {
	display: none;
	width: 100%;
	height: 400px;
}
.addressControl, .btn-map{
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  max-width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
	.btn-map{
		text-align: center !important;
		padding: 5px 10px;
		border: 0;
	}







	/*
	**  Media - Tablet
	*/

	@media (max-width: 992px) {
			.newevent-wrapper .block{
				width: 80%;
			}
	}


	/*
	**  Media - Mobile
	*/

	@media (max-width: 680px){
		.newevent-wrapper .block{
			width: 95%;
		}
		.newevent-wrapper .block-footer button {
	    padding: 7.5px 20px;
		}
		.block .pb_wrapper{
			background-size: 630px;
		}
	}


	/*
	**  Media - XS Mobile
	*/

	@media (max-width: 480px) {
		.newevent-wrapper .block-body .step {
			top:20px;
		}
		.newevent-wrapper .block-body .step .help-block{
			display: none;
		}
		.newevent-wrapper .input-field .help-block + .counter {
	    bottom: 0;
		}
		.block .pb_wrapper{
			background-size: 440px;
		}
	}











/*
 *  Form Collapse Style
*/
.form_collapse .form_body{
	height: 44px;
}
	.form_collapse.open .form_body{
		height: auto;
	}

.form_collapse .input-field{
	margin-top: .4em;
	margin-bottom: .2em
}
	.form_collapse.open .input-field{
		margin-top: 1em;
	}

.form_collapse .input-field > input{
	border-bottom: 0;
}
	.form_collapse.open .input-field > input{
		border-bottom: 1px solid #9e9e9e;
	}
	.form_collapse.open .input-field > input.invalid{
		border-bottom: 1px solid #F44336;
	}

.form_collapse .row{
	margin: 0;
}
	.form_collapse.open .row{
		margin: 15px auto;
	}

.form_collapse .hidden{
	display: none;
}
	.form_collapse.open .hidden{
		display: block;;
	}


/*
 *   Cards Styles
*/
.card_content-text option{
    display: inline-block;
}
	.card_content-text option:not(:last-child):after{
	    content: ',';
	}


.dragable-inputarea{
	display: inline-block;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    font-size: 1em;
	padding-right: 8px;
	min-height: 34px;
	width: 100%;
	margin-bottom: -5px;
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
}
.dragable-inputarea.focus{
	border-bottom: 1px solid #008DA7;
	box-shadow: 0 1px 0 0 #008DA7;
}
	.dragable-inputarea.focus + label{
		color: #008DA7;
	}
.dragable-inputarea.invalid{
	border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}
	.dragable-inputarea.invalid + label{
		color: #F44336;
	}

.dragable-inputarea + label {
    color: #9e9e9e;
    position: absolute;
    top: .5em;
    cursor: default;
    font-size: .8em;
    letter-spacing: .01em;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
}

.dragable-inputarea .item, .dragable-area .item{
	color: #616161;
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	padding: 3px 5px;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	float: left;
	white-space: nowrap;
}
.dragable-inputarea .item{
	font-size: .8em;
	margin-top: 5px;
}
	.dragable-inputarea .item.dark{
		background-color: #f5f5f5;
	}

.dragable-area .item{
	font-size: .9em;
}

.dragable-area, .dragable-label{
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
}

.dragable-label{
	float: left;
    margin-right: 10px;
    font-size: .9em;
    line-height: 1.6em;
	font-style: italic;
	text-decoration: underline;
}

.formula{
	cursor: default;
    font-size: 1em;
	padding-bottom: 5px;
	padding-right: 8px;
	width: 100%;
	margin-bottom: -5px;
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
}
.formula .item{
	display: inline-block;
	color: #616161;
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	font-size: .75em;
	padding: 3px 5px;
	border-radius: 3px;
	margin-bottom: 5px;
}
.formula .item.dark{
	background-color: #f5f5f5;
}
	.formula .item.dark span{
		font-size: 1em;
	}
.formula .text{
	padding: 3px 5px;
	color: #616161;
	background-color: #FFF;
	border: 1px solid #E0E0E0;
}

.drop{
	position: relative;
	cursor: default;
}
.drop .drop-area{
	display: none;
}
.drop .drop-area .fa{
	color: #F44336;
    text-align: center;
	margin: -5px;
    width: inherit;
    height: inherit;
}
.drop .drop-area .fa:before{
	text-align: center;
	width: 100%;
}
.drop.open .drop-area{
	position: absolute;
	display: block;
	margin: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background: #F0F0F0;
	opacity: .5;
	border: 3px solid #BBB;
	border-style: dashed;
	z-index: 5;
}
.drop-area .item{
	display: none;
}
#coeff_add{
	color: #616161;
	background-color: #f5f5f5;
	border: 1px solid #E0E0E0;
	padding: 2.5px 5px;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	float: left;
}

.coeff-area .swal2-title{
	font-size: 1.4em !important;
}
.coeff-area .swal2-input{
	height: 34px !important;
}
.coeff-area .swal2-spacer{
	display: none !important;
}

.coeff-area .swal2-confirm, .coeff-area .swal2-cancel{
	padding: 8px 20px !important;
	font-size: 1em !important;
	border: 1px solid #E0E0E0 !important;
	border-radius: 3px !important;
}
.coeff-area .swal2-confirm{
	color: #FFF !important;
	background-color: #008DA7 !important;
}
	.coeff-area .swal2-confirm:hover{
		background-color: #1F757D !important;
	}
.coeff-area .swal2-cancel{
    color: #413a41 !important;
    background-color: #FFF !important;
}
	.coeff-area .swal2-cancel:hover{
		background-color: rgba(0,0,0,0.05) !important;
	}

.coeff-area .swal2-validationerror{
	padding: 5px !important;
	margin-bottom: 20px !important;
}

.radio-field{
	position: relative;
    margin-top: 1em;
	margin-bottom: .2em;
}
.radio-label{
	color: #9e9e9e;
    position: absolute;
    top: .5em;
    cursor: text;
    transition: .2s ease-out;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	font-size: .8em;
    letter-spacing: .01em;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
.radio-block{
	width: 50%;
	float: left;
	height: 35px;
	line-height: 35px;
}
