@media (max-width: 768px) {
	.event-wrapper, header{
		width: 768px;
	}
}
.panel-tabs .md-btn{
	padding: 6px 10px;
}
.event-wrapper .form-group{
	padding: 15px 15px 0 15px;
	margin-bottom: 0;
	text-align: center;
}
.event-wrapper .form-group .control-label{
	vertical-align: top;
	padding-right: 15px;
	text-align: right;
	width: 200px;
}
@media (max-width: 1105px) {
	.event-wrapper .form-group{
		text-align: left;
	}
	.event-wrapper .form-group .control-label{
		text-align: left;
	}
}
.event-wrapper .form-group .input-area{
	display: inline-block;
	width: 710px;
}
.date-input{
	display: block;
	height: 35px;
	text-align: left;
}
	.date-input input{
		display: inline-block;
		width: 30%;
	}
.org-info-btn, .org-info-btn:hover, .org-info-btn:focus{
	text-decoration:none; 
	color:#64b5f6;
}
	.org-info-btn i{
		color: #656565;
		padding-right: 5px;
	}
	.org-info-btn span{
		border-bottom:1px dashed #1565C0;
	}
.select2-width{
	width: 710px;
}
.help-block, .error-input{
	text-align: left;
	font-size: .8em;
}
.eventdesc{
	display: inline-block;
	width: 710px;
}
	.eventdesc > .panel{
		box-shadow: none;
		margin-bottom: 0;
	}
	.modal-header{
		padding: 8px 15px;
		border-bottom: 1px solid #bbb;
	}
	.modal-body > .form-group{
		padding: 0;
		text-align: left;
		margin-bottom: 10px;
	}
	.modal-footer{
		padding: 8px 15px;
		border-top: 1px solid #bbb;
	}
.note-editor.note-frame{
	border: 1px solid #bbb;
}