@font-face {
  font-family: 'icons_fonts';

  src:  url('../fonts/crowd_of_users.eot');
  src:  url('../fonts/crowd_of_users.eot') format('embedded-opentype'),
    url('../fonts/crowd_of_users.ttf') format('truetype'),
    url('../fonts/crowd_of_users.woff') format('woff'),
    url('../fonts/crowd_of_users.svg') format('svg');

  src:  url('../fonts/rating.eot?a91zkh');
  src:  url('../fonts/rating.eot?a91zkh#iefix') format('embedded-opentype'),
    url('../fonts/rating.ttf?a91zkh') format('truetype'),
    url('../fonts/rating.woff?a91zkh') format('woff'),
    url('../fonts/rating.svg?a91zkh#rating') format('svg');

  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: 'icons_fonts' !important;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crowd-of-users:before {
  content: "\e900";
}

.icon-rating:before {
  content: "\e999";
}

