@media only screen and (max-width:1300px) {
	.wizard > .steps > ul > li {
		width: 33.3333333%
	}
}
@media only screen and (max-width:1000px) {
	.wizard > .steps > ul > li {
		width: 50%
	}
}
@media only screen and (max-width:550px) {
	.wizard > .steps > ul > li {
		width: 100%
	}
	.orgName{
		padding-top: 0 !important;
	}

}
.content-wrapper > .content-heading {
	height: 200px;
	background-color: #039BE5;
    color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;
}
.img-thumbnail{
	height: 150px !important;
	width: 150px !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.content-heading > .orgName{
	padding-top: 30px;
}
@media only screen and (max-width:768px){
	.content-heading > .orgName{
		padding-top: 10px;
	}
}
.btn-logout {
    position: absolute;
    top: calc(100% - 1.5em);
    right: 1%;
    z-index: 9999;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: #efe;
    color: #9e9e9e;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 2em;
    overflow: hidden;
    transform: translateZ(0);
    transition: all 0.5s ease;
}
.logout-position {
    position: relative;
    left: 27%;
    top: 22%;
    font-size: 1.5em;
}
.description{
	color: #31708f;
	font-weight: bold;
	background-color: #d9edf7;
	border-color: #bce8f1;
	height: 120px; 
	overflow-y:auto;
}
.participant{
	width: 120px;
	height: 120px; 
	border-radius:10%; 
	margin:0 auto;
}
@media only screen and (max-width:430px) {
	.participant{
		position: relative;
		right: 0.5em;
		width: 75px;
		height: 75px; 
		border-radius:10%
	}
}
input:checked + span
{
	color:#2f2;
	font-weight:bold;
	font-size:1.25em;
	text-shadow: 1px 1px 15px #1E88E5,
		1px 1px 3px #000;
}
.btn-s{
	width: 50px;
}
.btn-s:active, .btn-s.active { 
	border: none !important; 
	background-image: none !important; 
	background-color: #2C2 !important; 
	font-size: 1.5em !important;
}
.btn {
	font-size: 1.3em;
	font-weight: bold;
}
.errorMsg{
	background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}
.tab-content{
	border-width: 0 !important;
	padding: 0;
}
@media only screen and (max-width:991px) {
	.score-area{
		text-align: center;
	}
}
.score-area{
	border-width: 0.2em !important;
	border-radius: 10px;
	padding: 10px 20px;
    border-style: solid;    
    border-color: #dde6e9;
    margin-bottom: 5px;
    position: relative;
}
.portlets-wrapper{
	padding-left: 1px;
	padding-right: 1px;
}
.wizard > .content{
	margin: 0;
}
.wizard > .content > .body{
	padding: 0;
}
.img-pos{
	position: absolute;
	right: 20px;
	top: 0px;
}
@media only screen and (max-width:768px) {
	.img-pos{
		display: none;
	}
}
fieldset {
    padding-bottom: 20px;
    border-bottom: 1px dashed #eee;
    margin-bottom: 20px;
}
.btn-default a{
	color: #31708f;
}
.btn-danger a{
	color: #fff;
}
.wizard > .content > .body ul > li{
	display: block;
}
.wizard > .actions > ul > li, .wizard > .steps > ul > li{
	margin-top: 1em;
}
body .bootstrap-filestyle{
	max-width: 100%;
}
.buttonText, .pull-right{
	font-weight: normal;
	font-size: 1em;
}