@media only screen and (max-width:1300px) {
	.wizard > .steps > ul > li {
		width: 33.3333333%
	}
}
@media only screen and (max-width:1000px) {
	.wizard > .steps > ul > li {
		width: 50%
	}
}
@media only screen and (max-width:550px) {
	.wizard > .steps > ul > li {
		width: 100%
	}
}
.img-thumbnail{
	height: 150px !important;
	width: 150px !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.content-heading > .orgName{
	padding-top: 30px;
}
.description{
	width: 95%;
	margin-left: 2.5%;
	color: #31708f;
	font-weight: bold;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 1em;
}
.participant{
	width:150px;
	height: 150px; 
	border-radius:10%; 
	margin:0 auto;
}
@media only screen and (max-width:430px) {
	.participant{
		position: relative;
		right: 0.5em;
		width: 75px;
		height: 75px; 
		border-radius:10%
	}
}
input:checked + span
{
	color:#2f2;
	font-weight:bold;
	font-size:1.25em;
	text-shadow: 1px 1px 15px #1E88E5,
		1px 1px 3px #000;
}
.btn:active, .btn.active { 
	border: none !important; 
	background-image: none !important; 
	background-color: #2C2 !important; 
	font-size: 1.7em !important; 
}
.btn {
	font-size: 1.5em;
	margin: 0.001em;
}