/*
**	organization jumbotron
*/

.org-block{
	margin-bottom: 20px;
	box-shadow: 0 0 9px -3px rgba(0,0,0,.3);
}
.org-background{
	height: 300px;
}
	.org-background .edit-org-back{
		position: absolute;
		top: 20px;
		left: 20px;
		line-height:30px;
		border-radius: 3px;
	}
		.org-background .edit-org-back a{
			padding:6px;
		}
			.org-background .edit-org-back .fa{
				text-shadow: 0 0 2px #777;
				font-size: 1.15em;
				color: #fafafa;
				opacity: .8;
			}
			.org-background .edit-org-back span{
				font-size:0.9em;
				display: none;
				color: #fafafa;
				padding-left: 5px;
			}

	.org-background .edit-org-back:hover{
		background: rgba(0, 0, 0, 0.75);
	}
		.org-background .edit-org-back:hover a span{
			display: initial;
		}

.org-nav-block{
	position: relative;
	height: 40px;
	background-color: #fff;
	border: 1px solid rgba(150,150,150,0.3);
}
.org-nav{
	position: relative;
	margin-left: 220px;
	height: 100%;
}
	.org-nav .menu-btn{
		font-size: 1.1em;
		display: inline-block;
		padding: 6px 30px;
    height: inherit
	}
		.org-nav .menu-btn.active{
			box-shadow:inset 0 -2px 0 0 #777;
		}
		.org-nav .menu-btn:hover{
			box-shadow:inset 0 -2px 0 0 #777;
		}

.org-avatar{
	position: absolute;
	bottom: -20px;
	left: 20px;
	width: 180px;
	height: 180px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	z-index: 1;
}
	.org-avatar img{
		position: relative;
		margin: 5px;
		height: 170px;
		width: 170px;
		z-index: 2;
	}
	.edit-org-avatar{
		position: absolute;
		height: 50px;
		transition: .15s;
		z-index: 3;
		bottom: 5px;
		left: 5px;
		width: calc(100% - 10px);
	}
		.edit-org-avatar .fa{
			position: absolute;
			font-size: 1.1em;
			color: #fafafa;
			opacity: .8;
			text-shadow: 0 0 2px #777;
			line-height:50px;
			left: 8px;
			transition: .15s;
		}
		.edit-org-avatar span{
			display: none;
			padding: 4px 10px 4px 40px;
			color: #fff;
			font-size:0.9em;
		}

	.org-avatar:hover .edit-org-avatar{
		background: rgba(0, 0, 0, .6);
	}
		.org-avatar:hover .edit-org-avatar:hover{
			background: rgba(0, 0, 0, .75);
		}
		.org-avatar:hover .edit-org-avatar span{
			display: inline-block;
		}

.org-name-background{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
}
.org-name{
	position: absolute;
	bottom: 10px;
	left: 240px;
	color: #fff;
}
	.org-name h2 a {
		font-size: .6em;
		color: #f5f7fa;
		position: relative;
		display: inline-block;
		left: 11px;
		top: -14px;
	}
	.org-name .tooltip-inner{
		width: 130%;
	}


/*
**	quick start on organization-events page
*/

.quick-start .block-body, .searching .block-body{
	padding: 0;
}
	.quick-start ul li, .searching .block-body > ul > li{
		text-align: center;
		float:left;
	}

	.quick-start ul li:not(:first-child){
		margin-left:4px;
	}
	.quick-start ul li:first-child, .searching .block-body > ul > li:first-child{
		width:220px;
		color: #fafafa;
		background-color: #777;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.quick-start ul li:first-child, .quick-start a, .searching .block-body > ul > li:first-child, .search-block input{
		padding: 10px 15px;
	}
		.quick-start a:hover{
			box-shadow: inset 0px -2px 0 0 #777;
		}


/*
**	searching area on organization-events page
*/

.search-block{
	position: relative;
	width: calc(100% - 220px);
	height: inherit;
	float: left;
}
	.search-block input{
		width: calc(100% - 60px);
		border: 0;
	}
	.search-block input:hover, .search-block input:focus{
		border: 0;
		outline: 0;
		box-shadow: none;
	}
	.search-block .select_wrapper{
		-webkit-user-select: none;
		-moz-user-select: none;
		width: 30px;
		cursor: pointer;
	}
		.search-block .select_wrapper:hover{
			box-shadow:inset 0 -2px 0 0 #777;
		}
	.search-block .select_wrapper:last-child{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
.select_btn{
	display: none;
}
	.select_btn_text{
		padding: 10px 0;
	}


/*
**	Events on Organisation Page
*/

.event_wrapper{
	padding: 0;
	margin-bottom: 30px;
}
	.event_wrapper:nth-child(4n+1) .event_card { margin-left: 0; }
	.event_wrapper:nth-child(4n+2) .event_card { margin-left: 2.5%; }
	.event_wrapper:nth-child(4n+3) .event_card { margin-right: 2.5%; }
	.event_wrapper:nth-child(4n+4) .event_card { margin-right: 0; }

.event_card {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
		border: 1px solid rgba(150,150,150,0.3);
		box-shadow: 0 0 9px -3px rgba(0,0,0,.3);
		width: 90%;
		margin: auto;
		overflow: hidden;
}
	.event_card-image {
		display: block;
		border-radius: 3px 3px 0 0;
		position: relative;
		min-width: 100%;
		height: 200px;
		cursor: pointer;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.event_card-content {
	    padding: 5px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
	}
	.event_card-title {
	    line-height: 2em;
			font-size: 1.2em;
	}
		.event_card-title .pointer {
		    cursor: pointer;
		}
		.event_card-content .event_card-title .fa{
			padding: 10px;
			position:absolute;
			right: 0px;
			top:5px;
		}
		.event_card-reveal .event_card-title .fa{
			position: absolute;
			top: 2px;
			right: 5px;
			padding: 5px;
		}

	.event_card-reveal {
	    padding: 20px;
	    position: absolute;
	    background-color: #fff;
	    width: 100%;
	    overflow-y: auto;
	    top: 0;
	    height: 100%;
			display: none;
	}
		.event_card-reveal p{
			font-size: .85em;
		}

	.event_card-action {
	    position: relative;
	    background-color: inherit;
	    border-top: 1px solid rgba(150,150,150,0.3);
			border-bottom-left-radius:3px;
			border-bottom-right-radius:3px;
			height: 33px;
	    padding: 5px 15px;
			text-align: center;
			z-index: 2;
	}
		.event_card-action a{
			font-size: .9em;
		}
	.event-status{
		display:inline-block;
		padding:0px 6px;
		color:#000;
		border-radius:3px;
	}


/*
**	Setting of Organization - Team
*/

.user-block > .col-xs-12{
	padding: 15px;
	text-align: center;
}

.user-block .edit-team-btn{
	position: absolute;
	top: 0;
	right: 15px;
	padding: 20px;
	cursor: pointer;
	z-index: 2;
}
	.user-block .edit-team-btn i{
		font-size: 1.5em;
	}

 .user-block .userImage{
	float: left;
	margin-right: 15px;
	min-height: 100px;
	display: inline-block;
}
.user-block .userDesc{
	display: inline-block;
	width: calc(100% - 145px);
}


.user-block .userImageBlock{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	vertical-align: middle;
}
	.user-block .userImageBlock img{
		position: relative;
		height: 94px;
		width: 94px;
		margin: 2px;
	}
.user-block > .col-xs-12.userDesc{
	text-align: left;
	font-size: .9em;
}
.userDesc > .user-name{
	font-weight: bold;
	font-size: 1.25em
}
.userDesc > .user-name, .userDesc > .user-role{
	display: inline-block;
	letter-spacing: .03em;
}
.userDesc > .user-role{
	color: #FFF;
	letter-spacing: .05em;
	font-size: .65em;
	border-radius: 3px;
	padding: 1px 5px;
	margin-left: 5px;
	cursor: default;
}
.userDesc > p, .userDesc > .user-role{
	margin-bottom: 10px;
	white-space: normal;
}
.userDesc > p:last-child{
	margin-bottom: 0;
}
.user-rools{
	font-size: .8em;
	letter-spacing: .03em;
}
	.user-rools span{
		margin-left: 7px;
		text-transform: lowercase;
	}
.user-block	.access > h4{
	margin: 0;
	font-weight: normal;
}
.user-block	.access > .input-field{
	margin: 10px 0 0 0;
}
.user-block .input-field{
	margin: 1.5em 0 2em 0;
}
.user-block .input-label.active{
	font-size: 1em;
	color: #616161;
}


/*
**	New Organization's Page Style
*/

.neworg-wrapper{
	width: 100%;
	min-height: calc(100% - 100px);
	overflow-y: auto;
}
	.neworg-wrapper .block{
		position: relative;
		width: 900px;
		margin: 7% auto;
		min-height: 360px;
		overflow: hidden;
	}
	.neworg-wrapper + footer{
		position: relative;
		margin-top: 0;
	}
	.neworg-wrapper .block-heading{
		color: #FAFAFA;
		border-color: #EEEEEE;
		text-align: center;
		padding: 0;
	}
		.neworg-wrapper .block-heading .info{
			padding: 8px 0;
			z-index: 2
		}
		.pb_neworg{
			position: relative;
			height: 5px;
			background-color: #fff;
			font-weight: bold;
			z-index: 0;
		}
			.pb_neworg span{
				font-weight: bold;
			}
			.pb_wrapper{
				position: absolute;
				height: inherit;
				transition: 1s;
				background: linear-gradient(to right,#ff0033,yellow,#32cd32);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 900px;

				-moz-box-shadow:inset 0px -30px 64px -45px #fff;
				-webkit-box-shadow:inset 0px -30px 64px -45px #fff;
				box-shadow:inset 0px -30px 64px -45px #fff;

				top: 0;
				left: 0;
				width: 0;
				z-index: -1;
			}
	.neworg-wrapper .block-body{
		padding: 15px 30px;
		min-height: 280px;
	}
	.neworg-wrapper .block-body .step{
		position: absolute;
		width: calc(100% - 60px);
		margin: 20px 0;
	}

	.neworg-wrapper .block-footer{
		border-top-style: none;
    position: absolute;
    width: 100%;
    bottom: 0;
	}
	.neworg-wrapper .block-footer button{
    font-size: 1.5em;
    padding: 7.5px 30px;
	}
	.neworg-wrapper .block-footer button i{
		font-size: .95em;
		vertical-align: baseline;
		padding: 0 6px;
	}

.nav_button:hover i{
	color:#1976D2;
}


/*
**  Media - Tablet
*/

@media (max-width: 992px) {
		.org-background .edit-org-back{
			top: 0;
			left: 0;
			line-height: 48px;
		}
			.org-background .edit-org-back a{
				position: relative;
				padding: 14.5px;
			}
			.org-background .edit-org-back:hover{
				background: transparent;
			}
				.org-background .edit-org-back:hover a span{
					display: none;
				}

		 .edit-org-avatar{
			 width: 30%
		 }
		 	.edit-org-avatar a{
				display: block;
				height: inherit;
				width: 100%;
				text-align: center;
			}
				.edit-org-avatar a .fa{
					position: relative;
					left: 0;
				}
		.org-avatar:hover .edit-org-avatar{
			background: transparent;
		}
			.org-avatar:hover .edit-org-avatar:hover{
				background: transparent;
			}
			.org-avatar:hover .edit-org-avatar span{
				display: none;
			}

		.quick-start ul li:first-child{
			border-bottom-left-radius: 0px;
		}

		.event_wrapper:nth-child(3n+1) .event_card { margin-left: 2.5%; }
		.event_wrapper:nth-child(3n+2) .event_card { margin: auto; }
		.event_wrapper:nth-child(3n+3) .event_card { margin-right: 2.5; }

		.neworg-wrapper .block{
			width: 80%;
		}
		.block .pb_wrapper{
			background-size: 780px;
		}
}


/*
**  Media - Mobile
*/

@media (max-width: 680px){
	.quick-start{
		display: none;
	}
	.org-nav .dropdown-menu{
		right: 0;
		left: inherit;
	}
	.org-nav{
		margin-left:0;
	}
		.org-nav .displaynone{
			display:inline-block !important;
		}
		.org-nav .menu-btn{
			font-size:1em;
			width:33%;
			margin:0 -1px;
			text-align:center;
			padding:6px 15px;
		}
	.org-avatar{
		left:calc(50% - 90px);
		top:60px;
	}
	.org-name{
		left:auto;
		bottom:0;
		width:100%;
		text-align:center;
	}
		.org-name h2{
			font-size:1.5em;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.org-name h2 a{
			display: none;
		}

	.searching .block-body > ul > li{
		width: calc(100% - 170px);
	}
		.searching .block-body > ul > li:first-child{
			width: 170px;
			padding: 10px 5px;
		}

	.event_wrapper:nth-child(2n+1) .event_card { margin-left: 5%; }
	.event_wrapper:nth-child(2n+2) .event_card { margin-right: 5%; }

	.neworg-wrapper .block{
		width: 95%;
	}
	.neworg-wrapper .block-footer button {
    padding: 7.5px 20px;
	}

	.block .pb_wrapper{
		background-size: 630px;
	}
	.user-block .edit-team-btn{
		padding: 10px;
	}

	.userDesc > .user-role{
		margin-left: 0;
	}
	.userDesc > .user-name, .userDesc > .user-role{
		display: table;
	}
	.martop-15{
		margin-top: -15px;
	}
}


/*
**  Media - XS Mobile
*/

@media (max-width: 480px) {
	.org-nav-block{
		height: auto;
	}
	.org-nav .menu-btn{
		width: 100%;
		display: block;
	}
	.org-nav .menu-btn.active{
		box-shadow: none;
		background-color: #777;
		color: #f7f7f7;
	}
	.org-nav .dropdown-menu{
		right: 0;
		left: 0;
		text-align: center;
	}
	.search-block input{
		padding: 10px 5px;
	}

	.event_wrapper:nth-child(n) .event_card { margin: auto; }

	.neworg-wrapper .block-body .step {
		top:
	}
	.neworg-wrapper .block-body .step .help-block{
		display: none;
	}
	.block .pb_wrapper{
		background-size: 440px;
	}

	.org_team > .block-body, .org_team > .block-body > ul{
		padding: 10px 0;
	}
	.user-block .edit-team-btn{
		top: 10px;
		right: 0;
	}

}
