.org-block{
	margin-bottom: 20px;
	height: 340px;
	width: 100%;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.org-background{
	position: relative;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}
.org-nav-block{
	position: relative;
	height: 40px;
	background-color: #fff;
}
.org-nav{
	position: relative;
	margin-left: 220px;
	height: 100%;
	border-left: 1px solid #bbbbbb;
	font-size: 18px;
}
	.org-nav .md-btn{
		font-size: 18px;
		border-radius: 0;
		position: relative;
		display: inline-block;
		padding: 6px 30px;
		height: 40px;
		vertical-align: top;
		border-right: 1px solid #bbbbbb;
	}
	.org-nav .md-btn:nth-child(n+2){
		margin-left: -4px; 
	}
	.active-tab{
		background-image: url(../img/icons/link-1.svg);
		background-repeat: no-repeat;
		background-size: auto;
		position: absolute;
		display: none;
		height: 9px;
		width: 16px;
		bottom: -1.5px;
		left: 45%;
	}
		.org-nav .md-btn.active{
			pointer-events: none;
			height: 41.5px;
		}
		.org-nav .md-btn.active > .active-tab{
			display: block;	
		}

		.org-nav .md-btn:hover, .org-nav .md-btn:focus{
			background-color: rgb(236,236,236);
			-webkit-transform: none;
			transform: none; 
			box-shadow: none;
		}
		.org-nav .md-btn.active:hover, .org-nav .md-btm.active:focus{
			background-color: transparent;
		}

.org-avatar{
	position: absolute;
	z-index: 2;
	bottom: -20px;
	left: 20px;
	width: 180px;
	height: 180px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
	.org-avatar img{
		position: relative;
		margin: 5px;
		height: 170px;
		width: 170px; 
	}
.org-name-background{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background: linear-gradient(to bottom, transparent, #000);
	opacity: .5;
}
.org-name{
	position: absolute;
	bottom: 10px;
	left: 240px;
	color: #fff;
}
	.org-name md-icon{
		color: #fff;
	}


@media (max-width: 992px) {
	.content-wrapper{
		width: 100%;
	}
}
.columns-area{
	width: 100%;
}
.left-column{
	padding-left: 15px;
	padding-right: 5px;
	vertical-align: top;
	display: inline-block;
	width: 70%;
}
.right-column{
	float: right;
	vertical-align: top;
	margin-right: -15px;
	padding: 0;
	display: inline-block;
	width: 30%;
}

@media (max-width: 768px) {
	.org-block, header{
		width: 768px;
	}
	.columns-area{
		width: 768px;
	}
	.left-column{
		vertical-align: top;
		padding: 0 0 0 14px;
		display: inline-block;
		width: 440px;
	}
	.right-column{
		vertical-align: top;
		padding: 0;
		display: inline-block;
		margin-left: 20px;
		margin-right: 0;
		width: 300px;
	}
}

/* left column */
.search-block{
	position: relative;
    overflow: hidden;
    margin-top: -15px;
}
	.search-block md-input-container{
		margin-bottom: 0px;
	}
		.search-block md-input-container label{
			padding-left: 15px !important;
		}

@media (max-width: 991px) {
	.search-block{
		margin-bottom: 20px;
	}
}

.event-group{
	position: relative;
	border-radius: 3px;
	margin: 0 15px 30px 15px;
	background-color: #fff;
	display: inline-block;
	list-style: none;
	padding: 0;
	width: 220px;
	height: 190px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}
.event-wrapper{
	position: relative;
	height: 170px;
	padding: 10px;
}
.event-image{
	position: relative;
	border-radius: 3px;
	width: 200px;
	height: 150px;
	background-size: cover !important;
}
.event-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
}
.event-preview{
	text-align: left;
	padding:5px;
	opacity: 0;
	position: relative;
	margin: 10px;
	height: 150px;
	border: 1px;
}
	.event-link:hover > .event-preview, .event-link:focus > .event-preview{
		transition: 0.4s;
		opacity: 0.95;
		background-color: #fff;
	}
	.event-preview h2{
		margin-top: 3px;
		margin-left: 3px;
		width: 85%;
		font-size: 14px;
		color: #000;
		font-weight: bold;
		height: 30px;
		overflow: hidden;
	}
	.event-preview p{
		position: relative;
		margin: 0 3px;
		font-size: 11px;
		height: 80px;
		overflow: hidden;
	}
	.event-preview span{
		margin: 0;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100px;
		height: 20px;
		text-align: center;
		font-size: 10px;
	}
	.event-preview small{
		position: absolute;
		bottom: 5px;
		left: 5px;
		padding: 0 3px 2px 3px;
		font-size: 10px;
		background-color: #f5f7fa;
		border-radius: 3px;
		border: 1px solid #bbb;
		transition: 0.4s;
	}
.event-result{
	position: absolute;
	top: 13px;
	right: 13px;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #fff;
	opacity: 0.75;
	border-radius: 20%;
	-webkit-box-sizing: content-box;
}
	.event-result .md-button{
		border-radius: 20%;
		position: relative;
		width: 20px;
		min-width: 18px;
		height: 20px;
		min-height: 18px;
		margin: 0;
		padding: 0;		
		line-height: 0;
	}
	.event-result .md-button:hover, .event-result .md-button:focus{
		background-color: #fff;
		box-shadow: 0 1px 1px 1px rgba(0,0,0,.08), 0 0 2px 2px rgba(0,0,0,0.1);
	}
	.event-result .md-button md-icon{
		position: relative;
		width: 20px;
		height: 20px;
		padding: 2px;
		min-width: 15px;
		min-height: 15px;
		opacity: 0.45;
	}
	.event-result:hover, .event-result:focus{
		opacity: 1;
	}

.event-footer{
	position: relative;
	padding: 0;
}
.event-footer-left{
	position: relative;
	list-style: none;
	margin-top: 6px;
	width: 40%;
	height: 18px;
	float: left;
	padding: 0;
}
	.event-footer-left md-menu-bar{
		padding: 0;
	}
	.event-footer-left li{
		display: table-cell;
		height: 18px !important;
		border-radius: 20%;
		padding-right: 10px;
	}
	.event-footer-left .md-button{
		position: relative;
		width: 18px;
		min-width: 18px;
		height: 18px;
		min-height: 18px;
		margin: 0;
		padding: 3px;
		line-height: 0;
	}
	.event-footer-left .md-button md-icon{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 15px;
		height: 15px;
		min-width: 15px;
		min-height: 15px;
		opacity: 0.45;
	}

.event-footer-right{
	position: relative;
	list-style: none;
	margin-top: 6px;
	width: 60%;
	height: 18px;
	float: right;
	padding: 0;
}
	.event-footer-right li{
		display: table-cell;
		float: right;
		height: 18px !important;
		border-radius: 20%;
		padding-left: 10px;
	}
	.event-footer-right .md-button, .event-footer-right .div-views{
		position: relative;
		width: auto;
		min-width: 18px;
		height: 18px;
		min-height: 18px;
		margin: 0;
		padding: 0;
		line-height: 0;
	}
	.event-footer-right .md-button md-icon, .event-footer-right .div-views img{
		position: relative;
		top: 4px;
		left: 2px;
		width: 12px;
		height: 12px;
		min-width: 12px;
		min-height: 12px;
		opacity: 0.45;
	}
	.event-footer-right .md-button span, .event-footer-right .div-views span{
		position: relative;
		vertical-align: -webkit-baseline-middle;
		font-size: 12px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.event-footer-right .div-views span{
		position: relative;
		vertical-align: middle;
		font-size: 12px;
		padding-left: 2px;
		padding-right: 2px;	
	}
	.event-footer-right li:hover, .event-footer-right .md-button:hover{
		font-weight: 600;
	}

.event-footer-left .md-button:hover, .event-footer-right .md-button:hover{
	box-shadow: 0 1px 1px 1px rgba(0,0,0,.08), 0 0 2px 2px rgba(0,0,0,0.1);
	transition: .4s;
	background-color: #fff;
}
.fav .active{
	color: #ec2121;
}


/* right column */

.right-column .quick-start-icon{
	min-width: 15px;
	min-height: 15px;
	margin-bottom: 2px;
	margin-right: 10px;
	color: #656565;
}
.right-column .md-button:first-child .quick-start-icon{
	width: 15px;
	height: 15px;
}
.right-column .md-button:nth-child(2) .quick-start-icon{
	margin-left: -10px;
}

.panel-top-right-link-icon{
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
	margin-right: -5px;
	margin-top: -5px;
}
.person-in-team{
	margin-bottom: 10px;
}
	.person-in-team img{
		border: 1px solid #bbbbbb;
		width: 33px;
		height: 33px;
	}
	.person-in-team p{
		position: absolute;
		font-weight: bold;
		font-size: 1.2em;
		margin: 0 5px 0 5px;
		width: 65%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.person-in-team small{
		position: absolute;
		margin: 20px 0 0 5px;
		width: 65%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
.add-person-to-team{
	margin: 10px 0 0 0;
}
	.add-person-to-team label{
		font-weight: normal;
	}
	.add-person-to-team small{
		font-size: 10px;
	}

.log-activites small{
	color: #bbb;
	padding-left: 5px;
}
.log-activites p{
	padding-left: 5px;
}
.log-activites p .md-btn{
	font-size: 1em;
	padding: 0 1px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.logs-description{
	padding-right: 10px;
	margin-bottom: 3px;
}
	.logs-description span{
		width: 10px;
		height: 10px;
	}
	.logs-description p{
		padding-left: 2px;
		padding-bottom: 2px;
		margin: 0;
	}

.create-org{
	position: relative;
	margin-top: 30px;
}
	.create-org .help-block{
		color: #bbb;
	}
	
@media (max-width: 767px) {
	.create-org .form-group{
		display: block;
	}
	.create-org .col-sm-2{
		text-align: left;
	}
	.create-org{
		padding: 0;
	}
}

.panel-default > .panel-heading{
	box-shadow: inset 0px -1px 0 0 #bbb;
	border-bottom: 0 !important;
}
	.panel-tabs{
		margin: -10px -15px;
	}
	.panel-tabs .md-btn{
		font-size: 18px;
		border-radius: 0;
		position: relative;
		display: inline-block;
		padding: 6px 30px;
		height: 40px;
		vertical-align: top;
		border-right: 1px solid #bbbbbb;
	}
		.panel-tabs .md-btn:nth-child(n+2){
			margin-left: -4px;
		}
		.panel-tabs .md-btn:first-child{
			border-top-left-radius: 2px;
		}
		.panel-tabs .md-btn:hover, .panel-tabs .md-btn:focus{
			position: relative;
			-webkit-transform: none;
			transform: none; 
			box-shadow: none;
		}
		.panel-tabs .md-btn.active{
			pointer-events: none;
		}

	.active-link{
		background-image: url(../img/icons/link-2.svg);
		background-repeat: no-repeat;
		background-size: auto;
		position: absolute;
		display: none;
		height: 8px;
		width: 16px;
		bottom: -2px;
		left: 45%;
		z-index: 2;
	}
		.panel-tabs .md-btn.active > .active-link{
			display: block;
		}

.settings-main-c1{
	position: relative;
	float: left;
	padding-left: 15px;
	padding-right: 30px;
	width: 50%;
}
.settings-main-c2{
	position: relative;
	float: left;
	padding-left: 30px;
	padding-right: 15px;
	width: 50%;
}
.settings-main-c1 .help-block, .settings-main-c2 .help-block{
	font-size: 10px;
}
	.settings-main-c1 .help-block a, .settings-main-c2 .help-block a{
		color:#2f95ea;
	}
	.settings-main-c1 .help-block a:hover, .settings-main-c1 .help-block a:focus
	.settings-main-c2 .help-block a:hover, .settings-main-c2 .help-block a:focus{
		border-bottom:1px dashed #1565C0;
	}
