/**
* Jumbotron Wrapper
*/

.jumbotron_nav{
	border-top: 0;
}
.jumbotron_org-avatar{
	position: absolute;
	bottom: 20px;
	left: 50px;
	width: 180px;
	height: 180px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	z-index: 11;
}
	.jumbotron_org-avatar img{
		position: relative;
		margin: 5px;
		height: 170px;
		width: 170px;
		z-index: 2;
	}


.jumbotron_org-avatar-edit{
	position: absolute;
    height: 40px;
    transition: .15s;
    z-index: 3;
    bottom: 5px;
    left: 5px;
    width: 170px;
}
	.jumbotron_org-avatar-edit .fa{
		position: absolute;
	    font-size: 1.1em;
	    color: #fafafa;
	    opacity: .8;
	    text-shadow: 0 0 2px #777;
	    line-height: 40px;
	    left: 11px;
	    transition: .15s;
	}

	.jumbotron_org-avatar-edit span{
		display: none;
		padding: 5px 10px 5px 40px;
		color: #fff;
		font-size: 0.8em;
	}


.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit{
	background: rgba(0, 0, 0, .6);
}
	.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit span{
		display: inline-block;
	}

.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit:hover{
	background: rgba(0, 0, 0, .75);
}


.jumbotron_org-name-background{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 120px;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
}

.jumbotron_org-name{
	width: calc(100% - 300px);
	position: absolute;
	bottom: 50px;
	left: 280px;
}
	.jumbotron_org-name h2{
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 90%;
		color: #fff;
	}
	.jumbotron_org-name > a {
		display: inline-block;
		position: relative;
		vertical-align: top;
		top: 10px;
		left: 5px;
		font-size: 1.2em;
		color: #f5f7fa;
	}


/**
* Jumbotron Navigation in EVENTS SUBMODULE
*/

.jumbotron_nav-searching-block{
	height: inherit;
	margin: 0 20% 0 270px;
}
.jumbotron_nav-searching-block input{
	width: calc(100% - 60px);
	border: 0;
	outline: 0;
	height: inherit;
	padding: 0 5px;
	float: left;
}

	.jumbotron_nav-searching-block input:focus{
		box-shadow: inset 0 -1px 0 0 #008DA7;
	}

.jumbotron_nav-searching-select-wrapper{
	display: inline-block;
	position: relative;
	float: left;
	height: inherit;;
	width: 30px;
    text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.jumbotron_nav-searching-select-icon{
    line-height: 40px;
    color: #BDBDBD;
}
.jumbotron_nav-searching-select-wrapper:hover > .jumbotron_nav-searching-select-icon{
	color: #757575;
}
.jumbotron_nav-searching-select-dropdown-menu{
	margin-top: 4px;
	font-weight: 400;
	position: absolute;
	visibility: hidden;
	min-width: 100px;
	max-width: 200px;
	top: 40px;
	left: -30px;
	background-color: #FFF;
	border: 1px solid #BBB;
	padding: 5px 0;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
	pointer-events: none;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
	z-index: 10;
}
.jumbotron_nav-searching-select-dropdown-menu:after, .jumbotron_nav-searching-select-dropdown-menu:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    left: 44px;
    border: solid transparent;
}
	.jumbotron_nav-searching-select-dropdown-menu:before {
	    border-width: 6px;
	    border-bottom-color: #BBB;
		margin: 0 -6px;
	}
	.jumbotron_nav-searching-select-dropdown-menu:after {
    	border-width: 5px;
    	border-bottom-color: #fff;
		margin: 0 -5px;
	}



.jumbotron_nav-searching-select-wrapper.open .jumbotron_nav-searching-select-dropdown-menu{
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	filter: none;
	display: block;
}

.jumbotron_nav-searching-select-dropdown-item{
	display: block;
	position: relative;
	text-align: left;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
	.jumbotron_nav-searching-select-dropdown-item:hover {
		background-color: rgba(0,0,0,0.05);
	}


/**
* Jumbotron Navigation in SETTINGS SUBMODULE
*/

.jumbotron_nav-settings-list{
	width: 100%;
    height: inherit;
    margin-left: 280px;
}
.jumbotron_nav-settings-item{
	float: left;
	margin-right: 30px;
}




/*
**	Events on Organisation Page
*/

.event_wrapper{
	padding: 0;
	margin-bottom: 30px;
}
	.event_wrapper:nth-child(4n+1) .event_card { margin-left: 0; }
	.event_wrapper:nth-child(4n+2) .event_card { margin-left: 2.5%; }
	.event_wrapper:nth-child(4n+3) .event_card { margin-right: 2.5%; }
	.event_wrapper:nth-child(4n+4) .event_card { margin-right: 0; }

.event_card {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
		border: 1px solid rgba(150,150,150,0.3);
		box-shadow: 0 0 9px -3px rgba(0,0,0,.3);
		width: 90%;
		margin: auto;
		overflow: hidden;
}
	.event_card-image {
		display: block;
		border-radius: 3px 3px 0 0;
		position: relative;
		min-width: 100%;
		height: 200px;
		cursor: pointer;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.event_card-content {
	    padding: 5px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
	}
	.event_card-title {
	    line-height: 2em;
			font-size: 1.2em;
	}
		.event_card-title .pointer {
		    cursor: pointer;
		}
		.event_card-content .event_card-title .fa{
			padding: 10px;
			position:absolute;
			right: 0px;
			top:5px;
		}
		.event_card-reveal .event_card-title .fa{
			position: absolute;
			top: 2px;
			right: 5px;
			padding: 5px;
		}

	.event_card-reveal {
	    padding: 20px;
	    position: absolute;
	    background-color: #fff;
	    width: 100%;
	    overflow-y: auto;
	    top: 0;
	    height: 100%;
		display: none;
	}
		.event_card-reveal p{
			font-size: .85em;
		}

	.event_card-action {
	    position: relative;
	    background-color: inherit;
	    border-top: 1px solid rgba(150,150,150,0.3);
			border-bottom-left-radius:3px;
			border-bottom-right-radius:3px;
			height: 33px;
	    padding: 5px 15px;
			text-align: center;
			z-index: 2;
	}
		.event_card-action a{
			font-size: .9em;
		}
	.event-status{
		display:inline-block;
		padding:0px 6px;
		color:#000;
		border-radius:3px;
	}



/*
**	New Organization's Page Style
*/

.form_neworg{
	width: 100%;
}
.form_neworg_progress{
	position: relative;
	height: 5px;
	background-color: transparent;
	z-index: 0;
}
	.form_neworg_progress-wrapper{
		position: absolute;
		height: inherit;
		transition: 1s;
		background: linear-gradient(to right,#ff0033,yellow,#32cd32);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 900px;

		-moz-box-shadow:inset 0px -30px 64px -45px #fff;
		-webkit-box-shadow:inset 0px -30px 64px -45px #fff;
		box-shadow:inset 0px -30px 64px -45px #fff;

		top: 0;
		left: 0;
		width: 0;
		z-index: -1;
	}

.form_neworg_body{
	overflow: hidden;
	padding: 0;
	height: 227px;
}
.form_neworg_body-wrapper{
	display: block;
	position: relative;
	width: 300%;
	height: inherit;
}
.form_neworg_body-wrapper-item{
	display: inline-block;
	position: relative;
    transition: .5s ease-out;
	height: 187px;
    width: 33.33333333%;
}

.form_neworg .btn_hollow{
	color: #616161
}
	.form_neworg .btn_hollow:hover, .form_neworg .btn_hollow:focus{
		color: #212121
	}

.form_neworg .btn_hollow > .fa{
	padding-left: 5px;
	opacity: .5;
}
	.form_neworg .btn_hollow:hover > .fa, .form_neworg .btn_hollow:focus > .fa{
		opacity: 1;
	}






/*
**  Media - Tablet
*/

@media (max-width: 992px) {

	 .jumbotron_org-avatar-edit{
		 width: 30%
	 }
	 	.jumbotron_org-avatar-edit a{
			display: block;
			height: inherit;
			width: 100%;
			text-align: center;
		}
			.jumbotron_org-avatar-edit a .fa{
				position: relative;
				left: 0;
			}
	.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit{
		background: transparent;
	}
		.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit:hover{
			background: transparent;
		}
		.jumbotron_org-avatar:hover .jumbotron_org-avatar-edit span{
			display: none;
		}

		.event_wrapper:nth-child(3n+1) .event_card { margin-left: 2.5%; }
		.event_wrapper:nth-child(3n+2) .event_card { margin: auto; }
		.event_wrapper:nth-child(3n+3) .event_card { margin-right: 2.5; }
}


/*
**  Media - Mobile
*/

@media (max-width: 680px){

	.jumbotron_org-avatar{
		left: calc(50% - 90px);
    	width: 150px;
		height: 150px;
    	top: 50px;
	}
		.jumbotron_org-avatar img{
			width: 140px;
			height: 140px;
		}

	.jumbotron_org-name{
		left:auto;
		bottom:0;
		width:95%;
		text-align:center;
	}
		.jumbotron_org-name h2{
			font-size:1.4em;
		}

	.jumbotron_org-name-background{
		bottom: 0;
		height: 80px;
	}

	.jumbotron_nav-searching-block{
		display: none;
	}

	.jumbotron_nav-settings-list{
		height: initial;
		margin-left: 0;
	}


	.event_wrapper:nth-child(2n+1) .event_card { margin-left: 5%; }
	.event_wrapper:nth-child(2n+2) .event_card { margin-right: 5%; }

}


/*
**  Media - XS Mobile
*/

@media (max-width: 480px) {

	.event_wrapper:nth-child(n) .event_card { margin: auto; }

}
