input { 
	box-sizing: border-box; 
	
	outline:none;
	margin: 1em auto;
	padding:2%;
	width:100%;
	background-color: rgba(0,0,0,0.05);
	border:none;
	height:2.5em; 	
	/*width: 250px; 
	margin-top:25px;*/ 
	color:#757575; 
	/*background-color:#fff; 
	font-weight:500; */
} 

label { 
	font-size:1.285714285714286em; 
	position:absolute;
	bottom:0.8em;
	left:0.25em;
	pointer-events:none;
	color:#757575;
	font-family:arial; 
	transition: 0.5s ease all; 
} 

input:focus ~ .label-box label, 
input:valid ~ .label-box label { 
	font-size: 1em; 
	transform: translateY(-2.4em); 
	color:#757575; 
	font-weight:bolder; 
} 

.label-box { 
	position: relative; 
	width: 100%; 
} 

.label-box::before, 
.label-box::after { 
	content: ''; 
	position: absolute; 
	height: 1px; 
	left: 0; 
	width: 40%; 
	bottom: 0.8em; 
	background-color: #0D47A1; 
} 

.label-box::before { 
	right: 100%; 
	transition-property: width; 
	transition-duration: 0.5s; 
} 

.label-box::after { 
	right: 100%; 
	transition-property: width; 
	transition-duration: 0.5s; 
} 

input:focus ~ .label-box::before, 
input:focus ~ .label-box::after { 
	width: 100%; 
}