/*
CONSTANTS
	ProNWE BLUE - #2f95ea
}

*/
html {
	font-size: 1em !important;
}
@font-face {
	font-family: pronwe;
	src: url(Exo2-Medium.ttf);
}

.pronwe_Link-small{
	text-decoration:none!important; 
}
.pronwe_Link-small:hover{
    border-bottom:1px dashed #1565C0;
}
.pronwe_background{
	background-color:#2f95ea;
}
.pronwe_border-1px{
	background-color:rgba(70,70,70,0.25);
	padding:1px;
}
.pronwe_boxShadow{
	box-shadow:0px 0px 7px -3px rgba(40,40,40,1);
}
.pronwe_color{
	color:#2f95ea;
}
.pronwe_comment{
	font-size:0.75em;
	padding-left:1em;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}

.btn_area{
	margin:1em auto;
}
.btn_area1{
	margin-bottom: 1em;
}
.btn-another{
	color: #fff;
    background-color: #BDBDBD;
    border-color: #757575;
    opacity: 0.4;
}
.btn-another:hover{
	opacity: 1;
	color: #fff;
	background-color: #BDBDBD;
    border-color: #757575;
}
.date-inline{
	vertical-align: top;
    display: inline-block;
    width: auto;
    white-space: normal;
    zoom: 1;
}
.form-control-1, .form-control-2{
	width: auto;
    display: inline;
    height: 35px;
    padding: 6px 16px;
    color: #3a3f51;
    background-color: #fff;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.form-control-1:focus, .form-control-2:focus{
	border-color: #66afe9;
}
.error-border{
	border-color: rgb(185, 74, 72);
}
.success-border{
	border-color:#27c24c;
}
.logo-preview{
  width:150px; 
  height: 150px; 
  border-radius:10%; 
  margin:0 auto;
}
.logo-input{
  position: absolute; 
  clip: rect(0px 0px 0px 0px);
}
label {
    padding-top: 5px;
}