body.mobile-open{
    overflow: hidden;
}

.header{
    position: absolute;
    z-index: 10;
}
.header-home{
    background: initial;
	height: 85px;
	line-height: 85px;
    box-shadow: none;
}
.header-default{
	height: 65px;
	line-height: 65px;
    box-shadow: none;
}
.header-wrapper{
    position: relative;
    margin: 0 auto;
    height: inherit;
    width: 85%;
}
.header_menu-btn-icon, .header_menu-btn-icon > .header_button{
    width: 80px;
    height: inherit;
}
.header_menu-btn-icon > .header_button > i{
    display: block;
    position: absolute;
    background-color: #fff;
    width: 20px;
    left: 25px;
    top: 40px;
    margin: 5px auto;
    height: 2px;
    transition-property: background-color,transform,opacity,top;
    transition-duration: .25s,.25s,.25s,.25s;
    transition-delay: 0s;
    transition-timing-function: ease,ease-out,ease,ease-out;
}
.header_menu-btn-icon > .header_button > i:first-child{
    top: 33px;
}
.header_menu-btn-icon > .header_button > i:last-child{
    top: 47px;
}
.header_menu-btn-icon > .header_button.mobile-open > i:first-child,
.header_menu-btn-icon > .header_button.mobile-open >i:last-child {
    top: 40px;
    background-color: #008DA7;
    opacity: 1;
}
.header_menu-btn-icon > .header_button.mobile-open > i:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header_menu-btn-icon > .header_button.mobile-open > i {
    opacity: 0;
}
.header_menu-btn-icon > .header_button.mobile-open >i:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

        .header-default .header_menu-btn-icon > .header_button > i{
            top: 30px
        }
        .header-default .header_menu-btn-icon > .header_button > i:first-child{
            top: 23px
        }
        .header-default .header_menu-btn-icon > .header_button > i:last-child{
            top: 37px
        }
        .header-default .header_menu-btn-icon > .header_button.mobile-open > i:first-child,
        .header-default .header_menu-btn-icon > .header_button.mobile-open >i:last-child {
            top: 30px;
            background-color: #FFF;
            opacity: 1;
        }



.header-home .header_text-logo{
    line-height: normal;
    height: 32px;
    margin: 26.5px 30px 26.5px 0;
}
.header-default .header_text-logo{
    line-height: normal;
    height: 32px;
    margin: 16.5px 30px 16.5px 0;
}
.header_text-logo, .header-menu{
    display: inline-block;
    position: relative;
    height: inherit;
    width: auto;
    float: left;
    z-index: 11;
}
.header_text-logo:hover, .header_text-logo:focus{
    color: #FCFCFC;
}
.header-list{
    display: inline-block;
    margin: 0 .5em;
    position: relative;
}
.header_button:hover{
    background: none;
}
.header-mobile{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 9;
    background: #fff;
    border-right: 1px solid #BBB;
}
.header-mobile.open{
    display: block;
}
.header-home .header_text-logo.mobile-open{
    color: #008DA7;
    text-shadow: 0 0 1px #008DA7;
    font-weight: 700;
}
.header-menu-mobile{
    margin-top: 65px;
}
.header-menu-mobile.header-menu-mobile-home{
    margin-top: 85px;
}
.header-menu-mobile > .header-list{
    display: block;
    margin: 15px 0;
}
.header-menu-mobile > .header-list > .btn_hollow{
    display: block;
    text-align: left;
    text-shadow: none;
    font-size: 1.2em;
    color: #413a41;
    border: none;
    padding: 10px 30px
}
.header-menu-mobile > .header-list > .btn_hollow:hover,
.header-menu-mobile > .header-list > .btn_hollow:focus{
    background: initial;
    border-right: 4px solid #008DA7;
    border-radius: 0;
}

.btn_hollow{
    line-height: 1.5em;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    border: 2px solid rgba(220,235,255,.2);
    background: 0;
}
.btn_hollow .fa{
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 7px;
}
    .btn_hollow:hover, .btn_hollow:focus{
        color: #FCFCFC;
        background: rgba(220,235,255,.2);
        border: 2px solid transparent;
    }


.header-btn-mobile{
    margin: 30px 30px 0 30px;
    position: relative;
}
.header-btn-mobile .btn_hollow{
    width: 100%;
    border: 1px solid #bbb;
    text-shadow: none;
    font-size: 1em;
    color: #413a41;
}
    .header-btn-mobile .btn_hollow:hover, .header-btn-mobile .btn_hollow:focus{
        background-color: rgba(0,0,0,0.1);
    }
.header-btn-mobile .btn_primary{
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    white-space: normal;
}








.section{
    display: block;
    position: relative;
    width: 100%;
    height: 640px;
}
.section-small{
    height: 320px;
}
.section-extrasmall{
    height: 160px;
}
.background-dark{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .75;
}
.section-1 img{
    z-index: -1;
}
.container{
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.container-slogan{
    margin: 150px auto 0 auto;
}

.container-slogan > h1, .container-slogan > h3{
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.container-slogan > h1{
    font-size: 2.5em;
    margin-bottom: 70px;
}
.container-slogan > h3{
    font-weight: normal;
}
.container-button{
    margin: 100px auto 0 auto;
}
.container-button .btn{
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 20px 40px;
}


.section-2{

}

.mobile-close {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: .6;
}


@media (max-width: 992px) {
    .header-wrapper{
        width: 100%;
        padding-right: 30px;
    }
    .header-menu{
        display: none;
    }
    .container{
        width: 80%;
    }
    .container-button{
        margin: 80px auto 0 auto;
    }
}
@media (max-width: 600px) {
    .header-wrapper{
        padding-right: 10px;
    }
    .container{
        width: 95%;
    }
    .container-slogan{
        margin-top: 180px;
    }
    .container > h1{
        font-size: 2.2em;
        margin-bottom: 70px;
    }
    .container > h3 {
        font-size: 1.3em;
    }
    .container-button {
        margin-top: 80px;
    }
    .container-button .btn{
        font-size: 1em;
        padding: 20px;
    }
}
@media (max-width: 450px) {
    .container > h1{
        margin-bottom: 50px;
    }
    .container-slogan{
        margin-top: 120px;
    }
    .container-button {
        margin-top: 60px;
    }
}
@media (max-width: 390px){
    .header-wrapper{
        padding-right: 0px;
    }
    .header_menu-btn-icon, .header_menu-btn-icon > .header_button{
        width: 50px;
    }
    .container-button .btn {
        font-size: 1em;
        padding: 20px 10px;
    }
    .header-home .header_text-logo{
        margin-right: 15px;
    }
    .header_menu-btn-icon > .header_button > i{
        left: 15px;
    }
}
