@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body::-webkit-scrollbar 
{
	width: 0; 
}

body{
	font-family: MyriadProRegular;
	font-size:16px;
	background-color:#fff;
	background-image:url(../img/bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	/*background-position:0 4.5em;*/
	
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.top-bar{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:10;
	height:4.5em;
	background-image: url(../img/topbg.png);
	background-color:#315572;
	border-bottom:1px solid #000;
	/*box-shadow:inset 0 -5px 13px -5px rgba(0,0,0,0.75);*/
}

.pronwe_logo{
	height:80%;
	position:relative;
	left:5%;
	top:10%;
}

.menu{
	display:inline-block;
	list-style:none;
}

.topmenu{
	position:absolute;
	right:1em;
	top: 1em;
}

.topmenu li{
	display:inline-block;
	box-shadow: 0px 1px 3px 0px #000;
	margin:0 0.25em;
	border-radius: 2px;
}

.topmenu li a{
	display:inline-block;
	font-size:1.25em;
	font-stretch:300;
	padding:0.25em 0.5em;
	color:#fff;
	text-decoration:none;
}

.topmenu li a:hover{
	border-radius: 2px;
	background-color:rgba(0,196,65,0.75);
}

.firstVisibleContent{
	padding-top:4.5em;
	left:0;
	height:100vh;
	width:100%;
}

.community {
	position:absolute;
	top:125%;
	left:0;
	width:100%;
}

.community .title_bar{
	padding:1em;
	background-color:rgba(0,196,65,1);
}

.community>.title_bar>span, .title>span{
	font-size:2em;
	margin:1em;
	color:#ebebeb;
	text-shadow: 0px 1px 1px rgba(71,71,71,0.75);
}

.site_description{
	margin: 0 auto;
	width:33.33%;
	font-size:3.75em;
	text-align:center;
	
	color:#fff;
	text-shadow: 0 0 5px #fff,
	0px 2px 5px #000,
	2px 0px 5px #000;
}

.one_third{
	width:33.33%;
	display:inline-block;
}

.active_button{
	margin: 0 auto;
	margin-left:-2px;
	width:100%;
	position:absolute;
	bottom:20%;
}

.button{
	border-radius:2px;
	color:#ebebeb;
	background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(255,255,255,0.2));
	text-shadow: 0px 1px 1px rgba(71,71,71,0.75);
	text-decoration:none;
	box-shadow: 0px 1px 3px 0px #000,
	inset 0px 0px 15px 0px rgba(255,255,255,0.2);
	padding:0.25em 0.75em;
}

.medium_button{
	font-size:1.25em;
}

.big_button{
	font-size:2em;
}

.green_button{
	background-color:rgba(0,196,65,1)!important;
}

.blue_button{
	background-color:rgba(3,62,109,1)!important;
}

.client_container{
	width:90%;
	background-color:rgba(40,40,40,0.75);
	/*border:1px solid #000;*/
	padding:5px;
	color:#ebebeb;
}

.client_container>span{
	display:inline-block;
	font-size:1.5em;
	padding:5px;
}

.client_container ul{
	display:block;
	background-color:rgba(214,214,214,0.75);
	width:100%;
	margin:0;
	color:#333;
	list-style:none;
	padding:0;
}

.client_container ul li{
	font-size:1.25em;
	padding:0.5em;
}

.news, .block{
	width:100%;
	margin:0;
	box-shadow: 0px 0px 3px 0px rgba(74,74,74,0.5)/*,
		0px 0px 0px 0px rgba(74,74,74,0.5)*/;
}

.title{
	background-color:#315572;
	margin:0;
	text-align:left;
	padding:0.75em;
	padding-left:2em;
	font-size:0.9em;
}

.right-side .title{
	background-color:rgba(0,196,65,1);
}

.content{
	margin-top:3em;
	text-align:center;
	vertical-align:top;
}

.left-side, .right-side{
	display:inline-block;
}

.left-side{
	width:65%;
}

.right-side{
	width:23%;
	margin-right:3em;
	float:right;
}

.filter{
	background-color:#f7f7f7;
	background-image:url(../img/icon/filter.png);
	background-size:2em;
	background-repeat:no-repeat;
	background-position:1em 50%;
	min-height:4em;
}

.filter select{
	width:43%;
	position:relative;
	top:1.5em;
	outline-width:0;
	padding:0.25em 0.75em;
	box-shadow: 0 0 3px -1px #343434;
	display:inline-block;
	margin-left:3%;
}

.news .date{
	background:url(../img/calendar.png);
	background-size:2.1em;
	background-position:50% 0;
	background-repeat:no-repeat;
	width:18%;
	min-height:4em;
	font-size:3em;
	color:#505050;
	margin-right:0.1em;
}

.news .date>.month{
	display:block;
	margin-top:0.1em;
	font-size:0.49em;
}

.news .date span{
	position:relative;
	top:0.75em;
}

.news .news-item{
	width:80%;
	text-align:left;
	color:#505050;
}

.news-title span{
	font-size:1.75em;
	color:#315672;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

.news ul li{
	padding:1em 0;
}

.news ul li>div{
	display:inline-block;
	vertical-align:top;
}

.news ul li:nth-child(2n){
	background-color:#f7f7f7;
}

.news-item .info{
	margin-left:-1.5em;
	max-width:100%;
	color:#315672;
	font-size:0.9em;
	
}

.info span{
	display:inline-block;
	float:right;
}

.small-text{
	width:95%;
}

.small-text p::after{
	content:'Читать полностью';
	color:#315672;
}

a{
	text-decoration:none;
	color:inherit;
}

date,url,org{
	display:inline-block;
	color:#505050;
	padding-left:1.75em;
	height:31px;
	line-height:30px;
	background-repeat:no-repeat;
	background-position:0;
	background-size:25px;
	transition:0.25s;
	transition-delay:0.1s;
	cursor:default;
}

date{
	background-image:url(../img/icon/bw-calendar.png);
}

date:hover{
	background-image:url(../img/icon/calendar.png);
}

url{
	background-image:url(../img/icon/bw-url.png);
}

url:hover{
	background-image:url(../img/icon/url.png);
}

.block_container{
	margin-bottom:1em;
}

.sub-title{
	background-color:#f7f7f7;
	min-height:2em;
}

.right-side .title>span{
	margin:0em;
}

.search{
	background-color:rgba(0,0,0,0);
	color:#5a5a5a;
	margin:0.5em;
	padding:0.25em 0;
	padding-right:25px;
	padding-left:0.25em;
	outline:none;
	border:0;
	width:80%;
	font-size:0.9em;
	border-bottom:1px solid rgba(0,196,65,1);
	min-height:21px;
	
	background-repeat:no-repeat;
	background-position:99% 50%;
	background-size:18px;
	background-image:url(../img/icon/bw-search.png);
	transition-delay:0.1s;
	transition:0.5s;
}

.search:focus{
	background-image:url(../img/icon/search.png);
}

.block-content{
	padding:0.5em;
}

.block-content ul .name>span{
	color:rgba(0,196,65,1);
}

.block-content .logo{
	max-width:200px;
	margin:0 auto;
}

.block-content .logo img{
	max-width:100%;
	display:block;
}

.block-content .logo{
	width:100%;
	color:#505050;
	text-align:left;
}

.block-content .logo>.view_counter{
	padding-left:23px;
	background-repeat:no-repeat;
	background-position:0 50%;
	background-image:url(../img/icon/eye.png);
	display:inline-block;
}

#feedback .sub-title{
	transition:0.25s;
}

#feedback .sub-title:hover{
	cursor:pointer;
	text-shadow: 0px 0px 1px rgba(71,71,71,0.5);
}

#feedback .sub-title span{
	color:#5a5a5a;
	line-height:2em;
}


#feedback .logo{
	width:150px;
	height:150px;
	border-bottom:5px solid rgba(0,196,65,0.75);
	border-radius:50%;
	margin-bottom:0.5em;
}

#feedback .name span{
	font-weight:500;
	font-size:1.25em;
}

#feedback .name .org{
	font-size:0.75em;
	color:#333;
}

#feedback img{
	border-radius:inherit;
}

#feedback p{
	margin:0.5em 0;
	font-size:0.9em;
	color:#505050;
}

#feedback p::after{
	content:'Читать полностью';
	color: rgba(0,196,65,0.75);
}