@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body::-webkit-scrollbar 
{
	width: 0; 
}

body{
	font-family: MyriadProRegular;
	font-size:16px;
	background-color:#fff;
	background-image:url(../img/bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	/*background-position:0 4.5em;*/
	
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.top-bar{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:10;
	height:4.5em;
	background-image: url(../img/topbg.png);
	background-color:#315572;
	border-bottom:1px solid #000;
	/*box-shadow:inset 0 -5px 13px -5px rgba(0,0,0,0.75);*/
}

.pronwe_logo{
	height:80%;
	position:relative;
	left:5%;
	top:10%;
}

.menu{
	display:inline-block;
	list-style:none;
}

.topmenu{
	position:absolute;
	right:1em;
	top: 1;
}

.topmenu li{
	display:inline-block;
	box-shadow: 0px 1px 3px 0px #000;
	margin:0 0.25em;
	border-radius: 2px;
}

.topmenu li a{
	display:inline-block;
	font-size:1.25em;
	font-stretch:300;
	padding:0.25em 0.5em;
	color:#fff;
	text-decoration:none;
}

.topmenu li a:hover{
	border-radius: 2px;
	background-color:rgba(0,196,65,0.75);
}

.firstVisibleContent{
	padding-top:4.5em;
	left:0;
	height:100vh;
	width:100%;
}

.community {
	position:absolute;
	top:125%;
	left:0;
	width:100%;
}

.community .title_bar{
	padding:1em;
	background-color:rgba(0,196,65,1);
}

.community>.title_bar>span, .news_container>.title>span{
	font-size:2em;
	margin:1em;
	color:#ebebeb;
	text-shadow: 0px 1px 1px rgba(71,71,71,0.75);
}

.site_description{
	margin: 0 auto;
	width:33.33%;
	font-size:3.75em;
	text-align:center;
	
	color:#fff;
	text-shadow: 0 0 5px #fff,
	0px 2px 5px #000,
	2px 0px 5px #000;
}

.one_third{
	width:33.33%;
	display:inline-block;
}

.active_button{
	margin: 0 auto;
	margin-left:-2px;
	width:100%;
	position:absolute;
	bottom:20%;
}

.button{
	border-radius:2px;
	color:#ebebeb;
	background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(255,255,255,0.2));
	text-shadow: 0px 1px 1px rgba(71,71,71,0.75);
	text-decoration:none;
	box-shadow: 0px 1px 3px 0px #000,
	inset 0px 0px 15px 0px rgba(255,255,255,0.2);
	padding:0.25em 0.75em;
}

.medium_button{
	font-size:1.25em;
}

.big_button{
	font-size:2em;
}

.green_button{
	background-color:rgba(0,196,65,1)!important;
}

.blue_button{
	background-color:rgba(3,62,109,1)!important;
}

.client_container{
	width:90%;
	background-color:rgba(40,40,40,0.75);
	/*border:1px solid #000;*/
	padding:5px;
	color:#ebebeb;
}

.client_container>span{
	display:inline-block;
	font-size:1.5em;
	padding:5px;
}

.client_container ul{
	display:block;
	background-color:rgba(214,214,214,0.75);
	width:100%;
	margin:0;
	color:#333;
	list-style:none;
	padding:0;
}

.client_container ul li{
	font-size:1.25em;
	padding:0.5em;
}

.news_container .news{
	width:100%;
	margin:0;
	box-shadow: 0px 0px 3px 0px rgba(74,74,74,0.5)/*,
		0px 0px 0px 0px rgba(74,74,74,0.5)*/;
}

.news_container .title{
	background-color:#315572;
	margin:0;
	text-align:left;
	padding:0.75em;
	padding-left:2em;
	font-size:0.9em;
}

.content{
	margin-top:3em;
	text-align:center;
}

.left-side, .right-side{
	display:inline-block;
}

.left-side{
	width:65%;
}

.right-side{
	width:25%;
	margin-left:2em;
}

.filter{
	background-color:#f7f7f7;
	background-image:url(../img/filter.png);
	background-size:2em;
	background-repeat:no-repeat;
	background-position:1em 50%;
	min-height:4em;
}

.filter select{
	width:43%;
	position:relative;
	top:1.5em;
	outline-width:0;
	padding:0.25em 0.75em;
	box-shadow: 0 0 3px -1px #343434;
	display:inline-block;
	margin-left:3%;
}

.news .date{
	background:url(../img/calendar.png);
	background-size:60%;
	background-position:50% 0;
	background-repeat:no-repeat;
	width:18%;
	min-height:4em;
	font-size:3em;
	color:#505050;
}

.news .date span{
	position:relative;
	top:0.7em;
}

.news .news-item{
	width:80%;
	
}

.news ul{
	margin:0;
	padding:0;
	list-style:none;
}

.news ul li{
	padding:1em 0;
}

.news ul li>div{
	display:inline-block;
	vertical-align:top;
}

.news ul li:nth-child(2n){
	background-color:#f7f7f7;
}