@font-face {
	font-family: miss1;
	src: url(../fonts/7867.ttf); 
}
@font-face {
	font-family: Pompadur;
	src: url(../fonts/Pompadur.ttf); 
}
@font-face {
	font-family: pronwe;
	src: url(../fonts/Exo2-Medium.ttf); 
}

body{
	background:url(../img/bg_2.svg) #000;
	background-size: 60%;
	background-attachment:fixed;
	background-position:bottom right;
	background-repeat:no-repeat;
	color:#ddd;
	font-family:Arial;
}

ul{
	list-style-type:none;
}

.top_nav{
	padding:0;
	width:100%;
	text-align:center;
}

.top_nav li{
	display:inline-block;
	margin:0.25em auto;
	transition:0.25s;
	font-family:pronwe;
	border:2px solid #efbd56;
	
	/*border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#fcdc79), to(#d58120)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#fcdc79, #d58120) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#fcdc79, #d58120) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#fcdc79, #d58120) 1 100%;
    border-image:
      linear-gradient(to bottom, #fcdc79, #d58120) 1 100%;*/
}

.top_nav li:hover a{
	color:#fff;
}

.top_nav li a{
	display:block;
	width:15em;
	margin:-1px;
	text-align:center;
	color:#ddd;
	text-decoration:none;
	padding:0.5em;
}

.stages-buttons{
	margin:0 auto;
	padding:0;
	width:100%;
	text-align:center;
}

.stages-buttons li{
	display:inline-block;
	margin:0.5em;
	font-family:pronwe;
	font-size:1.25em;
	border:1px solid #ddd;
}

.active{
	background: #d58120; /* Для старых браузров */
    background: linear-gradient(to right, #fcdc79, #d58120);
}
.active a{
    text-shadow: 1px 1px 10px #1E88E5, 1px 1px 3px #000;
}

.stages li a{
	width:3em;
	font-size:0.75em;
	cursor:pointer;
}

.stages-buttons li a{
	display:block;
	width:6em;
	padding:2em;
}

.main_logo{
	margin:0 auto;
	width:60%;
	display:block;
}

.description{
	font-family:Pompadur;
	font-weight: 700;
	font-size:1.3em;
	text-align:center;
}

.main_container{
	width:70%;
	margin:3em auto;
	background-color:rgba(0,0,0,0.85);
	padding: 1em;
	border-bottom:3px solid #efbd56;
	text-align: center;
}

.footer{
	margin:-2em auto;
	margin-bottom:15%;
	text-align:center;
	font-family:pronwe;
	width:50%;
	padding:0;
	font-size:0.75em;
}

.pronwe_link{
	text-decoration:none;
	color:#fff;
	transition:0.25s
}

.pronwe_link:hover{
	border-bottom:1px dashed #1565C0;
	color:#1565C0;
}

.photo{
	border-radius:50%;
	width:12.5em;
	height:12.5em;
	border:5px solid #ddd;
	transition:0.25s;
	background-position:center center;
	background-size:cover;
}

.name{
	display:inline-block;
	font-size:2em;
	font-family:pronwe;
	color:#ddd;
	margin-left:10%;
}

.rating-list{
	padding:0;
	text-align:center;
}

.rating-list li .name{
	margin:0;	
}

.rating-list li .photo{
	margin:0 auto;
}

.rating-list li{
	text-align:center;
	display:inline-block;
	width:15em;
	margin:0 auto;
}

.participant-list li div{
	display:inline-block;
	vertical-align:middle;
}

.participant-list li{
	padding:1em;
}

.participant-list li:not(:last-child){
	border-bottom: 1px dashed #efbd56;
}

.participant-list li:hover{
	cursor:pointer;
}

.participant-list li:hover small{
	color:#efbd56;
}

.participant-list li:hover .photo{
	border-color:#efbd56;
}

small{
	font-size:0.5em;
	font-weight:bold;
	font-family:miss1;
	color:#fff;
}

/* RATING */

.rating-bar{
	background:black;
	padding:3px;
	border:1px solid #fff;
	margin:1em;
}
.rating-bar span{
	display:block;
	height:15px;
	background: #efbd56;
}
.rating-bar, .rating-bar span {
	border-radius:4px; 
}

.animate{
	color:#ddd;
	font-weight:bold;
	padding: 0.75em 0;
	animation: progress 2s linear;
	-moz-animation: progress 2s linear;
	-webkit-animation: progress 2s linear;
	-ms-animation: progress 2s linear;
	-o-animation: progress 2s linear;
}

@-webkit-keyframes progress {
	from { width:0% }
	to { width:100%; }
}
@-moz-keyframes progress {
	from { width:0% }
	to { width:100%; }
}
@-ms-keyframes progress {
	from { width:0% }
	to { width:100%; }
}
@-o-keyframes progress {
	from { width:0% }
	to { width:100%; }
}
@keyframes progress {
	from { width:0% }
	to { width:100%; }
}

@media screen and (min-width: 736px){

	.top_nav li:nth-child(2n):hover{
		-moz-transform: rotate(5deg); /* Для Firefox */
		-ms-transform: rotate(5deg); /* Для IE */
		-webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(5deg); /* Для Opera */
		transform: rotate(5deg);
	}

	.top_nav li:nth-child(2n+1):hover{
		-moz-transform: rotate(-5deg); /* Для Firefox */
		-ms-transform: rotate(-5deg); /* Для IE */
		-webkit-transform: rotate(-5deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(-5deg); /* Для Opera */
		transform: rotate(-5deg);
	}
}

@media screen and (max-width: 735px) {
		
	.top_nav li a{
		width:10em;
	}
	.participant-list{
		padding:0;
	}
	.participant-list li{
		text-align:center;
	}
	.name{
		margin:0;
	}
	.participant-list li small{
		display:block;
	}
	.rating-list li:not(:last-child){
		border-bottom: 1px dashed #efbd56;
	}
	.rating-list li{
		padding:1em;
	}
}




.partners li{
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    margin-top: 20px;
    border: 3px solid #efbd56;
}
.partners li a img{
	padding: 20px;
	position: relative;
	height: 100px;
}