<div ng-controller="CurentOrganizationCtrl as organization" class="content-wrapper" style="background-color:{{organization.info.style.background}}; font-family: {{organization.info.style.font}}; color: {{organization.info.style.color}}")>
  <div class="row">
    <div class="events-list-container col-sm-8 col-xs-12">
      <searcheventinorganization></searcheventinorganization>
      <eventsinorganization></eventsinorganization>
    </div>
    <organizationcolumn></organizationcolumn>
  </div>
</div>
