<div class="organization-info col-sm-4">
    <div class="organization-block shadow-8dp">
      <md-button aria-label="{{organization.settings.name}}" class="{{organization.settings.class}}" ng-href="{{organization.settings.link}}" md-ink-ripple="#64b5f6">
        <md-tooltip md-direction="{{organization.settings.direction}}" md-visible="tooltipVisible" md-autohide="false">{{organization.settings.name}}</md-tooltip>
        <md-icon md-svg-src="{{organization.settings.icon}}" aria-label="{{organization.settings.name}}"></md-icon>
      </md-button>
      <div class="organization-logo shadow-5dp" style="background: url(../assets/img/temp/{{organization.info.logo}}) no-repeat;"></div>
      <div class="organization-body">
        <div class="organization-descriprion" ng-bind-html="organization.OrganizationDescriprion"></div>
      </div>
    </div>
</div>
