<div class="event-options">
  <md-input-container class="col-xs-6 md-block search-input">
    <label>Поиск мероприятия</label>
    <input ng-model="organization.search.event">
  </md-input-container>
  <div class="search-opt">
    <md-input-container class="col-xs-4 md-block search-opt-1">
      <label>Сортировать по</label>
      <md-select ng-model="organization.search.sort">
        <md-option ng-repeat="param in organization.searchFilter" value="{{param.id}}" md-ink-ripple="#64b5f6">
          {{param.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-button class="pull-right md-icon-button addevent" aria-label="AddEvent" ng-href="#/event/add" md-ink-ripple="#64b5f6" ng-hide="organization.HiddenEdit">
      <md-tooltip md-visible="tooltipVisible" md-autohide="false">Добавить мерприятие</md-tooltip>
      <md-icon md-svg-icon="../assets/img/icons/plus.svg"></md-icon>
    </md-button>
    <md-button class="pull-right md-icon-button organization-column-sm" aria-label="OrgColumn" md-ink-ripple="#64b5f6" ng-click="organization.toggleRight()" ng-hide="organization.isOpenRight()">
      <md-tooltip md-visible="tooltipVisible" md-autohide="false">Информация об организации</md-tooltip>
      <md-icon md-svg-icon="../assets/img/icons/menu.svg"></md-icon>
    </md-button>
  </div>
</div>
