/**
 * Dropdown Style
 */
.dropdown-block{
    position: relative;
    cursor: pointer;
    float: left;
}
.dropdown-btn{
    display: inline-block;
    text-align: center;
    float: left;
}
.dropdown-menu{
    margin-top: 4px;
    font-weight: 400;
    position: absolute;
    visibility: hidden;
    min-width: 100px;
    max-width: 200px;
    top: 110%;
    right: 0;
    background-color: #FFF;
    border: 1px solid #BBB;
    padding: 5px 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
    z-index: 10;
}
.dropdown-menu:after,
.dropdown-menu:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    right: 25%;
    border: solid transparent;
}
.dropdown-menu:before{
    border-width: 6px;
    border-bottom-color: #BBB;
    margin: 0 -6px;
}
.dropdown-menu:after {
    border-width: 5px;
    border-bottom-color: #fff;
    margin: 0 -5px;
}

.dropdown-menu--right {
    right: 0;
}
.dropdown-menu--right:after,
.dropdown-menu--right:before {
    right: 25%;
}
.dropdown-menu--left {
    left: 0;
    right: inherit;
}
.dropdown-menu--left:after,
.dropdown-menu--left:before {
    left: 25%;
    right: inherit;
}
.dropdown-block--open .dropdown-menu {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    filter: none;
    display: block;
    top: calc(100% - 4px);
}

.dropdown-menu_btn{
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-menu_btn > .fa {
    margin-right: 7px;
    color: #008DA7;
}
.dropdown-menu_btn:hover{
    background-color: rgba(0,0,0,0.05);
}