/**
 * Header Style
 *
 * header : all pages
 * header-home : landing page
 */

body.hidden .header, body.hidden .header_text-logo{
    overflow: hidden;
    padding-right: 17px;
}

.header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    height:50px;
    line-height:50px;
    background-color: #008DA7;
    box-shadow: rgb(0, 0, 0) 0px -1px 15px -5px;
    cursor: default;
    z-index: 110;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.header-home{
    background: initial;
    height: 85px;
    line-height: 85px;
    position: absolute;
    box-shadow: none;
}


.header-wrapper{
    display: block;
    width: 80%;
    height: inherit;
    margin: 0 auto;
}


/* brand */
.header-brand{
    position: relative;
    float: left;
    text-align: center;
    font-size: 2em;
    width: 120px;
    margin-right: 1em;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 111;
}
.header-brand, .header-brand:hover, .header-brand:focus{
    color: #FCFCFC;
}
.header-brand--active, .header-brand--active:hover, .header-brand--active:focus{
    color: #008DA7;
    text-shadow: none;
}


/* wrapper_btn */
.header-wrapper_btn{
    display: block;
    position: relative;
    max-width: 200px;
    height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    padding: 0 18px;
    transition: background-color .1s;
}




/* wrapper_menu-icon */
.header-menu_icon{
    display: none;
    text-align: center;
    height: inherit;
    float: left;
}
.header-menu_icon > .header-wrapper_btn{
    z-index: 111;
}
.header-menu_icon, .header-menu_icon > .header-wrapper_btn{
    width: 50px;
    padding: 0;
}
.header-home .header-menu_icon, .header-home .header-menu_icon > .header-wrapper_btn {
    width: 60px;
    padding: 0;
}

.header-menu_icon > .header-wrapper_btn > i{
    display: block;
    position: absolute;
    background-color: #fff;
    width: 20px;
    left: 15px;
    top: 20px;
    margin: 5px auto;
    height: 2px;
    transition-property: background-color,transform,opacity,top;
    transition-duration: .25s,.25s,.25s,.25s;
    transition-delay: 0s;
    transition-timing-function: ease,ease-out,ease,ease-out;
}
.header-menu_icon > .header-wrapper_btn > i:first-child{
    top: 13px;
}
.header-menu_icon > .header-wrapper_btn > i:last-child{
    top: 27px;
}

.header-menu_icon > .header-wrapper_btn--open > i {
    opacity: 0;
}
.header-menu_icon > .header-wrapper_btn--open > i:first-child,
.header-menu_icon > .header-wrapper_btn--open >i:last-child {
    top: 20px;
    background-color: #008DA7;
    opacity: 1;
}
.header-menu_icon > .header-wrapper_btn--open > i:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header-menu_icon > .header-wrapper_btn--open >i:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.header-home .header-menu_icon > .header-wrapper_btn > i{
    left: 20px;
    top: 35px
}
.header-home .header-menu_icon > .header-wrapper_btn > i:first-child{
    top: 28px
}
.header-home .header-menu_icon > .header-wrapper_btn > i:last-child{
    top: 42px
}
.header-home .header-menu_icon > .header-wrapper_btn--open > i:first-child,
.header-home .header-menu_icon > .header-wrapper_btn--open >i:last-child {
    top: 35px;
}





/* wrapper_menu */
.header-menu, .header-menu-right{
    position: relative;
    height: inherit;
}
.header-menu{
    float: left;
}
.header-menu-right{
    float: right !important;
}

.header-menu_btn{
    float: left;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 18px;
    transition: background-color .1s;
    font-size: .9em;
    text-align: center;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.header-menu_btn:hover, .header-menu_btn:focus{
    background-color: rgba(0,0,0,0.1);
    font-size: .9em;
    text-align: center;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.header-menu_btn--active{
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0 -3px 0 0 #005D6E;
}
.header-home .header-menu_btn--hollow{
    padding: 6px 16px;
    line-height: 1.5em;
    border: 1px solid #FCFCFC;
    border-radius: 3px;
    margin: 25px 0 25px 5px;
    background: 0;
    box-shadow: none;
}
.header-home .header-menu_btn--hollow:hover, .header-home .header-menu_btn--hollow:focus{
    background: #008DA7;
}




/* mobile menu */
.header-mobile{
    position: fixed;
    top:0;
    bottom: 0;
    left: -220px;
    width: 220px;
    background: #fff;
    border-right: 1px solid #BBB;
    transition-property: left;
    transition-duration: .5s;
    z-index: 110;
}
.header-mobile--open{
    overflow-y: auto;
    left: 0;
}
.mobile-menu{
    position: absolute;
    overflow: hidden;
    line-height: normal;
    padding-top: 10px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #EEEEEE;
}
.mobile-menu{
    margin-top: 50px;
}
.header-home .mobile-menu{
    margin-top: 85px;
}

.mobile-menu_item-link, .mobile-menu_collapse-link{
    display: block;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobile-menu_item-link > .fa, .mobile-menu_collapse-link > .fa  {
    width: 15px;
    margin-right: 5px;
}
.mobile-menu_collapse-link{
    padding-left: 35px;
}

.mobile-menu_item-link:hover, .mobile-menu_item-link:focus,
.mobile-menu_collapse-link:hover, .mobile-menu_collapse-link:focus,
.mobile-menu_item-link--active, .mobile-menu_collapse-link--active{
    color: #008DA7;
}
.mobile-menu_item--active{
    background: rgba(0,0,0,0.02);
    border-left: 2px solid #008DA7;
}

.mobile-menu_item[data-toggle="collapse"] > .mobile-menu_collapse{
    display: none;
}

.show-only-mobile{
    display: none;
}


@media (max-width: 992px) {

    .header-wrapper{
        width: 100%;
        padding-right: 10px;
    }

    .header-menu_icon{
        display: block;
    }

}


@media (max-width: 460px) {
    .show-only-mobile{
        display: block;
    }
}
